// fonts
@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/CircularStd-Book.woff2') format('woff2'),
	url('../fonts/CircularStd-Book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/CircularStd-Medium.woff2') format('woff2'),
	url('../fonts/CircularStd-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/CircularStd-Bold.woff2') format('woff2'),
	url('../fonts/CircularStd-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/CircularStd-Black.woff2') format('woff2'),
	url('../fonts/CircularStd-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

// vars
$default_font: 'Circular Std', sans-serif;
$default_color: red;
$accent_color: blue;

// default-sets
html {
	height: 100%;
	* {
		box-sizing: border-box;
		outline: none;
	}
}

body {
	overflow-x: hidden;
	min-width: 320px;
	font-family: $default_font;
	font-size: 16px;
	line-height: 1;
	padding: 0;
	margin: 0;
	height: 100%;
	&.hidden {
		overflow: hidden;
	}
}

// typographic
h1, .h1 {
	font-family: $default_font;
	font-weight: 700;
	line-height: 70px;
	font-size: 60px;
	letter-spacing: -1px;
	color: #FFFFFF;
	margin: 0;
}

h2, .h2 {
	font-family: $default_font;
	font-size: 60px;
	text-align: center;
	letter-spacing: -1px;
	color: #fff;
	line-height: 1.1;
	margin: 0;
}

h3, .h3 {
}

p {
}

ul, ol {
	list-style: none;
	padding: 0;
	li {
	}
}

a {

}

// grid
.container {
	max-width: 1044px;
	padding: 0 10px;
	margin: auto;
}

.header {
	position: absolute;
	top: 0;
	left: 0; right: 0;
	z-index: 1;
	.burger {
		display: none;
		position: absolute;
		top: 50%; left: 30px;
		width: 16px;
		height: 8px;
		margin-top: -4px;
		z-index: 200;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0; right: 0;
			height: 1px;
			background: #FFFFFF;
			border-radius: 1px;
			transition: 100ms;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0; right: 0;
			height: 1px;
			background: #FFFFFF;
			border-radius: 1px;
			transform: translateY(7px);
			transition: 100ms;
		}
		&.active {
			&:before {
				transform: translateY(4px) rotate(45deg);
			}
			&:after {
				transform: translateY(4px) rotate(-45deg);
			}
		}
	}
	.header-wrapper {
		height: 185px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.logo {
			width: 188px;
			height: 90px;
			background-position: center center;
			background-repeat: no-repeat;
			background-image: url('../img/logo.svg');
		}
		.nav {
			display: flex;
			flex-direction: row;
			.item {
				font-family: $default_font;
				font-size: 16px;
				color: #FFFFFF;
				margin-left: 75px;
				text-decoration: none;
				transition: 100ms;
				&:first-child {
					margin-left: 0;
				}
				&:hover {
					color: #F12986;
				}
			}
		}
	}
}

.sidebar {
	position: fixed;
	top: 0;
	height: 100%;
	right: 0;
	width: 80px;
	background: #131568;
	z-index: 100;
	transform: translateX(90%);
	transition: 200ms;
	&.active {
		transform: translateX(0);
	}
	.circle-btn {
		position: absolute;
		top: 50%;
		left: 0;
		width: 25px;
		height: 25px;
		margin-left: -12.5px;
		margin-top: -12.5px;
		border-radius: 50%;
		background-color: #fff;
		background-image: url('../img/chevron-left.svg');
		background-position: center center;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	.label {
		position: absolute;
		top: 50%;
		transform: rotate(90deg) translateX(-20px);
		font-family: $default_font;
		font-size: 20px;
		color: #FFFFFF;
	}
	.social-btns {
		position: absolute;
		bottom: 0;
		top: 60%;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		.social-btn {
			margin-bottom: 35px;
			transition: 100ms;
			&:hover {
				path {
					fill: #F12986;
				}
			}
		}
		.gray-line {
			width: 40px;
			height: 1px;
			background: #FFFFFF;
			opacity: 0.05;
			margin-bottom: 35px;
		}
		.chat-btn {
			width: 40px;
			height: 40px;
			background-color: #292EF1;
			border-radius: 50%;
			background-image: url('../img/chat.svg');
			background-position: center center;
			background-repeat: no-repeat;
			transition: 100ms;
			&:hover {
				background-color: darken(#292EF1, 10%);
			}
		}
	}
}

.main {
	position: relative;
	background-image: url('../img/main_bg.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 10px;
	height: 800px;
	.main-triangle {
		position: absolute;
		bottom: 0; left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent transparent transparent #0C0E46;
		border-top-width: 80px;
		border-right-width: 0px;
		border-bottom-width: 0px;
	}
	.main-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		max-width: 1024px;
		margin: auto;
	}
	.header-indent {
		width: 100%;
		height: 185px;
	}
	.main-block {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		.left {
			flex: 50%;
			.desc {
				font-family: $default_font;
				line-height: 30px;
				font-size: 20px;
				color: #FFFFFF;
				margin-top: 30px;
			}
		}
		.right {
			flex: 50%;
			padding-bottom: 10px;
			.countdown {
				display: flex;
				flex-direction: row;
				justify-content: center;
				.countdown-timer {
					font-family: $default_font;
					font-weight: 700;
					font-size: 65px;
					text-align: center;
					color: #FFFFFF;
				}
				.countdown-label {
					font-family: $default_font;
					font-size: 17px;
					text-align: center;
					color: #FFFFFF;
					opacity: 0.4;
				}
				.dots {
					font-family: $default_font;
					font-size: 25px;
					text-align: center;
					color: #2BDEFF;
					padding-top: 20px;
					margin: 0 20px;
				}
			}
		}
	}
	.buttons {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		.btn-pink {
			display: block;
			width: 210px;
			height: 55px;
			line-height: 55px;
			text-decoration: none;
			background-color: #F12986;
			transition: 100ms;
			border-radius: 4px;
			text-align: center;
			font-family: $default_font;
			font-weight: 700;
			font-size: 12px;
			letter-spacing: 0.428571px;
			text-transform: uppercase;
			color: #FFFFFF;
			margin-right: 30px;
			&:hover {
				background-color: darken(#F12986, 10%);
			}
		}
		.btn-blue {
			display: block;
			width: 210px;
			height: 55px;
			line-height: 55px;
			text-decoration: none;
			background-color: #131568;
			transition: 100ms;
			border-radius: 4px;
			text-align: center;
			font-family: $default_font;
			font-weight: 700;
			font-size: 12px;
			letter-spacing: 0.428571px;
			text-transform: uppercase;
			color: #FFFFFF;
			&:hover {
				background-color: lighten(#131568, 10%);
			}
		}
	}
	.progress-bar {
		width: 100%;
		max-width: 910px;
		height: 60px;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 40px;
		padding: 0 30px;
		display: flex;
		align-items: center;
		.line {
			position: relative;
			width: 100%;
			height: 3px;
			background: rgba(0, 0, 0, 0.3);
			border-radius: 5px;
			.line-fill {
				position: absolute;
				top: 0;
				left: 0;
				width: 60%;
				height: 3px;
				background: #2BDEFF;
				border-radius: 5px;
			}
			.dot {
				position: absolute;
				top: 50%;
				border-radius: 50%;
				&.dot-0 {
					width: 8px;
					height: 8px;
					margin-top: -4px;
					margin-left: -4px;
					left: 20px;
					background: #FFFFFF;
					box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
				}
				&.dot-1 {
					width: 8px;
					height: 8px;
					margin-top: -4px;
					margin-left: -4px;
					left: 210px;
					background: #FFFFFF;
					box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
				}
				&.dot-2 {
					left: 400px;
					width: 8px;
					height: 8px;
					margin-left: -4px;
					margin-top: -4px;
					background: #FFFFFF;
					box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
					.big-circle {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 84px;
						height: 84px;
						margin-left: -42px;
						margin-top: -42px;
						background: rgba(255, 255, 255, 0.08);
						border-radius: 50%;
						animation: scaling 3000ms linear infinite;
					}
					.middle-circle {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 84px;
						height: 84px;
						margin-left: -42px;
						margin-top: -42px;
						border-radius: 50%;
						background: rgba(255, 255, 255, 0.08);
						border-radius: 50%;
						animation: scaling 3000ms 1000ms linear infinite;
					}
					.small-circle {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 84px;
						height: 84px;
						margin-left: -42px;
						margin-top: -42px;
						background: rgba(255, 255, 255, 0.08);
						border-radius: 50%;
						animation: scaling 3000ms 2000ms linear infinite;
					}
				}
				&.dot-3 {
					left: 590px;
					width: 12px;
					height: 12px;
					margin-top: -6px;
					margin-left: -6px;
					border: 4px solid #1E2958;
					background: #FFFFFF;
				}
				&.dot-4 {
					left: 780px;
					width: 12px;
					height: 12px;
					margin-top: -6px;
					margin-left: -6px;
					border: 4px solid #1E2958;
					background: #FFFFFF;
				}
			}
			.label {
				position: absolute;
				top: 50px;
				font-family: $default_font;
				font-size: 16px;
				text-align: center;
				color: #FFFFFF;
				transform: translateX(-50%);
				&.label-0 {
					left: 20px;
				}
				&.label-1 {
					left: 210px;
				}
				&.label-2 {
					left: 400px;
					top: auto;
					bottom: 50px;
				}
				&.label-3 {
					left: 590px;
				}
				&.label-4 {
					left: 780px;
				}
			}
		}
	}
	.scroll-btn {
		width: 60px;
		height: 60px;
		background-color: #fff;
		border-radius: 50%;
		background-image: url('../img/chevron_down.svg');
		background-position: center center;
		background-repeat: no-repeat;
		cursor: pointer;
		&:hover {
			background-color: darken(#fff, 20%);
		}
	}
}

.video {
	position: relative;
	padding-top: 120px;
	padding-bottom: 350px;
	background-color: #0C0E46;
	overflow: hidden;
	.bg-block {
		position: absolute;
		top: 250px;
		left: 50%;
		transform: translateX(-50%);
		width: 623px;
		height: 636px;
		background-image: url('../img/video_bg.png');
		background-repeat: no-repeat;
		background-position: center center;
		margin-left: -311.5px;
		z-index: 1;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 2092px;
		height: 578px;
		background-image: url('../img/video_graph.png');
		background-position: center center;
		background-repeat: no-repeat;
		z-index: 1;
		pointer-events: none;
	}
	.desc {
		font-family: $default_font;
		line-height: 28px;
		font-size: 18px;
		text-align: center;
		color: #50528E;
		margin: 20px auto 0;
		max-width: 475px;
	}
	.video-wrapper {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
		margin-top: 80px;
		z-index: 4;
		.big-video {
			width: 680px;
			height: 390px;
			.video-js {
				width: 100%;
				height: 100%;
				border-radius: 6px;
				video {
					border-radius: 6px;
				}
				.vjs-big-play-button {
					position: absolute;
					top: 50%;
					margin-top: -40px;
					left: 50%;
					margin-left: -50px;
					width: 80px;
					height: 80px;
					border-radius: 50%;
					border: none;
					background-color: #F12986;
					line-height: 80px;
					font-size: 40px;
					&:hover {
						background-color: darken(#F12986, 10%);
					}
				}
				.vjs-fullscreen-control {
					display: none;
				}
				.vjs-time-control {
					display: none;
				}
				.vjs-volume-panel {
					display: none;
				}
				.vjs-progress-control {
					position: absolute;
					top: 0;
					left: 10px; right: 10px;
					display: block;
					width: auto;
					height: 5px;
					.vjs-progress-holder {
						background: rgba(#F9F8FB, 0.2);
					}
				}
				.vjs-control-bar {
					position: absolute;
					bottom: 0;
					left: 0; right: 0;
					height: 45px;
					background: none;
				}
				.vjs-load-progress {
					background: rgba(#F9F8FB, 0.4);
				}
				.vjs-play-progress {
					background: #F12986;
					&:before {
						display: none;
					}
				}
				.vjs-play-control {
					position: absolute;
					height: 45px;
					width: 60px;
					.vjs-icon-placeholder:before {
						line-height: 45px;
					}
				}
			}
		}
		.controlls-video {
			width: 190px;
			margin-left: 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.item {
				height: 120px;
				background-color: #131568;
				transform: scale(0.9, 0.85);
				transition: 100ms;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				.icon {
					width: 48px;
					height: 48px;
					background-color: #1D1F80;
					border-radius: 50%;
					background-image: url('../img/icon-play.svg');
					background-repeat: no-repeat;
					background-position: center center;
				}
				&:first-child {
					transform-origin: top;
				}
				&:last-child {
					transform-origin: bottom;
				}
				&:hover {
					transform: scale(1);
				}
				&.active {
					transform: scale(1);
					.icon {
						background-color: #F12986;
					}
				}
			}
		}
	}
}

.about {
	position: relative;
	padding-bottom: 50px;
	background-color: #0C0E46;
	margin-top: -210px;
	.desc {
		font-family: $default_font;
		line-height: 28px;
		font-size: 18px;
		text-align: center;
		color: #50528E;
		max-width: 680px;
		margin: 25px auto 0;
	}
}

.our-head {
	padding-bottom: 100px;
	padding-top: 45px;
	background-color: #0C0E46;
}

.our-body {
	position: relative;
	background-color: #1D206E;
	padding-bottom: 155px;
	padding-top: 170px;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		bottom: 0px;
		right: -326px;
		width: 3151px;
		height: 868px;
		background-image: url('../img/our_graph.png');
		background-repeat: no-repeat;
		background-position: center center;
	}
	.our-body-triangle {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: #0C0E46 transparent transparent transparent;
		border-top-width: 75px;
		border-bottom-width: 0px;
	}
	.how-triangle {
		position: absolute;
		bottom: 0; left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent transparent #0C0E46 transparent;
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 110px;
	}
	.our-items {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		background-image: url('../img/our-sots.svg');
		background-position: center 70px;
		background-repeat: no-repeat;
		* {
			position: relative;
			z-index: 2;
		}
		.item {
			flex: 0 1 50%;
			padding: 0 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			margin-top: 85px;
			&:last-child {
				flex: 0 1 100%;
				max-width: 575px;
				padding: 0 10px;
			}
			.icon {
				width: 58px;
				height: 58px;
				background-position: center center;
				background-repeat: no-repeat;
				transition: 200ms;
				transform: scale(0.9);
				&:hover {
					transform: scale(1.2);
				}
				&.icon-0 {
					background-image: url('../img/our_icon-0.svg');
				}
				&.icon-1 {
					background-image: url('../img/our_icon-1.svg');
				}
				&.icon-2 {
					background-image: url('../img/our_icon-2.svg');
				}
				&.icon-3 {
					background-image: url('../img/our_icon-3.svg');
				}
				&.icon-4 {
					background-image: url('../img/our_icon-4.svg');
				}
				&.icon-5 {
					background-image: url('../img/our_icon-5.svg');
				}
				&.icon-6 {
					background-image: url('../img/our_icon-6.svg');
				}
			}
			.title {
				font-family: $default_font;
				font-weight: 500;
				line-height: 28px;
				font-size: 18px;
				text-align: center;
				letter-spacing: -0.3px;
				color: #FFFFFF;
				margin-top: 30px;
			}
			.desc {
				font-family: $default_font;
				line-height: 26px;
				font-size: 16px;
				text-align: center;
				color: #50528E;
				margin-top: 20px;
			}
		}
	}
}

.how {
	position: relative;
	padding-top: 90px;
	padding-bottom: 125px;
	background-color: #0C0E46;
	background-image: url('../img/how_bg.png');
	background-repeat: no-repeat;
	background-position: center top;
	overflow: hidden;
	.how-wrapper {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 5px;
		margin: 120px auto 0;
		max-width: 830px;
		padding-bottom: 95px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -1046px;
			width: 2092px;
			height: 578px;
			background-image: url('../img/how_graph.png');
			background-position: center center;
			background-repeat: no-repeat;
			pointer-events: none;
		}
		.item {
			width: 33.33333%;
			padding: 0 20px;
			margin-top: 45px;
			&.item-2 {
				position: relative;
				top: 50px;
			}
			.icon {
				position: relative;
				width: 150px;
				height: 150px;
				background-color: #0C0E46;
				background-repeat: no-repeat;
				background-position: center center;
				margin: auto;
				&.icon-0 {
					background-image: url('../img/how_icon-0.svg');
				}
				&.icon-1 {
					background-image: url('../img/how_icon-1.svg');
				}
				&.icon-2 {
					background-image: url('../img/how_icon-2.svg');
				}
				&.icon-3 {
					background-image: url('../img/how_icon-3.svg');
				}
				&.icon-4 {
					background-image: url('../img/how_icon-4.svg');
				}
			}
			.title {
				font-weight: 500;
				font-size: 18px;
				text-align: center;
				letter-spacing: -0.3px;
				color: #FFFFFF;
				max-width: 215px;
				margin: auto;
				line-height: 1.3;
			}
			.desc {
				line-height: 24px;
				font-size: 14px;
				text-align: center;
				color: #50528E;
				max-width: 215px;
				margin: 18px auto 0;
			}
		}
		.line {
			position: absolute;
			&.line-0 {
				background-image: url('../img/how_line-0.svg');
				top: 140px;
				left: 200px;
				width: 161px;
				height: 45px;
			}
			&.line-1 {
				background-image: url('../img/how_line-1.svg');
				top: 140px;
				left: 470px;
				width: 162px;
				height: 45px;
			}
			&.line-2 {
				background-image: url('../img/how_line-2.svg');
				top: 185px;
				left: 660px;
				width: 64px;
				height: 197px;
			}
			&.line-3 {
				background-image: url('../img/how_line-3.svg');
				top: 380px;
				left: 330px;
				width: 163px;
				height: 23px;
			}
		}
		&.animate {
			.item {
				opacity: 0;
				transition: 500ms;
			}
			&.visible {
				.item {
					opacity: 1;
					&.item-2 {
						transition-delay: 500ms;
					}
					&.item-3 {
						transition-delay: 1000ms;
					}
					&.item-4 {
						transition-delay: 1500ms;
					}
					&.item-5 {
						transition-delay: 2000ms;
					}
				}
			}
		}
	}
	.how-bottom {
		position: relative;
		border-top: 1px solid rgba(255,255,255, 0.05);
		display: flex;
		flex-direction: row;
		padding-top: 60px;
		.line {
			position: absolute;
			top: 116px;
			left: 593px;
			width: 75px;
			height: 488px;
			background-image: url('../img/how_line.svg');
		}
		.title {
			line-height: 40px;
			font-family: $default_font;
			font-size: 30px;
			text-align: center;
			letter-spacing: -0.5px;
			color: #FFFFFF;
			margin-right: 80px;
		}
		.left {
			flex: 62%;
			.how-diagramm {
				width: 570px;
				height: 333px;
				background-image: url('../img/how_diagramm.svg');
				background-position: center center;
				background-repeat: no-repeat;
				margin-top: 100px;
			}
		}
		.right {
			flex: 38%;
			.how-icon {
				width: 173px;
				height: 167px;
				background-image: url('../img/how_icon.svg');
				background-repeat: no-repeat;
				background-position: center center;
				margin: 110px auto 0;
			}
			.btn-how {
				display: block;
				margin: 50px auto 0;
				width: 210px;
				height: 55px;
				line-height: 55px;
				background-color: #F12986;
				border-radius: 4px;
				text-decoration: none;
				text-align: center;
				font-weight: 700;
				font-size: 12px;
				text-align: center;
				letter-spacing: 0.428571px;
				text-transform: uppercase;
				color: #FFFFFF;
				transition: 100ms;
				&:hover {
					background-color: darken(#F12986, 10%);
				}
			}
		}
	}
}

.calculator {
	position: relative;
	padding: 80px 0 50px;
	background-color: #1D206E;
	background-image: url('../img/calc_bg.png');
	background-repeat: no-repeat;
	background-position: center 50px;
	.calculator-triangle {
		position: absolute;
		top: 0; left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent #0C0E46 transparent transparent;
		border-top-width: 0px;
		border-bottom-width: 50px;
		border-left-width: 0px;
	}
	.h2 {
		text-align: left;
	}
	.calculator-wrapper {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		border-bottom: 1px dashed rgba(#FFFFFF, 0.1);
		.calc {
			flex: 1 0;
			padding-right: 120px;
			.calc-controlls {
				padding-top: 20px;
			}
			.total {
				position: relative;
				display: flex;
				align-items: center;
				margin-top: 35px;
				&:after {
					content: '$';
					position: absolute;
					top: 50%; right: 35%;
					transform: translateY(-50%);
					color: #fff;
					line-height: 1;
				}
				.label {
					width: 60%;
					font-size: 18px;
					color: #FFFFFF;
					opacity: 0.3;
				}
				.total-input {
					width: 40%;
					border: none;
					padding: 5px 15px 5px 25px;
					box-sizing: border-box;
					background-color: rgba(0,0,0, 0.4);
					font-family: $default_font;
					color: #FFFFFF;
				}
			}
			.range-slider {
				height: 4px;
				border-radius: 2px;
				background: rgba(255, 255, 255, 0.1);
				margin-top: 30px;
				.ui-slider-range-min {
					height: 4px;
					border-radius: 2px;
				}
				&[data-range="1"] {
					.ui-slider-range-min {
						background: #F12986;
					}
				}
				&[data-range="2"] {
					.ui-slider-range-min {
						background: #1CC5FF;
					}
				}
				&[data-range="3"] {
					.ui-slider-range-min {
						background: #28FBCB;
					}
				}
				.ui-slider-handle {
					top: 50%;
					margin-top: -15px;
					width: 30px;
					height: 30px;
					cursor: pointer;
					&:after {
						content: '';
						position: absolute;
						top: 50%;
						margin-top: -20px;
						height: 40px;
						width: 40px;
						left: 50%;
						margin-left: -20px;
						background-image: url('../img/range-slider_caret.png');
						background-position: center center;
						pointer-events: none;
					}
				}
			}
			.calc-months {
				margin-top: 30px;
			}
			.calc-month {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				font-size: 16px;
				color: #FFFFFF;
				padding: 30px 0 15px;
				border-bottom: 1px dashed rgba(#FFFFFF, 0.1);
				&:last-child {
					border: none;
				}
			}
		}
		.calculator-graph {
			position: relative;
			flex: 0 1 583px;
			height: 498px;
			background-image: url('../img/calc_graph.svg');
			margin-bottom: 30px;
			.price {
				position: absolute;
				font-size: 17px;
				font-family: $default_font;
				color: #FFFFFF;
				transform: translateX(-50%);
				&.price-1 {
					left: 40px;
					top: 378px;
				}
				&.price-2 {
					left: 208px;
					top: 279px;
				}
				&.price-3 {
					left: 383px;
					top: 205px;
				}
				&.price-4 {
					left: 492px;
					top: 64px;
				}
			}
			.year {
				position: absolute;
				top: 100%;
				font-size: 16px;
				font-family: $default_font;
				color: #FFFFFF;
				transform: translateX(-50%);
				&.y-1 {
					left: 40px;
				}
				&.y-2 {
					left: 208px;
				}
				&.y-3 {
					left: 383px;
				}
				&.y-4 {
					left: 560px;
				}
			}
		}
	}
	.calculator-btns {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin-top: 60px;
		.btn-invest {
			display: block;
			width: 210px;
			height: 55px;
			line-height: 55px;
			background: #1CC5FF;
			border-radius: 4px;
			text-align: center;
			font-size: 12px;
			text-align: center;
			font-weight: 700;
			letter-spacing: 0.428571px;
			text-transform: uppercase;
			color: #FFFFFF;
			text-decoration: none;
			transition: 100ms;
			margin-right: 40px;
			&:hover {
				background-color: darken(#1CC5FF, 10%);
			}
		}
		.btn-hw {
			font-weight: 500;
			font-size: 16px;
			color: #FFFFFF;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.refferal {
	padding: 70px 0 80px;
	background-color: #1D206E;
	background-image: url('../img/refferal_bg.png');
	background-position: top center;
	background-repeat: no-repeat;
	.container {
		position: relative;
		.lines-wrapper {
			position: absolute;
			top: 0;
			left: 0; right: 0;
			&.animate {
				opacity: 1;
				transition: 100ms;
				transition-delay: 2500ms;
				&.visible {
					opacity: 0;
				}
			}
		}
	}
	.h2 {
		text-align: left;
	}
	.lines {
		margin-top: 70px;
		.item {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-top: 45px;
			&:first-child {
				margin-top: 0;
			}
			.text {
				flex: 0 1 135px;
				text-align: left;
				font-size: 16px;
				line-height: 21px;
				font-family: $default_font;
				color: #FFFFFF;
			}
			.line {
				position: relative;
				flex: 1 0;
				height: 5px;
				&:before {
					content: '';
					position: absolute;
					top: 0; right: 0;
					height: 3px;
					border: 1px solid rgba(#FFFFFF, 0.1);
					width: 90%;
					border-left: none;
					border-radius: 4px;
				}
				.line-fill {
					position: absolute;
					top: 0;
					left: 0;
					height: 5px;
					border-radius: 4px;
				}
			}
			.percent {
				flex: 0 1 80px;
				text-align: right;
				font-size: 16px;
				font-family: $default_font;
				color: #FFFFFF;
			}
			&.item-1 {
				.line {
					.line-fill {
						background: linear-gradient(270deg, #F12986 0%, #1D206E 98.35%);
					}
				}
			}
			&.item-2 {
				.line {
					.line-fill {
						background: linear-gradient(270deg, #1CC5FF 0%, #1D206E 98.12%);
					}
				}
			}
			&.item-3 {
				.line {
					.line-fill {
						background: linear-gradient(270deg, #292EF1 0%, #1D206E 100%);
					}
				}
			}
			&.item-4 {
				.line {
					.line-fill {
						background: linear-gradient(270deg, #28FBCB 0%, #1D206E 98.61%);
					}
				}
			}
		}
		&.animate {
			.item {
				&.item-1 {
					.line {
						.line-fill {
							width: 100%;
							transition: 1000ms;
						}
					}
				}
				&.item-2 {
					.line {
						.line-fill {
							width: 100%;
							transition: 1000ms;
						}
					}
				}
				&.item-3 {
					.line {
						.line-fill {
							width: 100%;
							transition: 1000ms;
						}
					}
				}
				&.item-4 {
					.line {
						.line-fill {
							width: 100%;
							transition: 1000ms;
						}
					}
				}
			}
			&.visible {
				.item {
					&.item-1 {
						.line {
							.line-fill {
								width: 87%;
								transition: 500ms;
							}
						}
					}
					&.item-2 {
						.line {
							.line-fill {
								width: 25%;
								transition-delay: 500ms;
							}
						}
					}
					&.item-3 {
						.line {
							.line-fill {
								width: 25%;
								transition-delay: 1000ms;
							}
						}
					}
					&.item-4 {
						.line {
							.line-fill {
								transition-delay: 1500ms;
								width: 15%;
							}
						}
					}
				}
			}
		}
	}

	.diagramm-wrapper {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		opacity: 0;
		transition: 1000ms;
		transition-delay: 2500ms;
		.item {
			flex: 1 0;
			.desc {
				line-height: 26px;
				font-size: 16px;
				color: #50528E;
				max-width: 390px;
				margin-top: 35px;
			}
			.refferal-diagramm {
				position: relative;
				width: 300px;
				height: 331px;
				background-image: url('../img/refferal_diagramm.png');
				.center-text {
					position: absolute;
					top: 178px;
					left: 0; right: 0;
					text-align: center;
					color: #fff;
					font-size: 10px;
				}
				.top-text {
					position: absolute;
					top: -8px; right: -20px;
					transform: translateX(100%);
					font-weight: 500;
					font-size: 20px;
					color: #FFFFFF;
				}
			}
		}
		&.animate {
			opacity: 0;
			.item {
				.refferal-diagramm {
					transform: scale(0);
					transition: 1000ms;
				}
			}
			&.visible {
				opacity: 1;
				.refferal-diagramm {
					transform: scale(1);
					transition-delay: 3000ms;
				}
			}
		}
	}
}

.roadmap {
	position: relative;
	padding: 175px 0 215px;
	background-color: #0C0E46;
	background-image: url('../img/roadmap_bg.png');
	background-position: center center;
	.roadmap-triangle {
		position: absolute;
		top: 0; left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent transparent transparent #1D206E;
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 110px;
	}
	.roadmap-graph {
		position: relative;
		width: 1024px;
		height: 570px;
		background-image: url('../img/roadmap_graph.svg');
		margin: -25px auto 0;
		.rectangle {
			position: absolute;
			top: 183px;
			left: 158px;
			width: 266px;
			height: 116px;
			border: 1px solid rgba(255, 255, 255, 0.05);
			padding: 30px 30px 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.circle {
				position: absolute;
				width: 4px;
				height: 4px;
				background-color: #fff;
				border-radius: 50%;
				&.circle_1 {
					left: -1px; top: -1px;
				}
				&.circle_2 {
					right: -1px; top: -1px;
				}
				&.circle_3 {
					right: -1px; bottom: -1px;
				}
				&.circle_4 {
					left: -1px; bottom: -1px;
				}
			}
			.red-text {
				font-family: $default_font;
				font-size: 16px;
				color: #F12986;
			}
			.white-text {
				font-family: $default_font;
				font-size: 16px;
				color: #fff;
			}
		}
		.year {
			position: absolute;
			top: 100%;
			transform: translateX(-50%);
			&.y-1 {
				left: 70px;
			}
			&.y-2 {
				left: 288px;
			}
			&.y-3 {
				left: 506px;
			}
			&.y-4 {
				left: 725px;
			}
			&.y-5 {
				left: 943px;
			}
			.num {
				font-size: 16px;
				color: #FFFFFF;
				text-align: center;
			}
			.month {
				font-size: 16px;
				text-align: center;
				color: #F12986;
				margin-top: 25px;
			}
			.desc {
				font-size: 16px;
				line-height: 26px;
				text-align: center;
				color: #fff;
				margin-top: 9px;
			}
		}
	}
}

.team {
	position: relative;
	padding-top: 30px;
	padding-bottom: 160px;
	background-color: #0C0E46;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 2094px;
		margin-left: -1047px;
		height: 580px;
		background-image: url('../img/team_graph.png');
	}
	.team-triangle {
		position: absolute;
		bottom: 0; left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent transparent transparent #1D206E;
		border-top-width: 60px;
		border-right-width: 0px;
		border-bottom-width: 0px;
	}
	.container {
		position: relative;
	}
	.h2 {
		span {
			background-color: #0C0E46;
			padding: 0 10px;
		}
	}
	.team-items {
		margin-top: 120px;
		.item {
			display: flex;
			flex-direction: row;
			.col {
				flex: 1 50%;
				align-items: stretch;
				.photo {
					margin-right: 30px;
					img {
						margin: auto;
						max-width: 100%;
						max-height: 250px;
					}
				}
				.name {
					font-family: $default_font;
					font-size: 30px;
					color: #fff;
					font-weight: 700;
					margin-top: 15px;
				}
				.rank {
					color: #F12986;
					font-size: 20px;
					font-weight: 700;
					margin-top: 15px;
				}
				.desc {
					line-height: 26px;
					font-size: 16px;
					color: #FFF;
					opacity: 0.4;
					font-weight: 400;
					margin-top: 30px;
					max-width: 430px;
				}
				.social {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					margin-top: 30px;
					.item {
						width: 16px;
						height: 16px;
						cursor: pointer;
						path {
							fill: #fff;
							transition: 100ms;
						}
						&:not(:last-child) {
							margin-right: 30px;
						}
						&:hover {
							path {
								fill: #F12986;
							}
						}
					}
				}
			}
		}
	}

	.team-controlls {
		margin-top: 50px;
		border-top: 1px solid rgba(255,255,255, 0.05);
		padding-top: 70px;
		.item {
			text-align: center;
		}
		.item-content {
			display: inline-block;
			cursor: pointer;
			.photo-wrapper {
				position: relative;
				width: 97px;
				height: 97px;
				margin: auto;
				background-color: #000236;
				border-radius: 50%;
				overflow: hidden;
				.photo {
					position: absolute;
					left: 0; right: 0;
					bottom: -1px;
					width: 47px;
					height: 60px;
					margin: auto;
				}
			}
			.name {
				font-weight: 500;
				font-size: 14px;
				text-align: center;
				color: #fff;
				margin-top: 30px;
				transition: 100ms;
			}
			&:hover {
				.name {
					color: #F12986;
				}
			}
		}
	}
}

.partners {
	position: relative;
	padding: 90px 0 0;
	background-color: #1D206E;
	overflow: hidden;
	.partners-items {
		margin-top: 130px;
		.item {
			width: 150px;
			height: 80px;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	.partners-wrapper {
		position: relative;
		z-index: 2;
		.prev-field {
			position: absolute;
			top: 0; bottom: 0;
			left: 0;
			width: 100px;
			z-index: 3;
		}
		.next-field {
			position: absolute;
			top: 0; bottom: 0;
			right: 0;
			width: 100px;
			z-index: 3;
		}
	}
	.partners-form {
		position: relative;
		border-top: 1px solid rgba(#fff, 0.05);
		padding-top: 60px;
		padding-bottom: 60px;
		margin-top: 160px;
		display: flex;
		flex-direction: row;
		align-items: center;
		z-index: 2;
		.item {
			width: 50%;
		}
		form {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
		}
		.grats {
			display: none;
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;
			background-color: rgba(#1D206E, 0.9);
			span {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0; right: 0;
				text-align: center;
				color: #fff;
				font-size: 20px;

			}
		}
		.input-text {
			background: #272A84;
			border-radius: 4px;
			height: 55px;
			width: 100%;
			border: none;
			padding: 15px 25px 0;
			font-family: $default_font;
			color: #fff;
		}
		.field {
			position: relative;
			flex: 1 auto;
			.label {
				position: absolute;
				top: 10px;
				transform: none;
				left: 25px;
				color: #FFFFFF;
				font-size: 10px;
				opacity: 0.3;
				pointer-events: none;
				transition: 100ms;
			}
			&.empty {
				.label {
					top: 50%;
					transform: translateY(-50%);
					font-size: 14px;
				}
			}
			&.error {
				.input-text {
					border: 1px solid #F12986;
				}
			}
		}
		.btn-submit {
			background: #292EF1;
			border-radius: 4px;
			height: 55px;
			flex: 0 160px;
			font-family: $default_font;
			font-size: 12px;
			text-align: center;
			letter-spacing: 0.428571px;
			text-transform: uppercase;
			color: #FFFFFF;
			border: none;
			cursor: pointer;
			transition: 100ms;
			padding: 0;
			margin-left: 30px;
			&:hover {
				background-color: darken(#292EF1, 10%);
			}
		}
	}
	.partners-bg {
		position: absolute;
		left: 50%; right: 0;
		margin-left: -432.5px;
		bottom: 0;
		width: 765px;
		height: 522px;
		background-image: url('../img/partners_bg.png');
	}
}

@keyframes glowing {
	0% { -webkit-box-shadow: 0 0 20px#1bb895; }
	50% { -webkit-box-shadow: 0 0 20px transparent; }
	100% { -webkit-box-shadow: 0 0 20px #1bb895; }
}

@keyframes scaling {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	50% {
		transform: scale(0.5);
		opacity: 0.8;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@media (max-height: 799px) {
	.sidebar {
		.social-btns {
			.social-btn {
				margin-bottom: 20px;
			}
			.gray-line {
				margin-bottom: 20px;
			}
		}
	}
}

@media (max-width: 1043px) {
	.container {
		max-width: 700px;
	}

	h2, .h2 {
		font-size: 50px;
	}

	.header {
		.burger {
			display: block;
		}
		.header-wrapper {
			justify-content: center;
			height: 60px;
			.logo {
				width: 90px;
				height: 30px;
				background-image: url('../img/logo-mobile.svg');
			}
			.nav {
				position: fixed;
				top: 0; bottom: 0;
				left: 0; right: 0;
				display: none;
				background: #0C0E46;
				&.mobile {
					display: block;
				}
			}
		}
	}

	.sidebar {
		.circle-btn {
			margin-top: 0;
			top: 40%;
		}
		.label {
			top: 40%;
			transform: rotate(90deg) translateX(0px);
		}
		.social-btns {
			top: 55%;
		}
	}

	.main {
		height: auto;
		padding-bottom: 80px;
		.main-triangle {
			border-top-width: 45px;
		}
		.header-indent {
			height: 60px;
			order: 1;
		}
		.main-wrapper {
			max-width: 680px;
			justify-content: flex-start;
		}
		.main-block {
			flex-wrap: wrap;
			margin-top: 40px;
			order: 2;
			.left {
				flex: 100%;
				.desc {
					margin-top: 20px;
				}
			}
			.right {
				flex: 100%;
				margin-top: 30px;
				.countdown {
					justify-content: flex-start;
				}
			}
		}
		.progress-bar {
			order: 3;
			max-width: 600px;
			margin: 50px auto 0 0;
			.line {
				.dot {
					&.dot-0 {
						left: 10px;
					}
					&.dot-1 {
						left: 135px;
					}
					&.dot-2 {
						left: 260px;
					}
					&.dot-3 {
						left: 390px;
					}
					&.dot-4 {
						left: 510px;
					}
				}
				.label {
					&.label-0 {
						left: 10px;
					}
					&.label-1 {
						left: 135px;
					}
					&.label-2 {
						left: 260px;
						top: 50px;
						bottom: auto;
					}
					&.label-3 {
						left: 390px;
					}
					&.label-4 {
						left: 510px;
					}
				}
			}
		}
		.buttons {
			order: 4;
			margin-top: 90px;
		}
		.scroll-btn {
			display: none;
		}
	}
	.video {
		padding-top: 85px;
		&:after {
			bottom: -80px;
			left: -610px;
		}
		.bg-block {
			margin: auto;
		}
		.desc {
			margin-top: 10px;
		}
		.video-wrapper {
			flex-wrap: wrap;
			justify-content: center;
			.big-video {
				width: 100%;
			}
			.controlls-video {
				width: 100%;
				margin: auto;
				flex-direction: row;
				justify-content: space-around;
				margin-top: 50px;
				.item {
					width: 190px;
					&:first-child {
						transform-origin: center;
					}
					&:last-child {
						transform-origin: center;
					}
				}
			}
		}
	}

	.our-body {
		background-image: url('../img/our-sots.svg');
		background-position: center 150px;
		background-repeat: no-repeat;
		padding-top: 90px;
		.our-body-triangle {
			border-top-width: 40px;
		}
		.how-triangle {
			border-top-width: 0px;
			border-right-width: 0px;
			border-bottom-width: 60px;
		}
		.our-items {
			background: none;
			.item {
				padding: 0 40px;
				margin-top: 60px;
			}
		}
	}

	.how {
		padding-top: 70px;
		padding-bottom: 100px;
		.how-wrapper {
			margin-top: 0;
			&:before {
				top: 70px;
			}
			.item {
				margin-top: 70px;
				padding: 0;
			}
			.line {
				&.line-0 {
					background-size: 100% 100%;
					top: 170px;
					left: 150px;
					width: 115px;
					height: 35px;
				}
				&.line-1 {
					background-size: 100% 100%;
					width: 109px;
					height: 35px;
					left: 390px;
					top: 160px;
				}
				&.line-2 {
					top: 215px;
					left: 460px;
				}
				&.line-3 {
					top: 440px;
					left: 260px;
				}
			}
		}
		.how-bottom {
			flex-direction: column;
			padding-top: 50px;
			.line {
				display: none;
			}
			.title {
				margin: auto;
				text-align: center;
			}
			.left {
				.how-diagramm {
					margin: 60px auto 0;
				}
			}
			.right {
				margin-top: 80px;
				.how-icon {
					margin-top: 50px;
				}
			}
		}
	}

	.calculator {
		.calculator-triangle {
			border-bottom-width: 35px;
		}
		.calculator-wrapper {
			flex-wrap: wrap;
			.calc {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				padding-right: 0;
				justify-content: space-between;
				align-items: center;
				flex: 100%;
				.h2 {
					width: 100%;
				}
				.calc-controlls {
					width: 310px;
				}
				.calc-months {
					width: 250px;
				}
			}
			.calculator-graph {
				margin-left: auto;
				margin-right: auto;
				margin-top: 50px;
			}
		}
		.calculator-btns {
			justify-content: center;
		}
	}

	.refferal {
		padding-top: 50px;
		.h2 {
			text-align: center;
		}
		.lines {
			margin-top: 55px;
		}
		.diagramm-wrapper {
			flex-wrap: wrap;
			margin-top: 150px;
			.item {
				flex: 100%;
				.refferal-diagramm {
					margin: auto;
					margin-bottom: 75px;
				}
				.desc {
					max-width: 600px;
					margin: 20px auto 0;
					text-align: center;
					br {
						display: none;
					}
				}
			}
		}
	}

	.roadmap {
		padding-top: 130px;
		padding-bottom: 130px;
		.roadmap-triangle {
			border-bottom-width: 60px;
		}
		.roadmap-graph {
			background-image: url('../img/roadmap_graph-table.svg');
			background-repeat: no-repeat;
			background-position: bottom center;
			width: 680px;
			height: 400px;
			margin-top: 80px;
			.rectangle {
				top: 0;
				left: 40px;
			}
			.year {
				.month {
					margin-top: 10px;
				}
				.desc {
					display: none;
				}
				&.y-1 {
					left: 54px;
				}
				&.y-2 {
					left: 198px;
				}
				&.y-3 {
					left: 326px;
				}
				&.y-4 {
					left: 455px;
				}
				&.y-5 {
					left: 583px;
				}
			}
		}
	}

	.team {
		padding-bottom: 140px;
		.team-triangle {
			border-top-width: 30px;
		}
		.team-items {
			margin-top: 100px;
			.item {
				align-items: center;
				.col {
					&:first-child {
						flex: 0 1 220px;
					}
					&:last-child {
						flex: 1 0 auto;
					}
					.photo {
						margin-right: 50px;
					}
					.name {
						margin-top: 0;
					}
				}
			}
		}
	}

	.partners {
		padding: 60px 0 0;
		.partners-items {
			margin-top: 80px;
		}
		.partners-form {
			margin-top: 70px;
			flex-direction: column;
			.item {
				width: 100%;
				&:first-child {
					order: 2;
					margin-top: 60px;
				}
				&:last-child {
					order: 1;
				}
				.partners-logo {
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: 699px) {
	h1, .h1 {
		line-height: 46px;
		font-size: 38px;
		letter-spacing: -0.666667px;
	}

	h2, .h2 {
		font-size: 28px;
		line-height: 36px;
	}

	.container {
		max-width: 360px;
	}

	.main {
		padding-bottom: 30px;
		.main-triangle {
			display: none;
		}
		.main-wrapper {
			max-width: 360px;
			padding: 0 10px;
		}
		.main-block {
			.left {
				.desc {
					line-height: 26px;
					font-size: 17px;
				}
			}
			.right {
				.countdown {
					.countdown-timer {
						font-size: 60px;
					}
					.dots {
						margin: 0 10px;
					}
				}
			}
		}
		.progress-bar {
			max-width: 360px;
			padding: 0 20px;
			.line {
				.dot {
					&.dot-0 {
						left: 5%;
					}
					&.dot-1 {
						left: 28%;
					}
					&.dot-2 {
						left: 50%;
					}
					&.dot-3 {
						left: 72%;
					}
					&.dot-4 {
						left: 95%;
					}
				}
				.label {
					font-size: 12px;
					&.label-0 {
						left: 5%;
					}
					&.label-1 {
						left: 28%;
					}
					&.label-2 {
						left: 50%;
					}
					&.label-3 {
						left: 72%;
					}
					&.label-4 {
						left: 95%;
					}
				}
			}
		}
		.buttons {
			flex-direction: column;
			align-items: center;
			margin-top: 60px;
			.btn-pink {
				margin: 0;
			}
			.btn-blue {
				margin-top: 20px;
			}
		}
	}

	.sidebar {
		position: relative;
		top: 0; bottom: 0;
		left: 0; right: 0;
		height: 80px;
		width: 100%;
		transform: none;
		display: flex;
		align-items: center;
		.circle-btn {
			display: none;
		}
		.social-btns {
			position: relative;
			top: 0; bottom: 0;
			left: 0; right: 0;
			flex-direction: row;
			padding: 0 10px;
			.gray-line {
				display: none;
			}
			.social-btn {
				margin: 0 10px;
			}
			.chat-btn {
				position: absolute;
				top: 50%; right: 20px;
				margin-top: -20px;
			}
		}
		.label {
			font-size: 18px;
			top: 50%;
			left: 150px;
			right: 55px;
			text-align: center;
			transform: translateY(-50%);
		}
	}

	.video {
		padding-top: 50px;
		padding-bottom: 30px;
		&:after {
			display: none;
		}
		.desc {
			font-size: 15px;
			line-height: 25px;
		}
		.video-wrapper {
			margin-top: 55px;
			.big-video {
				height: 190px;
			}
			.controlls-video {
				margin-top: 30px;
				.item {
					height: 90px;
					width: auto;
					flex: 1 0;
					&:first-child {
						transform-origin: left;
					}
					&:last-child {
						transform-origin: right;
					}
				}
			}
		}
	}

	.about {
		padding-top: 30px;
		margin-top: 0;
		padding-bottom: 25px;
		.desc {
			font-size: 15px;
			line-height: 25px;
			margin-top: 20px;
		}
	}

	.our-head {
		padding-top: 25px;
		padding-bottom: 30px;
	}

	.our-body {
		padding-bottom: 80px;
		&:after {
			display: none;
		}
		.our-body-triangle {
			border-top-width: 30px;
		}
		.how-triangle {
			border-bottom-width: 30px;
		}
		.our-items {
			.item {
				flex: 0 1 300px;
				padding: 0 10px;
				margin-top: 30px;
			}
		}
	}

	.how {
		padding-top: 50px;
		padding-bottom: 50px;
		.how-wrapper {
			flex-direction: column;
			&:before {
				display: none;
			}
			.line {
				display: none;
			}
			.item {
				width: 100%;
				transform: none !important;
				top: 0 !important;
				margin-top: 30px;
			}
		}
		.how-bottom {
			.left {
				.how-diagramm {
					width: 100%;
					background-size: 100%;
					height: 200px;
					margin-top: 50px;
				}
			}
		}
	}

	.calculator {
		.calculator-triangle {
			border-bottom-width: 20px;
		}
		.calculator-wrapper {
			.calc {
				.calc-controlls {
					max-width: 310px;
					width: 100%;
				}
			}
		}
	}
}