@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,400,700&subset=cyrillic");
html {
  font-size: 10px;
  height: 100%; }
  html * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none; }

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  color: #4F4F4F;
  font-size: 1.6rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  height: 100%; }
  body.hidden {
    overflow: hidden; }

main {
  min-height: 100%;
  height: auto !important; }
  main .header-indent {
    padding-top: 80px; }
  main .footer-indent {
    padding-bottom: 10rem; }

footer {
  margin-top: -10rem;
  height: 100px;
  background-color: tomato; }

h1, .h1 {
  margin: 170px 0 0;
  font-weight: 700;
  font-size: 200px;
  color: #fff; }

h2, .h2 {
  margin: 0;
  font-size: 35px;
  font-weight: 700; }

h3, .h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px; }

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }

img {
  display: block; }

.btn {
  padding: 0;
  border: none;
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  height: 60px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.mt120 {
  margin-top: 120px; }

.mt100 {
  margin-top: 100px; }

.mt85 {
  margin-top: 85px; }

.mt60 {
  margin-top: 60px; }

.mt50 {
  margin-top: 50px; }

.ml70 {
  margin-left: 70px; }

.ml50 {
  margin-left: 50px; }

.mr90 {
  margin-right: 90px; }

.container {
  padding: 1px 10px;
  max-width: 1200px;
  margin: auto; }
  .container:after {
    content: '';
    display: table;
    clear: both; }

.row {
  margin: 0 -10px; }
  .row:after {
    content: '';
    display: table;
    clear: both; }

.col {
  float: left;
  padding: 0 10px; }
  .col.w60 {
    width: 60%; }
  .col.w50 {
    width: 50%; }
  .col.w40 {
    width: 40%; }
  .col.w33 {
    width: 33.33333%; }
  .col.w25 {
    width: 25%; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(46, 50, 97, 0.8);
  z-index: 5; }
  header .header-wrapper {
    position: relative;
    height: 78px; }
  header nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 100px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    header nav .nav-item {
      display: inline-block;
      color: #fff;
      font-size: 17px;
      margin-right: 35px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      cursor: pointer;
      -webkit-transition: 100ms;
      -o-transition: 100ms;
      transition: 100ms; }
      header nav .nav-item:last-child {
        margin-right: 0; }
      header nav .nav-item:hover {
        color: #56CCF2; }
      header nav .nav-item:active {
        color: #3CB1D6; }
  header .logo {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

.main-section {
  position: relative;
  background-color: #2C305F; }
  .main-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 916px;
    background-image: url("../img/main-bg.png");
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    opacity: 0.5; }
  .main-section .wrapper {
    position: relative; }
  .main-section p {
    margin: -15px 0 0;
    color: #fff;
    font-weight: 400;
    line-height: 1.4; }
    .main-section p span {
      color: #BB6BD9;
      font-weight: 700; }
  .main-section .countdown {
    margin-top: 50px; }
    .main-section .countdown .countdown-item {
      display: inline-block;
      margin-right: 30px; }
      .main-section .countdown .countdown-item:last-child {
        margin-right: 0; }
      .main-section .countdown .countdown-item .countdown-timer {
        font-size: 55px;
        font-weight: 100;
        color: #BB6BD9; }
      .main-section .countdown .countdown-item .countdown-label {
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        text-align: center;
        margin-top: 5px; }
    .main-section .countdown .countdown-seconds {
      display: none; }
  .main-section .btn {
    background-color: #BB6BD9;
    -webkit-box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
            box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
    width: 270px;
    margin-top: 70px; }
    .main-section .btn:hover {
      background-color: #D483F2; }
    .main-section .btn:active {
      background-color: #A254BF;
      -webkit-box-shadow: inset 0px 4px 10px #8C3DB8;
              box-shadow: inset 0px 4px 10px #8C3DB8; }
  .main-section .main-info {
    border-left: 1px solid #BB6BD9;
    border-right: 1px solid #BB6BD9;
    padding-top: 80px;
    padding-bottom: 350px; }
    .main-section .main-info .info-cnt {
      background-color: rgba(187, 107, 217, 0.15);
      padding: 160px 40px 30px; }
      .main-section .main-info .info-cnt .h2 {
        color: #fff; }
      .main-section .main-info .info-cnt p {
        margin: 35px 0 0; }
      .main-section .main-info .info-cnt .price {
        font-size: 35px;
        font-weight: 700;
        color: #56CCF2;
        margin-top: 5px; }
    .main-section .main-info .range {
      margin-top: 131px;
      padding: 0 10px; }
      .main-section .main-info .range .line {
        position: relative;
        height: 4px;
        background-color: #fff;
        -webkit-border-radius: 5px;
                border-radius: 5px; }
        .main-section .main-info .range .line .line-after {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          background-color: #56CCF2;
          -webkit-border-radius: 5px 0 0 5px;
                  border-radius: 5px 0 0 5px; }
        .main-section .main-info .range .line .circle {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          width: 13px;
          height: 13px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          background-color: #56CCF2;
          z-index: 1; }
          .main-section .main-info .range .line .circle:before {
            content: '';
            position: absolute;
            bottom: 13px;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            height: 30px;
            width: 1px;
            background-color: #fff; }
          .main-section .main-info .range .line .circle .persent {
            position: absolute;
            top: -40px;
            left: 15px;
            font-size: 18px;
            color: #fff;
            font-family: "Open Sans", sans-serif;
            font-weight: 700; }
    .main-section .main-info .btn {
      display: block;
      border: 4px solid #56CCF2;
      background: none;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      -webkit-box-shadow: none;
              box-shadow: none;
      width: 235px;
      margin: 115px auto 0; }
      .main-section .main-info .btn img {
        display: inline-block; }
      .main-section .main-info .btn:hover {
        background: #56CCF2; }
      .main-section .main-info .btn:active {
        border: none;
        background: #3CB1D6;
        -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .main-section .wrapper-why {
    position: relative;
    margin-top: -350px;
    padding-top: 70px;
    padding-bottom: 88px; }
    .main-section .wrapper-why:before {
      content: '';
      position: absolute;
      top: -120px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #BB6BD9; }
    .main-section .wrapper-why .h2 {
      color: #fff; }
    .main-section .wrapper-why .desc {
      display: inline-block;
      position: relative;
      color: #fff;
      font-size: 25px;
      font-family: "Open Sans", sans-serif;
      margin-top: 20px; }
      .main-section .wrapper-why .desc:after {
        content: '';
        position: absolute;
        top: 0;
        right: -20px;
        width: 2px;
        height: 42px;
        background-color: #fff; }
    .main-section .wrapper-why .btn {
      width: 190px;
      margin-top: 50px; }
    .main-section .wrapper-why .links {
      margin-top: 35px;
      text-align: right; }
      .main-section .wrapper-why .links .links-item {
        font-family: "Open Sans", sans-serif;
        display: inline-block;
        color: #fff;
        margin-right: 65px;
        text-decoration: underline;
        cursor: pointer;
        -webkit-transition: 100ms;
        -o-transition: 100ms;
        transition: 100ms; }
        .main-section .wrapper-why .links .links-item:last-child {
          margin-right: 20px; }
        .main-section .wrapper-why .links .links-item:hover {
          color: #56CCF2; }
          .main-section .wrapper-why .links .links-item:hover .icon use {
            fill: #56CCF2; }
        .main-section .wrapper-why .links .links-item:active {
          color: #3CB1D6; }
          .main-section .wrapper-why .links .links-item:active .icon use {
            fill: #3CB1D6; }
      .main-section .wrapper-why .links a {
        position: relative; }
        .main-section .wrapper-why .links a .icon {
          position: absolute;
          bottom: -2px;
          left: -23px; }

.infrastructure {
  background-color: #F2F2F2;
  padding: 115px 0; }
  .infrastructure .h2 {
    text-align: center;
    color: #2C305F;
    max-width: 840px;
    margin: auto; }
  .infrastructure .narrowly {
    max-width: 665px;
    margin: auto;
    text-align: center;
    line-height: 25px;
    margin-top: 20px; }
  .infrastructure .desc-narrowly {
    font-size: 25px;
    text-align: center;
    width: 635px;
    margin: auto;
    line-height: 37px;
    margin-top: 70px; }
  .infrastructure .teaser {
    position: relative;
    margin-top: 70px; }
    .infrastructure .teaser .teaser-img {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 0; }
    .infrastructure .teaser .teaser-text {
      margin-left: 144px;
      margin-right: 120px; }
      .infrastructure .teaser .teaser-text p {
        line-height: 28px;
        margin: 0; }
  .infrastructure .text-wrapper {
    padding: 0 10px;
    margin-top: 100px; }
    .infrastructure .text-wrapper .desc {
      font-size: 25px;
      line-height: 28px; }
    .infrastructure .text-wrapper p {
      margin-top: 40px;
      line-height: 28px; }

.map {
  position: relative;
  background-color: #F4EBFC;
  padding-top: 100px; }
  .map img {
    position: relative;
    margin: auto;
    z-index: 1; }

.features {
  position: relative;
  background-color: #2C305F;
  padding-top: 115px;
  padding-bottom: 115px;
  margin-top: -68px;
  z-index: 0; }
  .features:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 145px 145px 0 0;
    border-color: rgba(187, 107, 217, 0.07) transparent transparent transparent; }
  .features:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 336px 336px 0 0;
    border-color: rgba(187, 107, 217, 0.07) transparent transparent transparent; }
  .features .h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    max-width: 840px;
    margin: auto; }
  .features .features-item {
    position: relative;
    margin-top: 60px; }
  .features .features-icon {
    position: absolute;
    top: 5px;
    left: 0; }
  .features .features-text {
    margin-left: 65px;
    font-size: 17px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
    font-weight: 400; }
    .features .features-text .bold {
      font-weight: 700; }

.owners {
  position: relative;
  padding-top: 115px;
  padding-bottom: 300px;
  overflow: hidden;
  background-color: #fff; }
  .owners:before {
    content: '';
    position: absolute;
    bottom: -350px;
    right: -40px;
    width: 494px;
    height: 991px;
    background-color: #F4EBFC;
    -webkit-transform: rotate(48.4deg);
        -ms-transform: rotate(48.4deg);
            transform: rotate(48.4deg);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none; }
  .owners .phone {
    position: absolute;
    bottom: 38px;
    right: 137px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none; }
  .owners .h3 {
    text-align: center;
    text-transform: uppercase;
    max-width: 840px;
    margin: auto; }
  .owners .narrowly {
    max-width: 625px;
    margin: auto;
    text-align: center;
    line-height: 25px;
    margin-top: 20px; }
  .owners .desc {
    position: relative;
    margin: 45px 40px 0 10px;
    padding: 25px 0 25px 30px;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    line-height: 37px; }
    .owners .desc:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: #BB6BD9; }
  .owners .text {
    margin-top: 70px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 31px; }
  .owners .text2 {
    margin-top: 110px;
    padding-left: 15px; }

.what-is {
  background-color: #2A2E54;
  padding-top: 115px;
  padding-bottom: 115px; }
  .what-is .h3 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    max-width: 840px;
    margin: auto; }
  .what-is .desc {
    position: relative;
    margin: 45px 40px 0 10px;
    padding: 25px 0 25px 30px;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    line-height: 37px;
    color: #fff; }
    .what-is .desc:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: #56CCF2; }
  .what-is p {
    margin: 50px 100px 0 40px;
    color: #fff;
    line-height: 33px; }
    .what-is p.small {
      margin-top: 40px;
      font-size: 16px; }
    .what-is p.right {
      margin: 50px 0 0; }
  .what-is img {
    margin-left: auto;
    margin-top: 90px;
    margin-bottom: 100px; }

.gallery-eco {
  padding: 120px 0;
  background-color: #F4EBFC; }
  .gallery-eco .h3 {
    text-align: center;
    width: 840px;
    margin: auto;
    text-transform: uppercase; }
  .gallery-eco .narrowly {
    max-width: 625px;
    margin: auto;
    text-align: center;
    line-height: 25px;
    margin-top: 50px; }
  .gallery-eco .slider-wrapper {
    margin-top: 70px; }
    .gallery-eco .slider-wrapper .slider-controlls li {
      display: inline-block;
      width: 16.66666%; }
    .gallery-eco .slider-wrapper .slider-controlls button {
      height: 86px;
      background-color: #2A2D58;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      line-height: 86px;
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      border: none;
      padding: 0;
      font-size: 18px;
      width: 100%;
      -webkit-transition: 100ms;
      -o-transition: 100ms;
      transition: 100ms; }
      .gallery-eco .slider-wrapper .slider-controlls button:hover {
        background-color: #78DEFF; }
      .gallery-eco .slider-wrapper .slider-controlls button:active {
        background-color: #3CB1D6;
        -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .gallery-eco .slider-wrapper .slider-controlls .slick-active button {
      background-color: #56CCF2; }
    .gallery-eco .slider-wrapper .slider {
      position: relative;
      border: 3px solid #56CCF2;
      background-color: #2A2D58;
      -webkit-box-shadow: 0px 19px 25px rgba(47, 128, 237, 0.25);
              box-shadow: 0px 19px 25px rgba(47, 128, 237, 0.25); }
      .gallery-eco .slider-wrapper .slider .item {
        height: 660px; }
        .gallery-eco .slider-wrapper .slider .item .desc {
          position: relative;
          padding: 20px 0 20px 20px;
          font-size: 25px;
          font-family: "Open Sans", sans-serif;
          line-height: 40px;
          color: #fff; }
          .gallery-eco .slider-wrapper .slider .item .desc .bold {
            font-weight: 700; }
          .gallery-eco .slider-wrapper .slider .item .desc:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 2px;
            background-color: #56CCF2; }
        .gallery-eco .slider-wrapper .slider .item p {
          font-size: 18px;
          color: #fff;
          line-height: 33px;
          margin-bottom: 0; }
          .gallery-eco .slider-wrapper .slider .item p .bold {
            font-weight: 700; }
        .gallery-eco .slider-wrapper .slider .item .mainland {
          margin-left: 5px;
          margin-top: 105px; }
        .gallery-eco .slider-wrapper .slider .item .phone-slider {
          margin: auto;
          margin-top: 120px; }
      .gallery-eco .slider-wrapper .slider .slick-arrow {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;
        background-color: #BB6BD9;
        border: none;
        -webkit-box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
                box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
        font-size: 0;
        padding: 0;
        width: 60px;
        height: 60px;
        -webkit-transition: 100ms;
        -o-transition: 100ms;
        transition: 100ms; }
        .gallery-eco .slider-wrapper .slider .slick-arrow:hover {
          background-color: #D483F2; }
        .gallery-eco .slider-wrapper .slider .slick-arrow:active {
          background-color: #A254BF;
          -webkit-box-shadow: inset 0px 4px 10px #8C3DB8;
                  box-shadow: inset 0px 4px 10px #8C3DB8; }
        .gallery-eco .slider-wrapper .slider .slick-arrow.slick-prev {
          left: -30px;
          background-image: url("../img/arrow_left.svg");
          background-repeat: no-repeat;
          background-position: center center; }
        .gallery-eco .slider-wrapper .slider .slick-arrow.slick-next {
          right: -30px;
          background-image: url("../img/arrow_right.svg");
          background-repeat: no-repeat;
          background-position: center center; }
        .gallery-eco .slider-wrapper .slider .slick-arrow.slick-disabled {
          opacity: 0;
          visibility: hidden; }
