@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,400,700&subset=cyrillic");
html {
  font-size: 10px;
  height: 100%; }
  html * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none; }

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  color: #4F4F4F;
  font-size: 1.6rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  height: 100%; }
  body.hidden {
    overflow: hidden; }

main {
  min-height: 100%;
  height: auto !important; }
  main .header-indent {
    padding-top: 80px; }
  main .footer-indent {
    padding-bottom: 10rem; }

h1, .h1 {
  margin: 170px 0 0;
  font-weight: 700;
  font-size: 200px;
  color: #fff; }

h2, .h2 {
  margin: 0;
  font-size: 35px;
  font-weight: 700; }

h3, .h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px; }

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }

img {
  display: block;
  max-width: 100%; }

.btn {
  padding: 0;
  border: none;
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  height: 60px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.mt170 {
  margin-top: 170px; }

.mt150 {
  margin-top: 150px; }

.mt120 {
  margin-top: 120px; }

.mt100 {
  margin-top: 100px; }

.mt90 {
  margin-top: 90px; }

.mt85 {
  margin-top: 85px; }

.mt60 {
  margin-top: 60px; }

.mt50 {
  margin-top: 50px; }

.mt30 {
  margin-top: 30px; }

.ml70 {
  margin-left: 70px; }

.ml50 {
  margin-left: 50px; }

.mr130 {
  margin-right: 130px; }

.mr120 {
  margin-right: 120px; }

.mr170 {
  margin-right: 170px; }

.mr200 {
  margin-right: 130px; }

.mr90 {
  margin-right: 90px; }

.mr20 {
  margin-right: 20px; }

.container {
  padding: 1px 10px;
  max-width: 1200px;
  margin: auto; }
  .container:after {
    content: '';
    display: table;
    clear: both; }

.row {
  margin: 0 -10px; }
  .row:after {
    content: '';
    display: table;
    clear: both; }

.col {
  float: left;
  padding: 0 10px; }
  .col.w75 {
    width: 75%; }
  .col.w60 {
    width: 60%; }
  .col.w50 {
    width: 50%; }
  .col.w40 {
    width: 40%; }
  .col.w33 {
    width: 33.33333%; }
  .col.w25 {
    width: 25%; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(46, 50, 97, 0.8);
  z-index: 5; }

.nav-wrapper {
  position: relative;
  height: 78px; }
  .nav-wrapper .nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 100px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .nav-wrapper .nav .nav-item {
      display: inline-block;
      color: #fff;
      font-size: 17px;
      margin-right: 35px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      cursor: pointer; }
      .nav-wrapper .nav .nav-item:last-child {
        margin-right: 0; }
      .nav-wrapper .nav .nav-item:hover {
        color: #56CCF2; }
      .nav-wrapper .nav .nav-item:active {
        color: #3CB1D6; }
  .nav-wrapper .logo {
    position: absolute;
    width: 100px;
    height: 78px;
    right: 20px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .nav-wrapper .logo .wrapper-anim {
      display: block;
      width: 52px;
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .nav-wrapper .logo .img-logo2 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 52px;
      height: 37px;
      -webkit-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms;
      -webkit-transform: translateX(-20px) translateZ(-15px) rotateY(-90deg);
              transform: translateX(-20px) translateZ(-15px) rotateY(-90deg); }
    .nav-wrapper .logo:hover .wrapper-anim {
      -webkit-transform: translateY(-50%) rotateY(90deg);
              transform: translateY(-50%) rotateY(90deg); }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg); } }

footer {
  margin-top: -10rem;
  background-color: #2A2E54;
  padding-bottom: 120px; }
  footer .social {
    margin-top: 5px;
    font-size: 0; }
    footer .social .soc-item {
      display: inline-block;
      width: 34px;
      height: 34px;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: 34px 34px;
              background-size: 34px 34px;
      margin-right: 20px; }
      footer .social .soc-item:hover {
        opacity: 0.5; }
      footer .social .soc-item:active {
        opacity: 0.3; }

.main-section {
  position: relative;
  background-color: #2C305F; }
  .main-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 916px;
    background-image: url("../img/main-bg.png");
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    opacity: 0.5; }
  .main-section .wrapper {
    position: relative; }
  .main-section p {
    margin: -15px 0 0;
    color: #fff;
    font-weight: 400;
    line-height: 1.4; }
    .main-section p span {
      color: #BB6BD9;
      font-weight: 700; }
  .main-section .countdown {
    margin-top: 50px; }
    .main-section .countdown .countdown-item {
      display: inline-block;
      margin-right: 30px; }
      .main-section .countdown .countdown-item:last-child {
        margin-right: 0; }
      .main-section .countdown .countdown-item .countdown-timer {
        font-size: 55px;
        font-weight: 100;
        color: #BB6BD9; }
      .main-section .countdown .countdown-item .countdown-label {
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        text-align: center;
        margin-top: 5px; }
    .main-section .countdown .countdown-seconds {
      display: none; }
  .main-section .btn {
    background-color: #BB6BD9;
    -webkit-box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
            box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
    width: 270px;
    margin-top: 70px; }
    .main-section .btn:hover {
      background-color: #D483F2; }
    .main-section .btn:active {
      background-color: #A254BF;
      -webkit-box-shadow: inset 0px 4px 10px #8C3DB8;
              box-shadow: inset 0px 4px 10px #8C3DB8; }
  .main-section .main-info {
    border-left: 1px solid #BB6BD9;
    border-right: 1px solid #BB6BD9;
    padding-top: 80px;
    padding-bottom: 350px; }
    .main-section .main-info .info-cnt {
      background-color: rgba(187, 107, 217, 0.15);
      padding: 160px 40px 30px; }
      .main-section .main-info .info-cnt .h2 {
        color: #fff; }
      .main-section .main-info .info-cnt p {
        margin: 35px 0 0; }
      .main-section .main-info .info-cnt .price {
        font-size: 35px;
        font-weight: 700;
        color: #56CCF2;
        margin-top: 5px; }
    .main-section .main-info .range {
      margin-top: 131px;
      padding: 0 10px; }
      .main-section .main-info .range .line {
        position: relative;
        height: 4px;
        background-color: #fff;
        -webkit-border-radius: 5px;
                border-radius: 5px; }
        .main-section .main-info .range .line .line-after {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          background-color: #56CCF2;
          -webkit-border-radius: 5px 0 0 5px;
                  border-radius: 5px 0 0 5px; }
        .main-section .main-info .range .line .circle {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          width: 13px;
          height: 13px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          background-color: #56CCF2;
          z-index: 1; }
          .main-section .main-info .range .line .circle:before {
            content: '';
            position: absolute;
            bottom: 13px;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
            height: 30px;
            width: 1px;
            background-color: #fff; }
          .main-section .main-info .range .line .circle .persent {
            position: absolute;
            top: -40px;
            left: 15px;
            font-size: 18px;
            color: #fff;
            font-family: "Open Sans", sans-serif;
            font-weight: 700; }
    .main-section .main-info .btn {
      display: block;
      border: 4px solid #56CCF2;
      background: none;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      -webkit-box-shadow: none;
              box-shadow: none;
      width: 235px;
      margin: 115px auto 0; }
      .main-section .main-info .btn img {
        display: inline-block; }
      .main-section .main-info .btn:hover {
        background: #56CCF2; }
      .main-section .main-info .btn:active {
        border: none;
        background: #3CB1D6;
        -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .main-section .wrapper-why {
    position: relative;
    margin-top: -350px;
    padding-top: 70px;
    padding-bottom: 88px; }
    .main-section .wrapper-why:before {
      content: '';
      position: absolute;
      top: -120px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #BB6BD9; }
    .main-section .wrapper-why .h2 {
      color: #fff; }
    .main-section .wrapper-why .desc {
      display: inline-block;
      position: relative;
      color: #fff;
      font-size: 25px;
      font-family: "Open Sans", sans-serif;
      margin-top: 20px; }
    .main-section .wrapper-why .btn {
      width: 190px;
      margin-top: 50px; }
    .main-section .wrapper-why .links {
      margin-top: 35px;
      text-align: right; }
      .main-section .wrapper-why .links .links-item {
        font-family: "Open Sans", sans-serif;
        display: inline-block;
        color: #fff;
        margin-right: 65px;
        text-decoration: underline;
        cursor: pointer; }
        .main-section .wrapper-why .links .links-item:last-child {
          margin-right: 20px; }
        .main-section .wrapper-why .links .links-item:hover {
          color: #56CCF2; }
          .main-section .wrapper-why .links .links-item:hover .icon use {
            fill: #56CCF2; }
        .main-section .wrapper-why .links .links-item:active {
          color: #3CB1D6; }
          .main-section .wrapper-why .links .links-item:active .icon use {
            fill: #3CB1D6; }
      .main-section .wrapper-why .links a {
        position: relative; }
        .main-section .wrapper-why .links a .icon {
          position: absolute;
          bottom: -2px;
          left: -23px; }

.infrastructure {
  background-color: #F2F2F2;
  padding: 115px 0; }
  .infrastructure .h2 {
    text-align: center;
    color: #2C305F;
    max-width: 840px;
    margin: auto; }
  .infrastructure .narrowly {
    max-width: 665px;
    margin: auto;
    text-align: center;
    line-height: 25px;
    margin-top: 20px; }
  .infrastructure .desc-narrowly {
    font-size: 25px;
    text-align: center;
    max-width: 635px;
    margin: auto;
    line-height: 37px;
    margin-top: 70px; }
  .infrastructure .teaser {
    position: relative;
    margin-top: 70px; }
    .infrastructure .teaser .teaser-img {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 0; }
    .infrastructure .teaser .teaser-text {
      margin-left: 144px;
      margin-right: 120px; }
      .infrastructure .teaser .teaser-text p {
        line-height: 28px;
        margin: 0; }
  .infrastructure .text-wrapper {
    padding: 0 10px;
    margin-top: 100px; }
    .infrastructure .text-wrapper .desc {
      font-size: 25px;
      line-height: 28px; }
    .infrastructure .text-wrapper p {
      margin-top: 40px;
      line-height: 28px; }

.map {
  position: relative;
  background-color: #F4EBFC;
  padding-top: 100px; }
  .map img {
    position: relative;
    margin: auto;
    z-index: 1; }

.features {
  position: relative;
  background-color: #2C305F;
  padding-top: 115px;
  padding-bottom: 115px;
  margin-top: -68px;
  z-index: 0; }
  .features:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 145px 145px 0 0;
    border-color: rgba(187, 107, 217, 0.07) transparent transparent transparent; }
  .features:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 336px 336px 0 0;
    border-color: rgba(187, 107, 217, 0.07) transparent transparent transparent; }
  .features .h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    max-width: 840px;
    margin: auto; }
  .features .features-item {
    position: relative;
    margin-top: 60px; }
  .features .features-icon {
    position: absolute;
    top: 5px;
    left: 0; }
  .features .features-text {
    margin-left: 65px;
    font-size: 17px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
    font-weight: 400; }
    .features .features-text .bold {
      font-weight: 700; }

.owners {
  position: relative;
  padding-top: 115px;
  padding-bottom: 300px;
  overflow: hidden;
  background-color: #fff; }
  .owners:before {
    content: '';
    position: absolute;
    bottom: -350px;
    right: -40px;
    width: 494px;
    height: 991px;
    background-color: #F4EBFC;
    -webkit-transform: rotate(48.4deg);
        -ms-transform: rotate(48.4deg);
            transform: rotate(48.4deg);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none; }
  .owners .phone {
    position: absolute;
    bottom: 38px;
    right: 137px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    -webkit-animation-name: moveDocBg;
            animation-name: moveDocBg;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; }
  .owners .h3 {
    text-align: center;
    text-transform: uppercase;
    max-width: 840px;
    margin: auto; }
  .owners .narrowly {
    max-width: 625px;
    margin: auto;
    text-align: center;
    line-height: 25px;
    margin-top: 20px; }
  .owners .desc {
    position: relative;
    margin: 45px 40px 0 10px;
    padding: 25px 0 25px 30px;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    line-height: 37px; }
    .owners .desc:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: #BB6BD9; }
  .owners .text {
    margin-top: 70px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 31px; }
  .owners .text2 {
    margin-top: 110px;
    padding-left: 15px; }

.what-is {
  background-color: #2A2E54;
  padding-top: 115px;
  padding-bottom: 115px; }
  .what-is .h3 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    max-width: 840px;
    margin: auto; }
  .what-is .desc {
    position: relative;
    margin: 45px 40px 0 10px;
    padding: 25px 0 25px 30px;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    line-height: 37px;
    color: #fff; }
    .what-is .desc:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: #56CCF2; }
  .what-is p {
    margin: 50px 100px 0 40px;
    color: #fff;
    line-height: 33px; }
    .what-is p.small {
      margin-top: 40px;
      font-size: 16px; }
    .what-is p.right {
      margin: 50px 0 0; }
  .what-is img {
    margin-left: auto;
    margin-top: 90px;
    margin-bottom: 100px; }
  .what-is .img-mobile {
    display: none; }

.gallery-eco {
  padding: 120px 0;
  background-color: #F4EBFC; }
  .gallery-eco .h3 {
    text-align: center;
    max-width: 840px;
    margin: auto;
    text-transform: uppercase; }
  .gallery-eco .narrowly {
    max-width: 625px;
    margin: auto;
    text-align: center;
    line-height: 25px;
    margin-top: 50px; }
  .gallery-eco .slider-wrapper {
    margin-top: 70px; }
    .gallery-eco .slider-wrapper .slider-controlls li {
      display: inline-block;
      width: 11.11111%; }
    .gallery-eco .slider-wrapper .slider-controlls button {
      height: 86px;
      background-color: #2A2D58;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      line-height: 86px;
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      border: none;
      padding: 0;
      font-size: 18px;
      width: 100%;
      -webkit-transition: 100ms;
      -o-transition: 100ms;
      transition: 100ms; }
      .gallery-eco .slider-wrapper .slider-controlls button:hover {
        background-color: #78DEFF; }
      .gallery-eco .slider-wrapper .slider-controlls button:active {
        background-color: #3CB1D6;
        -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .gallery-eco .slider-wrapper .slider-controlls .slick-active button {
      background-color: #56CCF2; }
    .gallery-eco .slider-wrapper .slider {
      position: relative;
      border: 3px solid #56CCF2;
      background-color: #2A2D58;
      -webkit-box-shadow: 0px 19px 25px rgba(47, 128, 237, 0.25);
              box-shadow: 0px 19px 25px rgba(47, 128, 237, 0.25); }
      .gallery-eco .slider-wrapper .slider .item {
        height: 660px; }
        .gallery-eco .slider-wrapper .slider .item .desc {
          position: relative;
          padding: 20px 0 20px 20px;
          font-size: 25px;
          font-family: "Open Sans", sans-serif;
          line-height: 40px;
          color: #fff; }
          .gallery-eco .slider-wrapper .slider .item .desc .bold {
            font-weight: 700; }
          .gallery-eco .slider-wrapper .slider .item .desc:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 2px;
            background-color: #56CCF2; }
        .gallery-eco .slider-wrapper .slider .item .desc-another {
          font-size: 25px;
          font-family: "Open Sans", sans-serif;
          line-height: 46px;
          color: #fff;
          margin-right: 80px; }
          .gallery-eco .slider-wrapper .slider .item .desc-another .bold {
            font-weight: 700; }
        .gallery-eco .slider-wrapper .slider .item p {
          font-size: 18px;
          color: #fff;
          line-height: 33px;
          margin-bottom: 0; }
          .gallery-eco .slider-wrapper .slider .item p .bold {
            font-weight: 700; }
        .gallery-eco .slider-wrapper .slider .item .w920 {
          max-width: 920px;
          margin: auto;
          margin-left: 80px;
          margin-top: 65px; }
        .gallery-eco .slider-wrapper .slider .item .w975 {
          max-width: 975px;
          margin: auto;
          margin-left: 50px;
          margin-top: 70px; }
        .gallery-eco .slider-wrapper .slider .item .mainland {
          margin-left: 5px;
          margin-top: 105px; }
        .gallery-eco .slider-wrapper .slider .item .phone-slider {
          margin: auto;
          margin-top: 120px; }
        .gallery-eco .slider-wrapper .slider .item .book-img {
          margin: 167px auto 0; }
        .gallery-eco .slider-wrapper .slider .item .lock {
          margin: 90px auto 0; }
        .gallery-eco .slider-wrapper .slider .item .key-img {
          margin: 70px auto 0;
          margin-left: 150px; }
        .gallery-eco .slider-wrapper .slider .item .img-stage6 {
          margin: 100px auto 0; }
        .gallery-eco .slider-wrapper .slider .item .img-stage7 {
          margin: 10px auto 0; }
        .gallery-eco .slider-wrapper .slider .item .img-stage8 {
          margin: 65px auto 0; }
        .gallery-eco .slider-wrapper .slider .item .img-stage9 {
          margin: 150px auto 0; }
      .gallery-eco .slider-wrapper .slider .slick-arrow {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;
        background-color: #BB6BD9;
        border: none;
        -webkit-box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
                box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
        font-size: 0;
        padding: 0;
        width: 60px;
        height: 60px;
        -webkit-transition: 100ms;
        -o-transition: 100ms;
        transition: 100ms; }
        .gallery-eco .slider-wrapper .slider .slick-arrow:hover {
          background-color: #D483F2; }
        .gallery-eco .slider-wrapper .slider .slick-arrow:active {
          background-color: #A254BF;
          -webkit-box-shadow: inset 0px 4px 10px #8C3DB8;
                  box-shadow: inset 0px 4px 10px #8C3DB8; }
        .gallery-eco .slider-wrapper .slider .slick-arrow.slick-prev {
          left: -30px;
          background-image: url("../img/arrow_left.svg");
          background-repeat: no-repeat;
          background-position: center center; }
        .gallery-eco .slider-wrapper .slider .slick-arrow.slick-next {
          right: -30px;
          background-image: url("../img/arrow_right.svg");
          background-repeat: no-repeat;
          background-position: center center; }
        .gallery-eco .slider-wrapper .slider .slick-arrow.slick-disabled {
          opacity: 0;
          visibility: hidden; }
      .gallery-eco .slider-wrapper .slider #slider_in_slider .item {
        position: relative; }
      .gallery-eco .slider-wrapper .slider .arrow-next {
        position: absolute;
        bottom: 60px;
        right: 50px;
        font-size: 25px;
        color: #fff;
        max-width: 290px;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        cursor: pointer; }
        .gallery-eco .slider-wrapper .slider .arrow-next .img {
          margin-top: 7px; }
        .gallery-eco .slider-wrapper .slider .arrow-next:hover {
          color: #56CCF2; }
        .gallery-eco .slider-wrapper .slider .arrow-next:active {
          color: #3CB1D6; }
      .gallery-eco .slider-wrapper .slider .arrow-prev {
        position: absolute;
        bottom: 60px;
        left: 50px;
        font-size: 25px;
        color: #fff;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        width: 290px;
        cursor: pointer; }
        .gallery-eco .slider-wrapper .slider .arrow-prev .text {
          margin-left: 20px; }
        .gallery-eco .slider-wrapper .slider .arrow-prev .img {
          margin-top: 7px; }
        .gallery-eco .slider-wrapper .slider .arrow-prev:hover {
          color: #56CCF2; }
        .gallery-eco .slider-wrapper .slider .arrow-prev:active {
          color: #3CB1D6; }

.crowdsale {
  position: relative;
  background-color: #fff;
  padding-top: 115px;
  padding-bottom: 100px; }
  .crowdsale:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 530px 592px 0 0;
    border-color: #faf5fe transparent transparent transparent; }
  .crowdsale .container {
    position: relative; }
  .crowdsale .h3 {
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    max-width: 840px; }
  .crowdsale .narrow {
    text-align: center;
    max-width: 665px;
    margin: 40px auto 0;
    font-size: 17px; }
  .crowdsale .img {
    margin: 70px auto 0; }
  .crowdsale .info {
    margin-top: 144px; }
    .crowdsale .info .item {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-size: 25px;
      font-weight: 700;
      margin-right: 20px; }
      .crowdsale .info .item .icon {
        position: relative;
        top: 1px;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 15px; }
        .crowdsale .info .item .icon.icon-1 {
          background-color: #BB6BD9; }
        .crowdsale .info .item .icon.icon-2 {
          border: 5px solid #BB6BD9; }
        .crowdsale .info .item .icon.icon-3 {
          border: 5px solid #8C5FA3; }
        .crowdsale .info .item .icon.icon-4 {
          border: 5px solid #2F80ED; }
  .crowdsale p {
    line-height: 33px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 0; }

.token-detail {
  background-color: #F4EBFC;
  padding-top: 120px;
  padding-bottom: 150px; }
  .token-detail .wrapper {
    background-color: #2A2D58;
    padding-top: 50px;
    padding-bottom: 70px; }
    .token-detail .wrapper .title {
      text-align: center;
      font-size: 18px;
      color: #fff;
      font-weight: 700;
      font-family: "Open Sans", sans-serif;
      max-width: 840px;
      margin-left: auto;
      margin-right: auto; }
    .token-detail .wrapper img {
      margin: 35px auto 0; }
    .token-detail .wrapper .img-tablet {
      display: none; }
    .token-detail .wrapper .items {
      max-width: 1000px;
      margin: 40px auto 0;
      font-size: 0; }
      .token-detail .wrapper .items .item {
        display: inline-block;
        width: 20%;
        vertical-align: top;
        padding: 0 10px; }
        .token-detail .wrapper .items .item .label {
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          color: #fff; }
        .token-detail .wrapper .items .item .cnt {
          margin-top: 40px;
          font-size: 14px;
          line-height: 21px;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          color: #fff; }
  .token-detail .line {
    width: 200px;
    height: 4px;
    background: #56CCF2;
    margin-left: 30px;
    margin-top: 130px; }
  .token-detail .text {
    font-size: 17px;
    line-height: 31px;
    margin-top: 120px;
    margin-right: 60px; }

.token-gex {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #2A2E54; }
  .token-gex .h3 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin: auto;
    max-width: 840px; }
  .token-gex .narrow {
    text-align: center;
    max-width: 665px;
    margin: 40px auto 0;
    color: #fff; }
  .token-gex .wrapper {
    max-width: 1440px;
    margin: auto; }
  .token-gex .desc {
    position: relative;
    font-size: 18px;
    line-height: 33px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    margin-top: 50px;
    padding: 25px 0;
    padding-left: 30px; }
    .token-gex .desc:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 2px;
      background-color: #56CCF2; }
    .token-gex .desc.desc-first {
      margin-left: 508px;
      max-width: 800px; }
    .token-gex .desc.desc-second {
      margin-left: 272px;
      max-width: 870px; }
    .token-gex .desc .num {
      position: absolute;
      bottom: 0;
      left: -70px;
      font-family: "Open Sans", sans-serif;
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase; }
    .token-gex .desc .icon {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate(-100%, -50%);
          -ms-transform: translate(-100%, -50%);
              transform: translate(-100%, -50%); }
      .token-gex .desc .icon.fix {
        left: 8px; }

.team {
  background-color: #2A2E54;
  padding: 120px 0 35px;
  overflow: hidden; }
  .team .h3 {
    text-align: center;
    text-transform: uppercase;
    color: #fff; }
  .team .wrapper {
    position: relative;
    max-width: 1278px;
    height: 459px;
    margin: 5px auto 0;
    background: url("../img/team-lines.svg") repeat-x bottom left; }
    .team .wrapper .vector-bg {
      position: absolute;
      bottom: 7px;
      left: 3px;
      pointer-events: none; }
    .team .wrapper .cnt {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      font-size: 0;
      padding: 100px 10px 0; }
      .team .wrapper .cnt .arrow1 {
        position: absolute;
        bottom: 5px;
        right: 0;
        left: 3px;
        height: 8px;
        background-image: url("../img/team_arrow1.svg");
        background-repeat: no-repeat;
        background-position: right center;
        pointer-events: none; }
      .team .wrapper .cnt .arrow2 {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 8px;
        width: 8px;
        background-image: url("../img/team-arrow2.svg");
        background-repeat: no-repeat;
        background-position: top center;
        pointer-events: none; }
      .team .wrapper .cnt .circle {
        position: relative;
        width: 174px;
        height: 174px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 1px solid #2F80ED;
        margin: auto; }
      .team .wrapper .cnt .avatar {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 138px;
        height: 138px;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
      .team .wrapper .cnt .name {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        color: #fff;
        margin-top: 45px;
        padding: 0 10px; }
      .team .wrapper .cnt .role {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        text-align: center;
        color: #fff;
        margin-top: 10px;
        padding: 0 10px; }

.roadmap {
  padding-top: 120px;
  padding-bottom: 90px; }
  .roadmap .h3 {
    text-align: center;
    text-transform: uppercase;
    max-width: 840px;
    margin: auto; }
  .roadmap .date {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    min-height: 60px; }
  .roadmap .text {
    margin-top: 90px;
    font-size: 18px;
    line-height: 26px;
    font-family: "Open Sans", sans-serif; }
  .roadmap .stg {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase; }
  .roadmap .wrapper {
    position: relative; }
    .roadmap .wrapper .line {
      position: absolute;
      left: 0;
      right: 0;
      top: 80px;
      height: 1px;
      background-color: #56CCF2; }
      .roadmap .wrapper .line .dot {
        position: absolute;
        top: 0;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 13px;
        height: 13px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #56CCF2; }
        .roadmap .wrapper .line .dot.dot1 {
          left: 0; }
        .roadmap .wrapper .line .dot.dot2 {
          left: 300px; }
        .roadmap .wrapper .line .dot.dot3 {
          left: 600px; }
        .roadmap .wrapper .line .dot.dot4 {
          left: 900px; }
  .roadmap .slider {
    margin-top: 70px; }
    .roadmap .slider .item {
      position: relative; }
      .roadmap .slider .item:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 81px;
        height: 1px;
        background-color: #56CCF2; }
      .roadmap .slider .item:first-child:before {
        left: 50%;
        right: 0; }
      .roadmap .slider .item:last-child:before {
        right: 75%;
        left: 0; }
      .roadmap .slider .item:last-child .wrapper .line {
        background: none; }
        .roadmap .slider .item:last-child .wrapper .line:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          -webkit-transform: translateX(-74%);
              -ms-transform: translateX(-74%);
                  transform: translateX(-74%);
          height: 1px;
          background-color: #56CCF2; }
    .roadmap .slider .slick-arrow {
      position: absolute;
      top: 81px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      font-size: 0;
      border: none;
      padding: 0;
      width: 20.5px;
      height: 40px;
      background: none;
      background-repeat: no-repeat;
      -webkit-background-size: 20.5px 40px;
              background-size: 20.5px 40px;
      z-index: 1;
      cursor: pointer;
      -webkit-transition: 100ms;
      -o-transition: 100ms;
      transition: 100ms; }
    .roadmap .slider .slick-prev {
      left: 20px;
      background-image: url("../img/chevron_left.svg"); }
    .roadmap .slider .slick-next {
      right: 20px;
      background-image: url("../img/chevron_right.svg"); }
    .roadmap .slider .slick-disabled {
      opacity: 0; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(30, 33, 79, 0.8); }
  .modal .exit {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .modal .form {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    max-width: 600px;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
            box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
    padding: 75px 0 50px;
    text-align: center; }
    .modal .form .field {
      display: block;
      max-width: 420px;
      padding: 0 10px;
      margin: auto; }
      .modal .form .field .input {
        height: 60px;
        width: 100%;
        border: 1px solid #BB6BD9;
        padding: 0 20px;
        color: #000;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 400; }
        .modal .form .field .input::-webkit-input-placeholder {
          color: #ADADAD; }
        .modal .form .field .input::-moz-placeholder {
          color: #c0392b; }
        .modal .form .field .input:-ms-input-placeholder {
          color: #c0392b; }
      .modal .form .field .checkbox-label {
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        color: #ADADAD;
        margin-top: 10px; }
        .modal .form .field .checkbox-label.error .checkbox-icon {
          border-color: red; }
      .modal .form .field .checkbox-icon {
        position: relative;
        top: 2px;
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 1px solid #BB6BD9; }
      .modal .form .field .checkbox {
        display: none; }
        .modal .form .field .checkbox:checked + .checkbox-icon {
          background-image: url("../img/check.svg");
          background-repeat: no-repeat;
          background-position: center center; }
      .modal .form .field.error .input {
        border-color: red; }
    .modal .form .btn {
      background-color: #BB6BD9;
      -webkit-box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
              box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
      width: 270px;
      margin-top: 30px;
      -webkit-transition: 100ms;
      -o-transition: 100ms;
      transition: 100ms; }
      .modal .form .btn:hover {
        background-color: #D483F2; }
      .modal .form .btn:active {
        background-color: #A254BF;
        -webkit-box-shadow: inset 0px 4px 10px #8C3DB8;
                box-shadow: inset 0px 4px 10px #8C3DB8; }
  .modal .video {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 960px;
    top: 50%;
    padding-top: 85px;
    padding-bottom: 50px;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background-color: #2C305F; }
    .modal .video .iframe-wrapper {
      position: relative;
      overflow: hidden; }
      .modal .video .iframe-wrapper:after {
        content: '';
        float: left;
        padding-top: 60%; }

.burger {
  display: none; }

iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

@media (max-width: 1259px) {
  .gallery-eco .slider-wrapper .slider .slick-arrow.slick-prev {
    left: 10px; }
  .gallery-eco .slider-wrapper .slider .slick-arrow.slick-next {
    right: 10px; } }

@media (max-width: 1199px) {
  h2, .h2 {
    font-size: 30px; }
  .main-section .wrapper-why .links .links-item {
    margin-right: 40px; }
  .main-section .wrapper-why:before {
    top: -150px; }
  .main-section .main-info .info-cnt {
    padding-bottom: 50px; }
    .main-section .main-info .info-cnt .price {
      font-size: 30px; }
  .gallery-eco .slider-wrapper .slider .item .desc {
    font-size: 20px;
    line-height: 30px; }
  .gallery-eco .slider-wrapper .slider .item p {
    font-size: 16px;
    line-height: 24px; }
  .gallery-eco .slider-wrapper .slider .item .desc-another {
    font-size: 20px;
    line-height: 30px; } }

@media (max-width: 991px) {
  .container {
    max-width: 620px; }
  .col {
    float: none; }
    .col.w60 {
      width: 100%; }
    .col.w50 {
      width: 100%; }
    .col.w40 {
      width: 100%; }
    .col.w33 {
      width: 100%; }
  h1, .h1 {
    margin-top: 130px; }
  h2, .h2 {
    font-size: 35px; }
  nav {
    display: none; }
  .burger {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    width: 40px;
    height: 25px; }
    .burger span {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 40px;
      height: 4px;
      background-color: #fff;
      -webkit-transition: 100ms;
      -o-transition: 100ms;
      transition: 100ms; }
      .burger span:nth-child(2) {
        -webkit-transform: translate(0, 11px);
            -ms-transform: translate(0, 11px);
                transform: translate(0, 11px); }
      .burger span:last-child {
        -webkit-transform: translate(0, 21px);
            -ms-transform: translate(0, 21px);
                transform: translate(0, 21px); }
  .nav-wrapper .logo {
    right: 0; }
  .main-section:before {
    height: 1406px; }
  .main-section .countdown {
    text-align: center; }
  .main-section .btn {
    display: block;
    margin: 40px auto 0; }
  .main-section .main-info {
    border: none;
    padding: 0;
    margin-top: 100px;
    background-color: rgba(187, 107, 217, 0.15);
    padding-top: 80px;
    padding-bottom: 80px; }
    .main-section .main-info .info-cnt {
      background: none;
      padding: 0;
      max-width: 380px;
      margin: auto; }
      .main-section .main-info .info-cnt .col {
        float: left; }
        .main-section .main-info .info-cnt .col.w50 {
          width: 50%; }
      .main-section .main-info .info-cnt p {
        margin-top: 30px; }
      .main-section .main-info .info-cnt .price {
        font-size: 35px; }
    .main-section .main-info .range {
      margin-top: 80px; }
    .main-section .main-info .btn {
      margin-left: 0;
      margin-top: 90px; }
  .main-section .wrapper-why {
    margin: 0;
    padding-top: 60px; }
    .main-section .wrapper-why:before {
      display: none; }
    .main-section .wrapper-why .col.w40 {
      max-width: 380px;
      margin: auto; }
    .main-section .wrapper-why .btn {
      margin-top: 40px;
      margin-left: 0; }
    .main-section .wrapper-why .links {
      margin-top: 70px;
      text-align: center; }
      .main-section .wrapper-why .links .links-item {
        margin-right: 60px; }
        .main-section .wrapper-why .links .links-item:last-child {
          margin-right: 0; }
  .infrastructure .teaser .teaser-text {
    margin-right: 0; }
  .infrastructure .teaser .teaser-img {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    top: 10px; }
  .infrastructure .text-wrapper {
    padding: 0; }
    .infrastructure .text-wrapper p {
      margin-bottom: 0; }
  .features {
    margin-top: -35px; }
    .features .features-item {
      max-width: 420px;
      margin: 40px auto 0; }
  .owners {
    padding-bottom: 30px; }
    .owners .desc {
      margin: 45px 0 0 0; }
    .owners .text {
      position: relative; }
    .owners .text2 {
      padding: 0;
      margin-top: 60px; }
    .owners .phone {
      position: relative;
      top: 0;
      right: auto;
      left: auto;
      pointer-events: auto;
      max-width: 620px;
      margin: 40px auto 0; }
      .owners .phone img {
        margin-right: 0;
        margin-left: auto; }
  .what-is {
    padding-bottom: 100px; }
    .what-is .desc {
      padding: 0;
      margin: 45px auto 0; }
      .what-is .desc:before {
        display: none; }
    .what-is p {
      margin: 100px 0 0; }
    .what-is img {
      margin: 60px 0; }
  .gallery-eco .slider-wrapper .slider-controlls li:nth-child(1) {
    width: 20%; }
  .gallery-eco .slider-wrapper .slider-controlls li:nth-child(2) {
    width: 20%; }
  .gallery-eco .slider-wrapper .slider-controlls li:nth-child(3) {
    width: 20%; }
  .gallery-eco .slider-wrapper .slider-controlls li:nth-child(4) {
    width: 20%; }
  .gallery-eco .slider-wrapper .slider-controlls li:nth-child(5) {
    width: 20%; }
  .gallery-eco .slider-wrapper .slider-controlls li:nth-child(6) {
    width: 25%; }
  .gallery-eco .slider-wrapper .slider-controlls li:nth-child(7) {
    width: 25%; }
  .gallery-eco .slider-wrapper .slider-controlls li:nth-child(8) {
    width: 25%; }
  .gallery-eco .slider-wrapper .slider-controlls li:nth-child(9) {
    width: 25%; }
  .gallery-eco .slider-wrapper .slider .slick-arrow.slick-prev {
    left: -20px; }
  .gallery-eco .slider-wrapper .slider .slick-arrow.slick-next {
    right: -20px; }
  .gallery-eco .slider-wrapper .slider .item {
    position: relative;
    height: 980px; }
    .gallery-eco .slider-wrapper .slider .item .desc {
      padding: 0;
      margin: 80px 50px 0; }
      .gallery-eco .slider-wrapper .slider .item .desc:before {
        display: none;
        padding: 0; }
    .gallery-eco .slider-wrapper .slider .item .desc-another {
      padding: 0;
      margin: 70px 50px 0; }
    .gallery-eco .slider-wrapper .slider .item p {
      margin: 70px 50px 0; }
    .gallery-eco .slider-wrapper .slider .item .w920 {
      margin: 70px 50px 0; }
    .gallery-eco .slider-wrapper .slider .item .w975 {
      margin: 70px 50px 0; }
    .gallery-eco .slider-wrapper .slider .item img {
      margin: 50px auto 0; }
    .gallery-eco .slider-wrapper .slider .item .book-img {
      margin: 50px auto 0; }
    .gallery-eco .slider-wrapper .slider .item .lock {
      margin: 50px auto 0; }
    .gallery-eco .slider-wrapper .slider .item .key-img {
      margin: 70px auto 0; }
    .gallery-eco .slider-wrapper .slider .item .img-stage7 {
      margin-top: 50px; }
    .gallery-eco .slider-wrapper .slider .item .img-stage9 {
      margin-top: 50px; }
    .gallery-eco .slider-wrapper .slider .item .arrow-next img {
      margin: auto; }
    .gallery-eco .slider-wrapper .slider .item .arrow-prev img {
      margin: auto; }
  .crowdsale .info {
    margin-top: 80px; }
  .token-detail {
    padding-top: 80px;
    padding-bottom: 80px; }
    .token-detail .wrapper .img-desctop {
      display: none; }
    .token-detail .wrapper .img-tablet {
      display: block; }
    .token-detail .wrapper .title {
      margin-top: 20px; }
    .token-detail .wrapper .items {
      margin-top: 0;
      max-width: 560px; }
      .token-detail .wrapper .items .item {
        margin-top: 40px;
        width: 33.33333%; }
    .token-detail .col {
      float: left; }
    .token-detail .line {
      width: 100%;
      margin-left: 0;
      margin-top: 60px; }
    .token-detail .text {
      margin-top: 50px;
      margin-right: 0; }
  .token-gex .wrapper {
    max-width: 620px; }
  .token-gex .desc {
    padding: 0; }
    .token-gex .desc .icon {
      position: relative;
      top: auto;
      left: auto;
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0);
      margin-top: 60px; }
      .token-gex .desc .icon img {
        margin: auto; }
      .token-gex .desc .icon.fix {
        left: 0; }
    .token-gex .desc:before {
      display: none; }
    .token-gex .desc.desc-first {
      margin: auto; }
    .token-gex .desc.desc-second {
      margin: auto; }
    .token-gex .desc .num {
      position: relative;
      top: auto;
      left: auto;
      margin-bottom: 20px; }
  .roadmap {
    display: none;
    padding-top: 100px;
    padding-bottom: 100px; }
    .roadmap .col {
      float: left; }
  .team .wrapper .cnt {
    max-width: 620px;
    margin: auto; }
    .team .wrapper .cnt #team-slider .slick-arrow {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: 1;
      cursor: pointer;
      background-color: #BB6BD9;
      border: none;
      -webkit-box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
              box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
      font-size: 0;
      padding: 0;
      width: 60px;
      height: 60px;
      -webkit-transition: 100ms;
      -o-transition: 100ms;
      transition: 100ms; }
      .team .wrapper .cnt #team-slider .slick-arrow:hover {
        background-color: #D483F2; }
      .team .wrapper .cnt #team-slider .slick-arrow:active {
        background-color: #A254BF;
        -webkit-box-shadow: inset 0px 4px 10px #8C3DB8;
                box-shadow: inset 0px 4px 10px #8C3DB8; }
      .team .wrapper .cnt #team-slider .slick-arrow.slick-prev {
        left: 0px;
        background-image: url("../img/arrow_left.svg");
        background-repeat: no-repeat;
        background-position: center center; }
      .team .wrapper .cnt #team-slider .slick-arrow.slick-next {
        right: 0px;
        background-image: url("../img/arrow_right.svg");
        background-repeat: no-repeat;
        background-position: center center; }
      .team .wrapper .cnt #team-slider .slick-arrow.slick-disabled {
        opacity: 0;
        visibility: hidden; }
  footer .nav-wrapper .nav .nav-item {
    margin-top: 20px; }
  footer .social {
    margin-top: 30px; } }

@media (max-width: 660px) {
  .gallery-eco .slider-wrapper .slider .slick-arrow.slick-next {
    right: 0; }
  .gallery-eco .slider-wrapper .slider .slick-arrow.slick-prev {
    left: 0; } }

@media (max-width: 619px) {
  .container {
    padding: 1px 20px; }
  h1, .h1 {
    font-size: 80px; }
    h1 + p, .h1 + p {
      min-height: 125px; }
  .main-section::before {
    height: 1630px; }
  .main-section p {
    margin-top: 30px; }
  .main-section .countdown {
    font-size: 0;
    margin-top: 40px; }
    .main-section .countdown .countdown-item .countdown-timer {
      font-size: 48px; }
  .main-section .main-info {
    margin: 60px -20px 0;
    padding: 50px 20px 100px; }
    .main-section .main-info .info-cnt p {
      margin-top: 45px; }
    .main-section .main-info .info-cnt .col.w50 {
      width: 100%; }
    .main-section .main-info .info-cnt h2, .main-section .main-info .info-cnt .h2 {
      min-height: 70px; }
    .main-section .main-info .btn {
      margin: 80px auto 0; }
  .main-section .wrapper-why .desc {
    line-height: 30px; }
  .main-section .wrapper-why .links {
    margin-top: 35px;
    font-size: 0;
    text-align: left; }
    .main-section .wrapper-why .links a .icon {
      left: 0; }
    .main-section .wrapper-why .links .links-item {
      font-size: 16px;
      margin: 0;
      padding-left: 20px;
      width: 50%;
      margin-top: 35px; }
  .infrastructure {
    padding: 60px 0 100px; }
    .infrastructure .h2 {
      font-size: 20px; }
    .infrastructure .narrowly {
      margin-top: 40px; }
    .infrastructure .desc-narrowly {
      text-align: left;
      font-size: 18px;
      line-height: 25px;
      margin-top: 40px; }
    .infrastructure .teaser .teaser-img {
      position: static;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
      .infrastructure .teaser .teaser-img img {
        margin: auto; }
    .infrastructure .teaser .teaser-text {
      margin: 15px auto 0; }
    .infrastructure .text-wrapper {
      margin-top: 40px; }
  .map {
    padding: 20px 10px; }
  .features {
    padding-top: 60px;
    padding-bottom: 100px;
    margin-top: 0; }
    .features:before {
      display: none; }
    .features:after {
      display: none; }
    .features .features-icon {
      position: static; }
      .features .features-icon img {
        margin: auto; }
    .features .features-text {
      margin: 20px auto 0; }
    .features .features-item {
      margin-top: 45px; }
  .owners {
    padding-top: 60px; }
    .owners::before {
      width: 334px;
      height: 664px; }
    .owners .narrowly {
      padding-top: 70px; }
    .owners .desc {
      padding: 10px 0 10px 10px; }
  .what-is {
    padding-top: 60px;
    padding-bottom: 80px; }
    .what-is p {
      margin-top: 60px; }
    .what-is .img-desktop {
      display: none; }
    .what-is .img-mobile {
      display: block; }
  .gallery-eco {
    padding: 60px 0 0; }
    .gallery-eco .h3 {
      font-size: 20px;
      line-height: 28px; }
    .gallery-eco .slider-wrapper {
      margin-left: -10px;
      margin-right: -10px; }
      .gallery-eco .slider-wrapper .slider-controlls .slick-dots li {
        width: 33.33333%; }
      .gallery-eco .slider-wrapper .slider-controlls button {
        height: 70px;
        line-height: 70px; }
      .gallery-eco .slider-wrapper .slider {
        border-left: none;
        border-right: none; }
        .gallery-eco .slider-wrapper .slider .item .desc {
          margin: 60px auto 0; }
        .gallery-eco .slider-wrapper .slider .item .desc-another {
          margin: 50px auto 0; }
        .gallery-eco .slider-wrapper .slider .item p {
          margin: 60px auto 0; }
        .gallery-eco .slider-wrapper .slider .item .w920 {
          margin: 50px auto 0; }
        .gallery-eco .slider-wrapper .slider .item .w975 {
          margin: 10px auto 0;
          font-size: 14px; }
        .gallery-eco .slider-wrapper .slider .item .mainland {
          margin: 60px auto 0; }
        .gallery-eco .slider-wrapper .slider .item .phone-slider {
          margin-top: 60px; }
        .gallery-eco .slider-wrapper .slider .item .book-img {
          margin: 40px auto 0; }
        .gallery-eco .slider-wrapper .slider .item .key-img {
          margin-top: 50px; }
        .gallery-eco .slider-wrapper .slider .item .img-stage8 {
          margin-top: 40px; }
        .gallery-eco .slider-wrapper .slider .arrow-next {
          bottom: 30px;
          left: 0;
          right: 0;
          margin: auto;
          font-size: 22px;
          text-align: center; }
        .gallery-eco .slider-wrapper .slider .arrow-prev {
          bottom: 30px;
          left: 0;
          right: 0;
          margin: auto;
          font-size: 22px;
          text-align: center; }
  .crowdsale {
    padding-top: 90px; }
    .crowdsale:before {
      display: none; }
    .crowdsale .narrow {
      margin-top: 30px; }
    .crowdsale .info {
      margin-top: 30px; }
      .crowdsale .info .item {
        margin-top: 30px; }
    .crowdsale p {
      margin-right: 0;
      margin-top: 40px; }
  .token-detail {
    padding: 0;
    padding-bottom: 100px; }
    .token-detail .wrapper {
      padding-top: 1px;
      margin: 0 -20px; }
      .token-detail .wrapper .title {
        margin-top: 50px; }
      .token-detail .wrapper .items {
        max-width: 200px;
        margin: auto; }
        .token-detail .wrapper .items .item {
          width: 100%;
          margin-top: 50px; }
          .token-detail .wrapper .items .item .cnt {
            margin-top: 20px; }
    .token-detail .col {
      float: none; }
      .token-detail .col.w75 {
        width: 100%; }
    .token-detail .line {
      display: none; }
  .token-gex {
    padding: 80px 20px 80px; }
    .token-gex .desc .icon {
      margin: 60px -20px 0; }
    .token-gex .desc .num {
      text-align: center;
      margin-top: 40px; }
  .team {
    padding-top: 90px; }
    .team .wrapper {
      background: none; }
      .team .wrapper .vector-bg {
        display: none; }
      .team .wrapper .cnt {
        padding-top: 60px; }
        .team .wrapper .cnt .arrow1, .team .wrapper .cnt .arrow2 {
          display: none; }
        .team .wrapper .cnt .name {
          margin-top: 35px; }
        .team .wrapper .cnt #team-slider .slick-arrow {
          top: auto;
          bottom: -80px;
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none; }
          .team .wrapper .cnt #team-slider .slick-arrow.slick-prev {
            left: 50px; }
          .team .wrapper .cnt #team-slider .slick-arrow.slick-next {
            right: 50px; }
  footer .nav-wrapper {
    height: auto; }
    footer .nav-wrapper .nav {
      position: static;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
    footer .nav-wrapper .logo {
      -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
              transform: translateX(50%);
      bottom: -150px;
      top: auto;
      right: 50%;
      margin: auto; }
  footer .social {
    text-align: center;
    margin-top: 50px; }
    footer .social .soc-item:last-child {
      margin-right: 0; } }

@media (min-width: 1200px) {
  .animate {
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s; }
    .animate.scale {
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0); }
    .animate.visible {
      opacity: 1;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
    .animate.delay-01 {
      -webkit-transition-delay: 0.1s;
           -o-transition-delay: 0.1s;
              transition-delay: 0.1s; }
    .animate.delay-02 {
      -webkit-transition-delay: 0.2s;
           -o-transition-delay: 0.2s;
              transition-delay: 0.2s; }
    .animate.delay-03 {
      -webkit-transition-delay: 0.3s;
           -o-transition-delay: 0.3s;
              transition-delay: 0.3s; }
    .animate.delay-04 {
      -webkit-transition-delay: 0.4s;
           -o-transition-delay: 0.4s;
              transition-delay: 0.4s; }
    .animate.delay-05 {
      -webkit-transition-delay: 0.5s;
           -o-transition-delay: 0.5s;
              transition-delay: 0.5s; }
    .animate.delay-06 {
      -webkit-transition-delay: 0.6s;
           -o-transition-delay: 0.6s;
              transition-delay: 0.6s; }
    .animate.delay-07 {
      -webkit-transition-delay: 0.7s;
           -o-transition-delay: 0.7s;
              transition-delay: 0.7s; }
  @-webkit-keyframes moveDocBg {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    100% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px); } }
  @keyframes moveDocBg {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    100% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px); } } }
