@charset "UTF-8";
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PFDinDisplayProRegular/PFDinDisplayProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayProRegular/PFDinDisplayProRegular.woff") format("woff"), url("../fonts/PFDinDisplayProRegular/PFDinDisplayProRegular.ttf") format("truetype"), url("../fonts/PFDinDisplayProRegular/PFDinDisplayProRegular.svg#PFDinDisplayPro") format("svg"); }

@font-face {
  font-family: "PFDinDisplayPro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PFDinDisplayProBold/PFDinDisplayProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayProBold/PFDinDisplayProBold.woff") format("woff"), url("../fonts/PFDinDisplayProBold/PFDinDisplayProBold.ttf") format("truetype"), url("../fonts/PFDinDisplayProBold/PFDinDisplayProBold.svg#PFDinDisplayPro") format("svg"); }

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Raleway-Regular/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular/Raleway-Regular.svg#Raleway") format("svg"); }

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Raleway-Light/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Light/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light/Raleway-Light.ttf") format("truetype"), url("../fonts/Raleway-Light/Raleway-Light.svg#Raleway") format("svg"); }

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Raleway-Bold/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold/Raleway-Bold.svg#Raleway") format("svg"); }

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.ttf") format("truetype"), url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.svg#Raleway") format("svg"); }

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Raleway-Black/Raleway-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Black/Raleway-Black.woff") format("woff"), url("../fonts/Raleway-Black/Raleway-Black.ttf") format("truetype"), url("../fonts/Raleway-Black/Raleway-Black.svg#Raleway") format("svg"); }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #374c70;
  z-index: 9999;
  background-image: url(../img/preloader.gif);
  background-repeat: no-repeat;
  background-position: center; }

h2 {
  font-family: Raleway;
  font-size: 44px;
  font-weight: 900;
  line-height: 48px;
  text-transform: uppercase; }

a.prevArrow,
a.nextArrow {
  position: absolute;
  top: -17px;
  left: -65px;
  width: 50px;
  height: 52px;
  background-color: #374c70;
  font-size: 0;
  border: 0;
  outline: none;
  background-image: url(../img/prev.svg);
  background-repeat: no-repeat;
  background-position: 15px 10px;
  opacity: 0.6;
  z-index: 1000;
  cursor: pointer; }

a.nextArrow {
  left: -15px;
  background-image: url(../img/next.svg);
  background-repeat: no-repeat;
  background-position: 15px 10px;
  opacity: 1; }

body .slick-dots {
  position: absolute;
  right: 0;
  top: 150px;
  width: 41.666667%;
  height: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 30px; }
  body .slick-dots li {
    width: 100px; }
    body .slick-dots li button {
      display: inline;
      width: 100%; }
      body .slick-dots li button::before {
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        text-align: center;
        color: #c3cad4;
        -webkit-font-smoothing: none;
        -moz-osx-font-smoothing: none;
        display: inline-block;
        content: '1-комната';
        opacity: 1;
        width: 100%;
        text-decoration: underline; }

body .slick-dots > li:nth-child(2) > button::before {
  content: '2-комнаты'; }

body .slick-dots > li:nth-child(3) > button::before {
  content: '3-комнаты'; }

body .slick-dots > li:nth-child(4) > button::before {
  content: '4-комнаты'; }
  body .slick-dots > li:nth-child(4) > button::before li.slick-active button::before {
    color: #374c70; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

html, body {
  height: 100%; }

html {
  font-size: 10px; }

body {
  min-width: 320px;
  position: relative;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden; }
  body input {
    -webkit-border-radius: 22px;
            border-radius: 22px;
    border: 1px solid #fff;
    background-color: #374c70;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 30px;
    width: 270px;
    outline: none; }
  body input[type="submit"] {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #374c70;
    -webkit-border-radius: 22px;
            border-radius: 22px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 10px 0;
    width: 220px;
    cursor: pointer; }

.firstSection {
  background-image: url("../img/header-back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .firstSection .fp-tableCell {
    vertical-align: bottom; }
  .firstSection .headerDownLine {
    width: 100%;
    height: 150px;
    background-color: #374c70;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .firstSection .headerDownLine .col-lg-4 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .firstSection .headerDownLine .sale {
      color: #c3cad4;
      font-size: 35px;
      text-transform: uppercase; }
      .firstSection .headerDownLine .sale .saleTop {
        font-family: "Raleway", sans-serif;
        font-weight: 700; }
      .firstSection .headerDownLine .sale .saleBottom {
        font-family: "PFDinDisplayPro", serif;
        font-weight: 400; }
    .firstSection .headerDownLine .logo {
      width: 100%;
      height: 100%; }
      .firstSection .headerDownLine .logo:before {
        content: '';
        position: absolute;
        top: -140px;
        left: 1%;
        right: 1%;
        margin: auto;
        display: block;
        width: 293px;
        height: 293px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #374c70;
        background-image: url("../img/logo.png");
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center; }
    .firstSection .headerDownLine .phone a {
      display: inline-block;
      color: #bcc3cf;
      font-family: "PFDinDisplayPro", serif;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      margin-left: 60px; }

.first-column {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

.second-column {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

.third-column {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

section.layouts .fp-tableCell {
  display: block; }

section.layouts h2 {
  color: #374c70;
  font-family: "Raleway", sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 72px;
  text-transform: uppercase;
  margin-top: 45px;
  margin-bottom: 0;
  margin-left: 15px; }

section.layouts .roomBg {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  section.layouts .roomBg .layoutsPhone {
    position: relative;
    left: 15px;
    display: inline-block;
    font-family: "PFDinDisplayPro", serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
    color: #374c70;
    padding-left: 30px;
    padding-right: 100px;
    margin-top: 45px;
    background-color: #fff; }

.slide-1 {
  background: url("../img/room-bg-slide-1.jpg"); }

.slide-2 {
  background: url("../img/room-bg-slide-2.jpg"); }

.slide-3 {
  background: url("../img/room-bg-slide-3.jpg"); }

.slide-4 {
  background: url("../img/room-bg-slide-4.jpg"); }

.areaCarousel {
  margin-top: 16vh; }
  .areaCarousel .slides {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .areaCarousel .slides p {
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: #374c70;
      text-align: center;
      margin-left: -80px; }
    .areaCarousel .slides .svg-container {
      width: 100%;
      height: 400px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .areaCarousel .slides .svg-container img {
        width: 400px;
        height: 400px; }
    .areaCarousel .slides .underRoom {
      font-family: "PFDinDisplayPro", serif;
      font-size: 59px;
      font-weight: 900;
      line-height: auto;
      margin-bottom: 0;
      margin-top: -10px;
      padding-bottom: 0;
      text-transform: uppercase;
      margin-left: -70px; }
      .areaCarousel .slides .underRoom sup {
        font-weight: 400; }

.lauyoutsCarousel .room .col-xl-5 {
  background-color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 22px; }

section.objects .col-lg-5.offset-lg-7 {
  padding: 0; }

section.objects .carousel-indicators-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

section.objects img {
  height: 100vh;
  width: 100%; }

section.objects .carousel-indicators {
  position: static;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-left: 0; }
  section.objects .carousel-indicators li {
    text-indent: 0;
    max-width: none;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0; }
    section.objects .carousel-indicators li.active {
      background-color: rgba(0, 0, 0, 0.7); }
    section.objects .carousel-indicators li:hover {
      background-color: rgba(0, 0, 0, 0.7); }
    section.objects .carousel-indicators li .svgWrapp {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 190px;
      height: 150px;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-right: 15px; }
    section.objects .carousel-indicators li h3 {
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      font-weight: 900;
      line-height: 30px;
      text-transform: uppercase;
      color: #fff; }
    section.objects .carousel-indicators li p {
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      color: #fff; }

.mobile-underwrapper {
  display: none; }

.carousel-control-prev,
.carousel-control-next {
  display: none; }

section.aboutComplex {
  background-image: url("../img/about-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  section.aboutComplex .details {
    background-color: #374c70;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50vh; }
    section.aboutComplex .details h2 {
      color: #fff; }
    section.aboutComplex .details form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 35px;
      -moz-placeholder-color: #fff;
      -moz-placeholder-opacity: 1;
      -ms-input-placeholder-color: #fff;
      -ms-input-placeholder-opacity: 1; }
      section.aboutComplex .details form input[type="submit"] {
        margin-top: 30px; }
      section.aboutComplex .details form input[type="tel"] {
        margin-top: 30px; }
      section.aboutComplex .details form ::-webkit-input-placeholder {
        color: #fff;
        opacity: 1; }
      section.aboutComplex .details form ::-moz-placeholder {
        color: #fff;
        opacity: 1; }
  section.aboutComplex .space {
    background-color: #fff;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50vh; }
    section.aboutComplex .space h2 {
      font-family: "Raleway", sans-serif;
      font-size: 44px;
      font-weight: 900;
      text-transform: uppercase;
      color: #374c70;
      margin-bottom: 0; }
    section.aboutComplex .space p {
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      color: #374c70;
      margin-top: 45px;
      margin-bottom: 0; }
    section.aboutComplex .space .aboutPhone {
      font-family: "PFDinDisplayPro", serif;
      font-size: 36px;
      font-weight: 400;
      text-transform: uppercase;
      color: #374c70;
      margin-top: 40px; }

.gallery {
  background-image: url("../img/gallery_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .gallery .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5; }
  .gallery .galleryWrapper {
    margin-left: 100px;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .gallery .galleryWrapper h2 {
      font-family: "Raleway", sans-serif;
      font-size: 60px;
      font-weight: 900;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 40px; }

.galleryCarouselMobile {
  display: none; }

.galleryPrevArrow {
  position: absolute;
  top: -76px;
  right: 160px;
  width: 23px;
  height: 30px;
  background-image: url("../img/prev.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

.galleryNextArrow {
  position: absolute;
  top: -76px;
  right: 111px;
  width: 23px;
  height: 30px;
  background-image: url("../img/next.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

.galleryCarousel {
  height: 519px; }
  .galleryCarousel .gridItem {
    width: 309px;
    height: 173px; }
    .galleryCarousel .gridItem img {
      width: 309px;
      height: 100%; }
  .galleryCarousel .grid-item--height2 {
    height: 346px; }

.footer .footerTop {
  height: -webkit-calc(100% - 200px);
  height: calc(100% - 200px); }
  .footer .footerTop .container-fluid {
    height: 100%; }
    .footer .footerTop .container-fluid .col-lg-7 {
      padding-right: 0;
      padding-left: 0; }
    .footer .footerTop .container-fluid > .row {
      height: 100%; }
      .footer .footerTop .container-fluid > .row .salesDepartment {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 50%;
        padding-left: 30px;
        background-color: #f4fdff;
        background-image: url(../img/contacts-bg.jpg);
        background-position: -586px -16px;
        background-repeat: no-repeat; }
        .footer .footerTop .container-fluid > .row .salesDepartment a {
          color: #374c70; }
        .footer .footerTop .container-fluid > .row .salesDepartment h2 {
          font-family: "Raleway", sans-serif;
          font-size: 46px;
          font-weight: 900;
          text-transform: uppercase;
          color: #374c70;
          margin-bottom: 0; }
        .footer .footerTop .container-fluid > .row .salesDepartment p {
          font-family: "Raleway", sans-serif;
          font-size: 14px;
          font-weight: 700;
          color: #374c70;
          margin-top: 48px;
          margin-bottom: 0; }
        .footer .footerTop .container-fluid > .row .salesDepartment .phone {
          font-family: "PFDinDisplayPro", serif;
          font-size: 36px;
          font-weight: 400;
          text-transform: uppercase;
          margin-top: 52px;
          color: #374c70; }
      .footer .footerTop .container-fluid > .row .questions {
        position: relative;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 50%;
        padding-left: 30px;
        background-color: #fff;
        background-image: url(../img/telephone-handset.jpg);
        background-repeat: no-repeat;
        background-position: 200px 90px; }
        .footer .footerTop .container-fluid > .row .questions h3 {
          font-family: "Raleway", sans-serif;
          font-size: 30px;
          font-weight: 900;
          text-transform: uppercase;
          color: #374c70;
          margin-bottom: 40px; }
        .footer .footerTop .container-fluid > .row .questions form {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
              -ms-flex-align: start;
                  align-items: flex-start; }
          .footer .footerTop .container-fluid > .row .questions form input {
            border-color: #e8e8e8;
            background-color: #e8e8e8;
            color: #3c5073; }
          .footer .footerTop .container-fluid > .row .questions form input[type="tel"] {
            margin-top: 20px; }
          .footer .footerTop .container-fluid > .row .questions form input[type="submit"] {
            background-color: #374c70;
            border-color: #374c70;
            color: #fff;
            margin-top: 37px;
            width: auto;
            padding: 7px 30px;
            font-family: "Raleway", sans-serif;
            font-size: 18px;
            font-weight: 700; }

.footerLine {
  height: 200px;
  background-color: #374c70; }
  .footerLine .logo {
    margin-top: 35px; }
  .footerLine p {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    margin-left: 70px;
    margin-right: 109px;
    margin-top: 55px; }
    .footerLine p:before {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 104px;
      background-color: #fff;
      opacity: 0.32;
      left: -30px;
      top: 5px; }
  .footerLine .parus {
    display: block;
    margin-top: 134px; }
    .footerLine .parus span {
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #fff;
      text-decoration: none; }

.mapWrapper {
  width: 100%;
  height: 100%; }
  .mapWrapper #map {
    width: 100%;
    height: 100%; }

.map-control {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
          box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  font-family: 'Roboto','sans-serif';
  margin: 10px;
  display: none; }
  .map-control #map .map-control {
    display: block; }

.selector-control {
  font-size: 14px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px; }

.map {
  width: 100%;
  height: 100%; }

.carousel-inner {
  z-index: -1; }

.navigationWrapp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .navigationWrapp .overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 100vh; }
  .navigationWrapp nav #menu {
    margin: 0;
    padding: 0;
    padding-top: 80px; }
    .navigationWrapp nav #menu li {
      position: relative;
      margin-top: 58px;
      list-style: none;
      width: 190px; }
      .navigationWrapp nav #menu li:nth-child(1) {
        margin-top: 0; }
      .navigationWrapp nav #menu li .navNumber {
        position: relative;
        width: 50px;
        height: 40px;
        text-align: center;
        font-family: "PFDinDisplayPro", serif;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .navigationWrapp nav #menu li .navNumber:after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          top: 3px;
          width: 1px;
          height: 33px;
          background-color: #fff;
          opacity: 0.5; }
        .navigationWrapp nav #menu li .navNumber:hover:after {
          opacity: 1; }

.secondNumber {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 500ms;
  transition: 500ms; }

.menuList {
  display: block;
  width: 50px;
  height: 40px;
  cursor: pointer; }

.secondNumber.active {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px); }

.navText {
  position: absolute;
  top: 10px;
  left: -515px;
  font-family: "PFDinDisplayPro", serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 0;
  z-index: 1000; }
  .navText.active {
    -webkit-transform: translateX(580px);
        -ms-transform: translateX(580px);
            transform: translateX(580px);
    opacity: 1; }
  .navText:focus {
    color: #fff;
    text-decoration: none;
    outline: none; }
  .navText:hover {
    text-decoration: none;
    color: #fff; }

.modalPopup {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 146px;
  width: 100%;
  z-index: 999;
  background-color: #1a2538;
  -webkit-transform: translateX(5000px);
      -ms-transform: translateX(5000px);
          transform: translateX(5000px);
  -webkit-transition: 1s;
  transition: 1s; }
  .modalPopup .popupExit {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer; }
    .modalPopup .popupExit span:nth-child(1) {
      display: block;
      position: relative;
      top: 12px;
      width: 30px;
      height: 2px;
      background-color: #fff;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .modalPopup .popupExit span:nth-child(2) {
      position: relative;
      top: 11px;
      display: block;
      width: 30px;
      height: 2px;
      background-color: #fff;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .modalPopup.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .modalPopup .sale {
    margin-top: 25px;
    color: #c3cad4;
    font-size: 35px;
    text-transform: uppercase; }
    .modalPopup .sale .saleTop {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      color: #fff; }
    .modalPopup .sale .saleBottom {
      font-family: "PFDinDisplayPro", serif;
      font-weight: 400;
      color: #fff; }
  .modalPopup form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 53px;
    -moz-placeholder-color: #fff;
    -moz-placeholder-opacity: 1;
    -ms-input-placeholder-color: #fff;
    -ms-input-placeholder-opacity: 1; }
    .modalPopup form input {
      background-color: #1a2538;
      width: 252px;
      margin-right: 20px; }
    .modalPopup form ::-webkit-input-placeholder {
      color: #fff;
      opacity: 1; }
    .modalPopup form ::-moz-placeholder {
      color: #fff;
      opacity: 1; }
    .modalPopup form input[type="submit"] {
      background-color: #fff; }

.mnuList.active:nth-child(1):after {
  content: 'Главная';
  display: block;
  position: absolute;
  top: -32px;
  left: 0px;
  width: 300px;
  height: 100px;
  font-family: "PFDinDisplayPro", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 65px;
  padding-top: 15px;
  -webkit-transition: 500ms;
  transition: 500ms; }

.mnuList.active:nth-child(2):after {
  content: 'Планировки';
  display: block;
  position: absolute;
  top: -32px;
  left: 0px;
  width: 300px;
  height: 100px;
  font-family: "PFDinDisplayPro", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 65px;
  padding-top: 15px;
  -webkit-transition: 500ms;
  transition: 500ms; }

.mnuList.active:nth-child(3):after {
  content: 'Инфраструктура';
  display: block;
  position: absolute;
  top: -32px;
  left: 0px;
  width: 300px;
  height: 100px;
  font-family: "PFDinDisplayPro", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 65px;
  padding-top: 15px;
  -webkit-transition: 500ms;
  transition: 500ms; }

.mnuList.active:nth-child(4):after {
  content: 'О комплексе';
  display: block;
  position: absolute;
  top: -32px;
  left: 0px;
  width: 300px;
  height: 100px;
  font-family: "PFDinDisplayPro", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 65px;
  padding-top: 15px;
  -webkit-transition: 500ms;
  transition: 500ms; }

.mnuList.active:nth-child(5):after {
  content: 'Фотографии';
  display: block;
  position: absolute;
  top: -32px;
  left: 0px;
  width: 300px;
  height: 100px;
  font-family: "PFDinDisplayPro", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 65px;
  padding-top: 15px;
  -webkit-transition: 500ms;
  transition: 500ms; }

.mnuList.active:nth-child(6):after {
  content: 'Контакты';
  display: block;
  position: absolute;
  top: -32px;
  left: 0px;
  width: 300px;
  height: 100px;
  font-family: "PFDinDisplayPro", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 65px;
  padding-top: 15px;
  -webkit-transition: 500ms;
  transition: 500ms; }

#menu.dark .mnuList:after {
  color: #374c70; }

#menu.dark .mnuList .navText {
  color: #374c70; }

#menu.dark .mnuList .navNumber {
  color: #374c70; }

.slick-dotted.slick-slider {
  margin: 0; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #374c70;
  z-index: 9999;
  background-image: url(../img/preloader.gif);
  background-repeat: no-repeat;
  background-position: center; }

h2 {
  font-family: Raleway;
  font-size: 44px;
  font-weight: 900;
  line-height: 48px;
  text-transform: uppercase; }

a.prevArrow,
a.nextArrow {
  position: absolute;
  top: -17px;
  left: -65px;
  width: 50px;
  height: 52px;
  background-color: #374c70;
  font-size: 0;
  border: 0;
  outline: none;
  background-image: url(../img/prev.svg);
  background-repeat: no-repeat;
  background-position: 15px 10px;
  opacity: 0.6;
  z-index: 1000;
  cursor: pointer; }

a.nextArrow {
  left: -15px;
  background-image: url(../img/next.svg);
  background-repeat: no-repeat;
  background-position: 15px 10px;
  opacity: 1; }

body .slick-dots {
  position: absolute;
  right: 0;
  top: 150px;
  width: 41.666667%;
  height: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 30px; }
  body .slick-dots li {
    width: 100px; }
    body .slick-dots li button {
      display: inline;
      width: 100%; }
      body .slick-dots li button::before {
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        text-align: center;
        color: #c3cad4;
        -webkit-font-smoothing: none;
        -moz-osx-font-smoothing: none;
        display: inline-block;
        content: '1-комната';
        opacity: 1;
        width: 100%;
        text-decoration: underline; }

body .slick-dots > li:nth-child(2) > button::before {
  content: '2-комнаты'; }

body .slick-dots > li:nth-child(3) > button::before {
  content: '3-комнаты'; }

body .slick-dots > li:nth-child(4) > button::before {
  content: '4-комнаты'; }
  body .slick-dots > li:nth-child(4) > button::before li.slick-active button::before {
    color: #374c70; }

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1440px) {
  .footer .footerTop {
    height: -webkit-calc(100% - 200px);
    height: calc(100% - 200px); }
    .footer .footerTop .container-fluid {
      height: 100%; }
      .footer .footerTop .container-fluid .col-lg-7 {
        padding-right: 0;
        padding-left: 0; }
      .footer .footerTop .container-fluid > .row {
        height: 100%; }
        .footer .footerTop .container-fluid > .row .salesDepartment {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          height: 50%;
          padding-left: 30px;
          background-color: #f4fdff;
          padding-top: 20px;
          padding-bottom: 20px; }
          .footer .footerTop .container-fluid > .row .salesDepartment a {
            color: #374c70; }
          .footer .footerTop .container-fluid > .row .salesDepartment h2 {
            font-family: "Raleway", sans-serif;
            font-size: 28px;
            font-weight: 900;
            line-height: 1.2;
            text-transform: uppercase;
            color: #374c70;
            margin-bottom: 0; }
          .footer .footerTop .container-fluid > .row .salesDepartment p {
            font-family: "Raleway", sans-serif;
            font-size: 14px;
            font-weight: 700;
            color: #374c70;
            margin-top: 0;
            margin-bottom: 0; }
          .footer .footerTop .container-fluid > .row .salesDepartment .phone {
            font-family: "PFDinDisplayPro", serif;
            font-size: 36px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 0;
            color: #374c70; }
  .areaCarousel .slides img {
    max-height: 300px; }
  .footer .footerTop .container-fluid > .row .questions form input[type="submit"] {
    margin-top: 20px; }
  .footer .footerTop .container-fluid > .row .questions h3 {
    margin: 0;
    font-size: 24px; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .navigationWrapp {
    display: none; }
  .modalPopup {
    display: none; }
  .firstSection .fp-tableCell .headerDownLine .col-lg-4 .sale {
    font-size: 28px; }
  .firstSection .fp-tableCell .headerDownLine .col-lg-4 .phone a {
    font-size: 28px; }
  section.layouts .roomBg {
    height: 41.666667vh;
    background-size: cover; }
  section.layouts h2 {
    margin-top: 60px;
    text-align: center;
    font-size: 30px; }
  .lauyoutsCarousel .slides img {
    height: 250px; }
  .lauyoutsCarousel .slides p {
    font-size: 20px;
    margin: 0; }
  .lauyoutsCarousel .slides .underRoom {
    font-size: 30px; }
  .lauyoutsCarousel .room .col-lg-5 {
    height: 58.333333vh; }
  .areaCarousel {
    margin-top: 0; }
  a.prevArrow,
  a.nextArrow {
    top: 30%;
    left: 0;
    opacity: 1; }
  a.nextArrow {
    right: 0;
    left: inherit; }
  body .slick-dots {
    width: 100%;
    top: 44vh;
    right: 1%;
    left: 1%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .galleryCarousel {
    display: none; }
  .galleryCarouselMobile {
    display: block; }
    .galleryCarouselMobile .gallerySlide {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  .gallery .galleryWrapper {
    margin-left: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .gallery .galleryWrapper h2 {
      margin-bottom: 60px; }
    .gallery .galleryWrapper img {
      height: 500px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
  .firstSection .fp-tableCell {
    vertical-align: bottom; }
    .firstSection .fp-tableCell .headerDownLine {
      width: 100%;
      height: auto;
      background-color: #374c70;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .firstSection .fp-tableCell .headerDownLine .first-column {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2; }
        .firstSection .fp-tableCell .headerDownLine .first-column .sale {
          text-align: center; }
      .firstSection .fp-tableCell .headerDownLine .second-column {
        height: 170px;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1; }
        .firstSection .fp-tableCell .headerDownLine .second-column .logo:before {
          top: -115px; }
      .firstSection .fp-tableCell .headerDownLine .third-column {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3; }
  a.nextArrow {
    left: 702px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
  .firstSection .fp-tableCell {
    vertical-align: bottom; }
    .firstSection .fp-tableCell .headerDownLine {
      width: 100%;
      height: 160px;
      background-color: #374c70;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding-bottom: 30px; }
      .firstSection .fp-tableCell .headerDownLine .first-column {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2; }
        .firstSection .fp-tableCell .headerDownLine .first-column .sale {
          text-align: center;
          font-size: 20px;
          text-align: left; }
      .firstSection .fp-tableCell .headerDownLine .second-column {
        height: 150px;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1; }
        .firstSection .fp-tableCell .headerDownLine .second-column .logo:before {
          content: '';
          width: 170px;
          height: 170px;
          background-size: 90%;
          background-position: 10px 30px;
          top: 11px; }
      .firstSection .fp-tableCell .headerDownLine .third-column {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3; }
        .firstSection .fp-tableCell .headerDownLine .third-column .phone {
          margin: 10px 0;
          text-align: right; }
          .firstSection .fp-tableCell .headerDownLine .third-column .phone a {
            margin: 0;
            font-size: 20px; }
  section.layouts h2 {
    margin-top: 60px;
    text-align: center;
    font-size: 30px; }
  .lauyoutsCarousel .areaCarousel {
    margin-top: 20px; }
  .lauyoutsCarousel .slides img {
    height: 250px; }
  .lauyoutsCarousel .slides p {
    font-size: 20px;
    margin: 0; }
  .lauyoutsCarousel .slides .underRoom {
    font-size: 30px; }
  section.objects .carousel-indicators-wrapper {
    display: none; }
  section.objects img {
    height: 100vh; }
  .mobile-underwrapper {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .mobile-underwrapper .svgWrapp {
      margin-right: 30px; }
    .mobile-underwrapper h3 {
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      font-weight: 900;
      line-height: 30px;
      text-transform: uppercase;
      color: #fff; }
    .mobile-underwrapper p {
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      color: #fff; }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .carousel-control-prev,
  .carousel-control-next {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .gallery .galleryWrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .gallery .galleryWrapper h2 {
      margin-bottom: 40px; }
    .gallery .galleryWrapper img {
      height: 400px; }
  .mapWrapper {
    display: none; }
  .footer .footerTop {
    height: -webkit-calc(100% - 200px);
    height: calc(100% - 200px); }
    .footer .footerTop .container-fluid .col-lg-7 {
      display: none; }
  .footerLine .col-lg-7 {
    display: none; }
  .footerLine .parus {
    margin-top: 80px; }
  .areaCarousel .slides .svg-container {
    height: auto;
    margin-bottom: 20px; } }

@media only screen and (max-width: 750px) {
  section.layouts h2 {
    margin-top: 40px; }
  section.layouts .lauyoutsCarousel .areaCarousel {
    margin-top: 0px; }
  section.layouts .lauyoutsCarousel .slides img {
    height: 200px; }
  section.layouts .room .roomBg {
    display: none; }
  a.prevArrow,
  a.nextArrow {
    top: 20%;
    left: 0;
    opacity: 1; }
  a.nextArrow {
    left: inherit; }
  body .slick-dots {
    width: 100%;
    top: 20px;
    right: 1%;
    left: 1%;
    margin-left: 0;
    padding-left: 0; }
  .gallery .galleryWrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .gallery .galleryWrapper h2 {
      font-size: 20px;
      margin-bottom: 40px; }
    .gallery .galleryWrapper img {
      max-height: 250px; }
  .mobile-underwrapper {
    height: 50%; }
  .carousel-control-prev,
  .carousel-control-next {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 50px; }
  .footer .footerTop .container-fluid > .row .questions h3 {
    display: none; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  /**/
  .firstSection .fp-tableCell {
    vertical-align: bottom; }
    .firstSection .fp-tableCell .headerDownLine {
      width: 100%;
      height: 160px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding: 0; }
      .firstSection .fp-tableCell .headerDownLine .first-column {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2; }
        .firstSection .fp-tableCell .headerDownLine .first-column .sale {
          text-align: center;
          font-size: 16px; }
      .firstSection .fp-tableCell .headerDownLine .second-column {
        height: 150px; }
        .firstSection .fp-tableCell .headerDownLine .second-column .logo:before {
          content: '';
          width: 150px;
          height: 150px;
          background-size: 90%;
          background-position: 10px 30px;
          top: 5px; }
      .firstSection .fp-tableCell .headerDownLine .third-column {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3; }
        .firstSection .fp-tableCell .headerDownLine .third-column .phone {
          margin: 0 0;
          text-align: center; }
          .firstSection .fp-tableCell .headerDownLine .third-column .phone a {
            margin: 10px 0;
            font-size: 16px; }
  .gallery {
    z-index: -1; }
    .gallery .overlay {
      z-index: -1; }
    .gallery .slick-list {
      z-index: -1; }
    .gallery .galleryWrapper {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .gallery .galleryWrapper h2 {
        font-size: 20px;
        margin-bottom: 40px; }
      .gallery .galleryWrapper img {
        max-height: 200px; }
      .gallery .galleryWrapper .galleryCarouselMobile .slick-prev {
        margin-left: 15px; }
      .gallery .galleryWrapper .galleryCarouselMobile .slick-next {
        margin-right: 15px; }
  .slick-prev:before,
  .slick-next:before {
    z-index: 9999; }
  section.layouts h2 {
    font-size: 20px; }
  section.layouts .lauyoutsCarousel .areaCarousel p {
    font-size: 14px; }
  section.layouts .lauyoutsCarousel .areaCarousel img {
    height: 170px; }
  .mobile-underwrapper {
    height: 60%; }
  .carousel-control-prev,
  .carousel-control-next {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 50px; }
  .footer .footerTop .container-fluid > .row .questions h3 {
    display: none; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
  .firstSection .fp-tableCell {
    vertical-align: bottom; }
    .firstSection .fp-tableCell .headerDownLine {
      width: 100%;
      height: 250px;
      background-color: #374c70;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .firstSection .fp-tableCell .headerDownLine .first-column {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2; }
        .firstSection .fp-tableCell .headerDownLine .first-column .sale {
          text-align: center;
          font-size: 20px; }
      .firstSection .fp-tableCell .headerDownLine .second-column {
        height: 150px; }
        .firstSection .fp-tableCell .headerDownLine .second-column .logo:before {
          content: '';
          width: 200px;
          height: 200px;
          background-size: 90%;
          background-position: 10px 30px;
          top: -52px; }
      .firstSection .fp-tableCell .headerDownLine .third-column {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3; }
        .firstSection .fp-tableCell .headerDownLine .third-column .phone {
          margin: 20px 0;
          text-align: center; }
          .firstSection .fp-tableCell .headerDownLine .third-column .phone a {
            margin: 0;
            font-size: 20px; }
  body .slick-dots li button:before {
    font-size: 13px; }
  section.layouts h2 {
    margin-top: 60px; }
  section.layouts .lauyoutsCarousel .areaCarousel {
    margin-top: 130px; }
  a.prevArrow,
  a.nextArrow {
    top: -60px;
    bottom: inherit;
    left: 0;
    opacity: 1; }
  a.nextArrow {
    left: inherit; }
  .section.aboutComplex h2 {
    font-size: 24px; }
  .section.aboutComplex .space h2 {
    font-size: 24px;
    line-height: 28px; }
  section.layouts h2 {
    font-size: 30px; }
  section.layouts .lauyoutsCarousel .areaCarousel p {
    font-size: 22px; }
  section.layouts .lauyoutsCarousel .areaCarousel img {
    height: 210px; }
  .footer .footerTop .container-fluid > .row .questions form input[type="tel"] {
    margin-top: 10px; }
  .footer .footerTop .container-fluid > .row .questions form input[type="submit"] {
    margin-top: 10px; }
  .footer .footerTop .container-fluid > .row .salesDepartment h2 {
    font-size: 20px;
    line-height: 20px; }
  .footer .footerTop .container-fluid > .row .salesDepartment .phone {
    font-size: 22px; }
  .footerLine .logo {
    display: none; }
  .mobile-underwrapper {
    height: 40%; }
  .carousel-control-prev,
  .carousel-control-next {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0; }
  .footer .footerTop .container-fluid > .row .questions h3 {
    display: none; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
  .section.aboutComplex h2 {
    font-size: 20px;
    margin-bottom: 0; }
  .section.aboutComplex .space h2 {
    font-size: 20px;
    line-height: 28px; }
  .section.aboutComplex .space p {
    font-size: 12px; }
  section.layouts h2 {
    font-size: 30px; }
  section.layouts .lauyoutsCarousel .areaCarousel p {
    font-size: 22px; }
  section.layouts .lauyoutsCarousel .areaCarousel img {
    height: 210px; }
  .mobile-underwrapper {
    height: 60%; }
    .mobile-underwrapper h3 {
      font-size: 20px; }
  .carousel-control-prev,
  .carousel-control-next {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 50px; }
  .footer .footerTop .container-fluid > .row .questions h3 {
    display: none; } }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
