*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Proxima Nova";
  font-size: 17px;
  color: inherit;
  outline: none;
}

body {
  overflow-x: hidden;
  &.fix {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

main{
  position: relative;
}

.underlined {
  border-bottom: 1px $gold solid;
}

.only_mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}

.only_desktop{
  @media (max-width: 767px) {
    display: none !important;
  }
}
