@font-face {
	font-family: 'EsqaderoFFCY4F';
	src: url('../fonts/Esqadero FF CY 4F-Regular.eot');
	src: url('../fonts/Esqadero FF CY 4F-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EsqaderoFFCY4F';
	src: url('../fonts/EsqaderoFFCY4F.woff') format('woff'),
	url('../fonts/EsqaderoFFCY4F.ttf') format('truetype'),
	url('../fonts/EsqaderoFFCY4F.svg#EsqaderoFFCY4F') format('svg');
	font-weight: normal;
	font-style: normal;
}