// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,400,700&subset=cyrillic');

// vars
$default_font: 'Roboto', sans-serif;
$accent_font: 'Open Sans', sans-serif;
$blue_color: #2C305F;
$purple_color: #BB6BD9;
$lightBlue_color: #56CCF2;
$black_color: #4F4F4F;
$gray_color: #ADADAD;

// default-sets
html {
	font-size: 10px;
	height: 100%;
	* {
		box-sizing: border-box;
		outline: none;
	}
}

body {
	overflow-x: hidden;
	min-width: 320px;
	font-family: $default_font;
	color: $black_color;
	font-size: 1.6rem;
	line-height: 1;
	padding: 0;
	margin: 0;
	height: 100%;
	&.hidden {
		overflow: hidden;
	}
}

main {
	min-height: 100%;
	height: auto !important;
	.header-indent {
		padding-top: 80px;
	}
	.footer-indent {
		padding-bottom: 10rem;
	}
}

// typographic
h1, .h1 {
	margin: 170px 0 0;
	font-weight: 700;
	font-size: 200px;
	color: #fff;
}

h2, .h2 {
	margin: 0;
	font-size: 35px;
	font-weight: 700;
}

h3, .h3 {
	margin: 0;
	font-size: 30px;
	font-weight: 700;
	line-height: 35px;
}

p {
	font-family: $accent_font;
	font-size: 18px;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
	}
}

a {

}

img {
	display: block;
	max-width: 100%;
}

.btn {
	padding: 0;
	border: none;
	color: #fff;
	font-size: 18px;
	font-family: $accent_font;
	height: 60px;
	text-align: center;
	cursor: pointer;
	transition: 100ms;
	user-select: none;
}

.mt170 {
	margin-top: 170px;
}
.mt150 {
	margin-top: 150px;
}
.mt120 {
	margin-top: 120px;
}
.mt100 {
	margin-top: 100px;
}
.mt90 {
	margin-top: 90px;
}
.mt85 {
	margin-top: 85px;
}
.mt60 {
	margin-top: 60px;
}
.mt50 {
	margin-top: 50px;
}
.mt30 {
	margin-top: 30px;
}
.ml70 {
	margin-left: 70px;
}
.ml50 {
	margin-left: 50px;
}
.mr130 {
	margin-right: 130px;
}
.mr120 {
	margin-right: 120px;
}
.mr170 {
	margin-right: 170px;
}
.mr200 {
	margin-right: 130px;
}
.mr90 {
	margin-right: 90px;
}
.mr20 {
	margin-right: 20px;
}

// grid
.container {
	padding: 1px 10px;
	max-width: 1200px;
	margin: auto;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.row {
	margin: 0 -10px;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.col {
	float: left;
	padding: 0 10px;
	&.w75 {
		width: 75%;
	}
	&.w60 {
		width: 60%;
	}
	&.w50 {
		width: 50%;
	}
	&.w40 {
		width: 40%;
	}
	&.w33 {
		width: 33.33333%;
	}
	&.w25 {
		width: 25%;
	}
}

// header
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(46, 50, 97, 0.8);
	z-index: 5;
}

.nav-wrapper {
	position: relative;
	height: 78px;
	.nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 100px;
		user-select: none;
		.nav-item {
			display: inline-block;
			color: #fff;
			font-size: 17px;
			margin-right: 35px;
			user-select: none;
			cursor: pointer;
			text-decoration: none;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				color: $lightBlue_color;
				transition: none;
			}
			&:active {
				color: #3CB1D6;
			}
		}
	}
	.logo {
		position: absolute;
		width: 100px;
		height: 78px;
		right: 20px;
		user-select: none;
		.wrapper-anim {
			display: block;
			width: 52px;
			position: absolute;
			top: 50%;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			transform-style: preserve-3d;
			transition: 200ms;
			transform: translateY(-50%);
		}
		.img-logo2 {
			position: absolute;
			top: 0;
			left: 0; right: 0;
			width: 52px;
			height: 37px;
			transition: 300ms;
			transform: translateX(-20px) translateZ(-15px) rotateY(-90deg);
		}
	}
}

footer {
	margin-top: -10rem;
	background-color: #2A2E54;
	padding-bottom: 120px;
	.social {
		margin-top: 5px;
		font-size: 0;
		.soc-item {
			display: inline-block;
			width: 34px;
			height: 34px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 34px 34px;
			margin-right: 20px;
			&:hover {
				opacity: 0.5;
				transition: none;
			}
			&:active {
				opacity: 0.3;
			}
		}
	}
}


.main-section {
	position: relative;
	background-color: $blue_color;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 916px;
		background-image: url('../img/main-bg.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom center;
		opacity: 0.5;
	}
	.wrapper {
		position: relative;
	}
	p {
		margin: -15px 0 0;
		color: #fff;
		font-weight: 400;
		line-height: 1.4;
		span {
			color: $purple_color;
			font-weight: 700;
		}
	}
	.countdown {
		margin-top: 50px;
		.countdown-item {
			display: inline-block;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			.countdown-timer {
				font-size: 55px;
				font-weight: 100;
				color: $purple_color;
			}
			.countdown-label {
				font-weight: 300;
				font-size: 16px;
				color: #fff;
				text-align: center;
				margin-top: 5px;
			}
		}
		.countdown-seconds {
			display: none;
		}
	}
	.btn {
		background-color: $purple_color;
		box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
		width: 270px;
		margin-top: 70px;
		&:hover {
			background-color: #D483F2;
		}
		&:active {
			background-color: #A254BF;
			box-shadow: inset 0px 4px 10px #8C3DB8;
		}
	}
	.main-info {
		border-left: 1px solid $purple_color;
		border-right: 1px solid $purple_color;
		padding-top: 80px;
		padding-bottom: 350px;
		.info-cnt {
			background-color: rgba(187, 107, 217, 0.15);
			padding: 160px 40px 30px;
			.h2 {
				color: #fff;
			}
			p {
				margin: 35px 0 0;
			}
			.price {
				font-size: 35px;
				font-weight: 700;
				color: $lightBlue_color;
				margin-top: 5px;
			}
		}
		.range {
			margin-top: 131px;
			padding: 0 10px;
			.line {
				position: relative;
				height: 4px;
				background-color: #fff;
				border-radius: 5px;
				.line-after {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					background-color: $lightBlue_color;
					border-radius: 5px 0 0 5px;
				}
				.circle {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 13px;
					height: 13px;
					border-radius: 50%;
					background-color: $lightBlue_color;
					z-index: 1;
					&:before {
						content: '';
						position: absolute;
						bottom: 13px;
						left: 50%;
						transform: translateX(-50%);
						height: 30px;
						width: 1px;
						background-color: #fff;
					}
					.persent {
						position: absolute;
						top: -40px;
						left: 15px;
						font-size: 18px;
						color: #fff;
						font-family: $accent_font;
						font-weight: 700;
					}
				}
			}
		}
		.btn {
			display: block;
			border: 4px solid $lightBlue_color;
			background: none;
			border-radius: 3px;
			box-shadow: none;
			width: 235px;
			margin: 115px auto 0;
			img {
				display: inline-block;
			}
			&:hover {
				background: $lightBlue_color;
			}
			&:active {
				border: none;
				background: #3CB1D6;
				box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
		}
	}
	.wrapper-why {
		position: relative;
		margin-top: -350px;
		padding-top: 70px;
		padding-bottom: 63px;
		&:before {
			content: '';
			position: absolute;
			top: -120px;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $purple_color;
		}
		.h2 {
			color: #fff;
		}
		.desc {
			display: block;
			position: relative;
			color: #fff;
			font-size: 25px;
			font-family: $accent_font;
			margin-top: 20px;
			line-height: 25px;
			height: 75px;
			// overflow: hidden;
		}
		.btn {
			display: block;
			width: 190px;
			margin-top: 25px;
		}
		.links {
			margin-top: 35px;
			text-align: right;
			.links-item {
				font-family: $accent_font;
				display: inline-block;
				color: #fff;
				margin-right: 65px;
				text-decoration: underline;
				cursor: pointer;
				&:last-child {
					margin-right: 20px;
				}
				&:hover {
					color: $lightBlue_color;
					.icon {
						use {
							fill: $lightBlue_color;
						}
					}
				}
				&:active {
					color: #3CB1D6;
					.icon {
						use {
							fill: #3CB1D6;
						}
					}
				}
			}
			a {
				position: relative;
				.icon {
					position: absolute;
					bottom: -2px;
					left: -23px;
				}
			}
		}
	}
}

.infrastructure {
	background-color: #F2F2F2;
	padding: 115px 0;
	.h2 {
		text-align: center;
		color: $blue_color;
		max-width: 840px;
		margin: auto;
	}
	.narrowly {
		max-width: 665px;
		margin: auto;
		text-align: center;
		line-height: 25px;
		margin-top: 20px;
	}
	.desc-narrowly {
		font-size: 25px;
		text-align: center;
		max-width: 635px;
		margin: auto;
		line-height: 37px;
		margin-top: 70px;
	}
	.teaser {
		position: relative;
		margin-top: 70px;
		.teaser-img {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}
		.teaser-text {
			margin-left: 144px;
			margin-right: 120px;
			p {
				line-height: 28px;
				margin: 0;
			}
		}
	}
	.text-wrapper {
		padding: 0 10px;
		margin-top: 100px;
		.desc {
			font-size: 25px;
			line-height: 28px;
		}
		p {
			margin-top: 40px;
			line-height: 28px;
		}
	}
}

.map {
	position: relative;
	background-color: #F4EBFC;
	padding-top: 100px;
	img {
		position: relative;
		margin: auto;
		z-index: 1;
	}
}

.features {
	position: relative;
	background-color: $blue_color;
	padding-top: 115px;
	padding-bottom: 115px;
	margin-top: -68px;
	z-index: 0;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 145px 145px 0 0;
		border-color: rgba(187, 107, 217, 0.07) transparent transparent transparent;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 336px 336px 0 0;
		border-color: rgba(187, 107, 217, 0.07) transparent transparent transparent;
	}
	.h3 {
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		max-width: 840px;
		margin: auto;
	}
	.features-item {
		position: relative;
		margin-top: 60px;
	}
	.features-icon {
		position: absolute;
		top: 5px;
		left: 0;
	}
	.features-text {
		margin-left: 65px;
		font-size: 17px;
		color: #fff;
		font-family: $accent_font;
		line-height: 30px;
		font-weight: 400;
		.bold {
			font-weight: 700;
		}
	}
}

.owners {
	position: relative;
	padding-top: 115px;
	padding-bottom: 300px;
	overflow: hidden;
	background-color: #fff;
	&:before {
		content: '';
		position: absolute;
		bottom: -350px;
		right: -40px;
		width: 494px;
		height: 991px;
		background-color: #F4EBFC;
		transform: rotate(48.4deg);
		user-select: none;
		pointer-events: none;
	}
	.phone {
		position: absolute;
		bottom: 38px;
		right: 137px;
		user-select: none;
		pointer-events: none;
		animation-name: moveDocBg;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
	}
	.h3 {
		text-align: center;
		text-transform: uppercase;
		max-width: 840px;
		margin: auto;
	}
	.narrowly {
		max-width: 625px;
		margin: auto;
		text-align: center;
		line-height: 25px;
		margin-top: 20px;
	}
	.desc {
		position: relative;
		margin: 45px 40px 0 10px;
		padding: 25px 0 25px 30px;
		font-size: 25px;
		font-family: $accent_font;
		line-height: 37px;
		&:before {
			content: '';
			position: absolute;
			top: 0; bottom: 0;
			left: 0;
			width: 2px;
			background-color: $purple_color;
		}
	}
	.text {
		margin-top: 70px;
		font-family: $accent_font;
		font-size: 17px;
		line-height: 31px;
	}
	.text2 {
		margin-top: 110px;
		padding-left: 15px;
	}
}

.what-is {
	background-color: #2A2E54;
	padding-top: 115px;
	padding-bottom: 115px;
	.h3 {
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		max-width: 840px;
		margin: auto;
	}
	.desc {
		position: relative;
		margin: 45px 40px 0 10px;
		padding: 25px 0 25px 30px;
		font-size: 25px;
		font-family: $accent_font;
		line-height: 37px;
		color: #fff;
		&:before {
			content: '';
			position: absolute;
			top: 0; bottom: 0;
			left: 0;
			width: 2px;
			background-color: $lightBlue_color;
		}
	}
	p {
		margin: 50px 100px 0 40px;
		color: #fff;
		line-height: 33px;
		&.small {
			margin-top: 40px;
			font-size: 16px;
		}
		&.right {
			margin: 50px 0 0;
		}
	}
	img {
		margin-left: auto;
		margin-top: 90px;
		margin-bottom: 100px;
	}
	.img-mobile {
		display: none;
	}
}

.gallery-eco {
	padding: 120px 0;
	background-color: #F4EBFC;
	.h3 {
		text-align: center;
		max-width: 840px;
		margin: auto;
		text-transform: uppercase;
	}
	.narrowly {
		max-width: 625px;
		margin: auto;
		text-align: center;
		line-height: 25px;
		margin-top: 50px;
	}
	.slider-wrapper {
		margin-top: 70px;
		.slider-controlls {
			li {
				display: inline-block;
				width: 11.11111%;
			}
			button {
				height: 86px;
				background-color: #2A2D58;
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				line-height: 86px;
				cursor: pointer;
				font-family: $accent_font;
				border: none;
				padding: 0;
				font-size: 18px;
				width: 100%;
				transition: 100ms;
				&:hover {
					background-color: #78DEFF;
				}
				&:active {
					background-color: #3CB1D6;
					box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
			}
			.slick-active {
				button {
					background-color: $lightBlue_color;
				}
			}
		}
		.slider {
			position: relative;
			border: 3px solid $lightBlue_color;
			background-color: #2A2D58;
			box-shadow: 0px 19px 25px rgba(47, 128, 237, 0.25);
			.item {
				height: 660px;
				.desc {
					position: relative;
					padding: 20px 0 20px 20px;
					font-size: 25px;
					font-family: $accent_font;
					line-height: 40px;
					color: #fff;
					.bold {
						font-weight: 700;
					}
					&:before {
						content: '';
						position: absolute;
						top: 0; bottom: 0;
						left: 0;
						width: 2px;
						background-color: $lightBlue_color;
					}
				}
				.desc-another {
					font-size: 25px;
					font-family: $accent_font;
					line-height: 46px;
					color: #fff;
					margin-right: 80px;
					.bold {
						font-weight: 700;
					}
				}
				p {
					font-size: 18px;
					color: #fff;
					line-height: 33px;
					margin-bottom: 0;
					.bold {
						font-weight: 700;
					}
				}
				.w920 {
					max-width: 920px;
					margin: auto;
					margin-left: 80px;
					margin-top: 65px;
				}
				.w975 {
					max-width: 975px;
					margin: auto;
					margin-left: 50px;
					margin-top: 70px;
				}
				.mainland {
					margin-left: 5px;
					margin-top: 105px;
				}
				.phone-slider {
					margin: auto;
					margin-top: 120px;
				}
				.book-img {
					margin: 167px auto 0;
				}
				.lock {
					margin: 90px auto 0;
				}
				.key-img {
					margin: 70px auto 0;
					margin-left: 150px;
				}
				.img-stage6 {
					margin: 100px auto 0;
				}
				.img-stage7 {
					margin: 10px auto 0;
				}
				.img-stage8 {
					margin: 65px auto 0;
				}
				.img-stage9 {
					margin: 150px auto 0;
				}
			}
			.slick-arrow {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: 1;
				cursor: pointer;
				background-color: $purple_color;
				border: none;
				box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
				font-size: 0;
				padding: 0;
				width: 60px;
				height: 60px;
				transition: 100ms;
				&:hover {
					background-color: #D483F2;
				}
				&:active {
					background-color: #A254BF;
					box-shadow: inset 0px 4px 10px #8C3DB8;
				}
				&.slick-prev {
					left: -30px;
					background-image: url('../img/arrow_left.svg');
					background-repeat: no-repeat;
					background-position: center center;
				}
				&.slick-next {
					right: -30px;
					background-image: url('../img/arrow_right.svg');
					background-repeat: no-repeat;
					background-position: center center;
				}
				&.slick-disabled {
					opacity: 0;
					visibility: hidden;
				}
			}
			#slider_in_slider .item {
				position: relative;
			}
			.arrow-next {
				position: absolute;
				bottom: 60px;
				right: 50px;
				font-size: 25px;
				color: #fff;
				max-width: 290px;
				user-select: none;
				cursor: pointer;
				.img {
					margin-top: 7px;
				}
				&:hover {
					color: #56CCF2;
				}
				&:active {
					color: #3CB1D6;
				}
			}
			.arrow-prev {
				position: absolute;
				bottom: 60px;
				left: 50px;
				font-size: 25px;
				color: #fff;
				user-select: none;
				width: 290px;
				cursor: pointer;
				.text {
					margin-left: 20px;
				}
				.img {
					margin-top: 7px;
				}
				&:hover {
					color: #56CCF2;
				}
				&:active {
					color: #3CB1D6;
				}
			}
		}
	}
}

.crowdsale {
	position: relative;
	background-color: #fff;
	padding-top: 115px;
	padding-bottom: 100px;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 530px 592px 0 0;
		border-color: #faf5fe transparent transparent transparent;
	}
	.container {
		position: relative;
	}
	.h3 {
		text-align: center;
		text-transform: uppercase;
		margin: auto;
		max-width: 840px;
	}
	.narrow {
		text-align: center;
		max-width: 665px;
		margin: 40px auto 0;
		font-size: 17px;
	}
	.img-wrapper {
		position: relative;
		max-width: 318px;
		margin: auto;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -159px;
			margin-top: -159px;
			width: 318px;
			height: 318px;
			border-radius: 50%;
			border: 1px solid rgba(223, 49, 98, 1);
			animation: circle 2s ease infinite 0.5s;
		}
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -159px;
			width: 280px;
			height: 280px;
			margin-left: -140px;
			margin-top: -140px;
			border-radius: 50%;
			border: 1px solid rgba(223, 49, 98, 1);
			animation: circle 2s ease infinite 0.8s;
		}
	}
	.img {
		margin: 135px auto 0;
	}
	.img-mobile {
		display: none;
	}
	.info {
		margin-top: 144px;
		.item {
			display: inline-block;
			font-family: $accent_font;
			font-size: 25px;
			font-weight: 700;
			margin-right: 20px;
			.icon {
				position: relative;
				top: 1px;
				display: inline-block;
				width: 20px;
				height: 20px;
				margin-right: 15px;
				&.icon-1 {
					background-color: #BB6BD9;
				}
				&.icon-2 {
					border: 5px solid #BB6BD9;
				}
				&.icon-3 {
					border: 5px solid #8C5FA3;
				}
				&.icon-4 {
					border: 5px solid #2F80ED;
				}
			}
		}
	}
	p {
		line-height: 33px;
		margin-right: 50px;
		margin-top: 50px;
		margin-bottom: 0;
	}
}

.token-detail {
	background-color: #F4EBFC;
	padding-top: 120px;
	padding-bottom: 150px;
	.wrapper {
		background-color: #2A2D58;
		padding-top: 50px;
		padding-bottom: 70px;
		.title {
			text-align: center;
			font-size: 18px;
			color: #fff;
			font-weight: 700;
			font-family: $accent_font;
			max-width: 840px;
			margin-left: auto;
			margin-right: auto;
		}
		.img-wrapper {
			margin: 35px auto 0;
			text-align: center;
			.img {
				position: relative;
				display: inline-block;
				.column {
					position: absolute;
					bottom: 16%;
					width: 9.6%;
					span {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
					&:before {
						content: '';
						position: absolute;
						top: 0%;
						left: 0;
						width: 100%;
						background: #7DCAEE;
					}
					&.n1 {
						height: 76.8%;
						left: 9.5%;
						span {
							background: linear-gradient(179.92deg, rgba(44, 86, 162, 0.66) 0.02%, rgba(86, 204, 242, 0) 99.98%);
						}
						&:before {
							height: 1.8%;
						}
					}
					&.n2 {
						left: 19.1%;
						height: 71.3%;
						span {
							background: linear-gradient(179.91deg, rgba(44, 86, 162, 0.66) 0.02%, rgba(86, 204, 242, 0) 99.98%);
						}
						&:before {
							height: 2%;
						}
					}
					&.n3 {
						width: 9.1%;
						left: 28.7%;
						height: 66%;
						span {
							background: linear-gradient(179.9deg, rgba(44, 86, 162, 0.66) 0.02%, rgba(86, 204, 242, 0) 99.98%);
						}
						&:before {
							height: 2.1%;
						}
					}
					&.n4 {
						width: 9.4%;
						left: 37.9%;
						height: 60.5%;
						span {
							background: linear-gradient(179.89deg, rgba(44, 86, 162, 0.66) 0.03%, rgba(86, 204, 242, 0) 99.97%);
						}
						&:before {
							height: 2.2%;
						}
					}
					&.n5 {
						width: 9.3%;
						left: 62.4%;
						height: 23%;
						span {
							background: linear-gradient(180deg, #BB6BD9 0%, rgba(187, 107, 217, 0) 100%), rgba(47, 128, 237, 0.14);
						}
						&:before {
							background-color: #C688F0;
							height: 5%;
						}
					}
					&.n6 {
						width: 9.5%;
						left: 71.7%;
						height: 17.5%;
						span {
							background: linear-gradient(180deg, #BB6BD9 0%, rgba(187, 107, 217, 0) 100%), rgba(47, 128, 237, 0.14);
						}
						&:before {
							background-color: #C688F0;
							height: 7%;
						}
					}
					&.n7 {
						width: 9.3%;
						left: 81.2%;
						height: 12.3%;
						span {
							background: linear-gradient(180deg, #BB6BD9 0%, rgba(187, 107, 217, 0) 100%), rgba(47, 128, 237, 0.14);
						}
						&:before {
							background-color: #C688F0;
							height: 10%;
						}
					}
					&.n8 {
						width: 9.5%;
						left: 90.5%;
						height: 6.8%;
						span {
							background: linear-gradient(180deg, #BB6BD9 0%, rgba(187, 107, 217, 0) 100%), rgba(47, 128, 237, 0.14);
						}
						&:before {
							background-color: #C688F0;
							height: 20%;
						}
					}
				}
			}
		}
		img {
			
		}
		.img-tablet {
			display: none;
		}
		.items {
			max-width: 1000px;
			margin: 40px auto 0;
			font-size: 0;
			.item {
				display: inline-block;
				width: 20%;
				vertical-align: top;
				padding: 0 10px;
				.label {
					font-size: 16px;
					font-family: $accent_font;
					color: #fff;
				}
				.cnt {
					margin-top: 40px;
					font-size: 14px;
					line-height: 21px;
					font-family: $accent_font;
					font-weight: 700;
					color: #fff;
				}
			}
		}
	}
	.line {
		width: 200px;
		height: 4px;
		background: #56CCF2;
		margin-left: 30px;
		margin-top: 130px;
	}
	.text {
		font-size: 17px;
		line-height: 31px;
		margin-top: 120px;
		margin-right: 60px;
	}
}

.token-gex {
	padding-top: 120px;
	padding-bottom: 100px;
	background-color: #2A2E54;
	.h3 {
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		margin: auto;
		max-width: 840px;
	}
	.narrow {
		text-align: center;
		max-width: 665px;
		margin: 40px auto 0;
		color: #fff;
	}
	.wrapper {
		max-width: 1440px;
		margin: auto;
	}
	.desc {
		position: relative;
		font-size: 18px;
		line-height: 33px;
		color: #fff;
		font-family: $accent_font;
		margin-top: 50px;
		padding: 25px 0;
		padding-left: 30px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0; bottom: 0;
			width: 2px;
			background-color: #56CCF2;
		}
		&.desc-first {
			margin-left: 508px;
			max-width: 800px;
		}
		&.desc-second {
			margin-left: 272px;
			max-width: 870px;
		}
		.num {
			position: absolute;
			bottom: 0;
			left: -70px;
			font-family: $accent_font;
			font-size: 50px;
			font-weight: 700;
			text-transform: uppercase;
		}
		.icon {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-100%,-50%);
			&.fix {
				left: 8px;
			}
		}
	}
}

.team {
	background-color: #2A2E54;
	padding: 120px 0 35px;
	overflow: hidden;
	.h3 {
		text-align: center;
		text-transform: uppercase;
		color: #fff;
	}
	.wrapper {
		position: relative;
		max-width: 1278px;
		height: 459px;
		margin: 5px auto 0;
		background: url('../img/team-lines.svg') repeat-x bottom left;
		.vector-bg {
			position: absolute;
			bottom: 7px;
			left: 3px;
			pointer-events: none;
		}
		.cnt {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			font-size: 0;
			padding: 100px 10px 0;
			.arrow1 {
				position: absolute;
				bottom: 5px;
				right: 0; left: 3px;
				height: 8px;
				background-image: url('../img/team_arrow1.svg');
				background-repeat: no-repeat;
				background-position: right center;
				pointer-events: none;
			}
			.arrow2 {
				position: absolute;
				left: 0;
				top: 0; bottom: 8px;
				width: 8px;
				background-image: url('../img/team-arrow2.svg');
				background-repeat: no-repeat;
				background-position: top center;
				pointer-events: none;
			}
			.circle {
				position: relative;
				width: 174px;
				height: 174px;
				border-radius: 50%;
				border: 1px solid #2F80ED;
				margin: auto;
			}
			.avatar {
				position: absolute;
				top: 50%; left: 50%;
				transform: translate(-50%, -50%);
				width: 138px;
				height: 138px;
				border-radius: 50%;
				background-position: top center;
				background-size: contain;
			}
			.name {
				font-family: $accent_font;
				font-size: 18px;
				text-align: center;
				font-weight: 700;
				color: #fff;
				margin-top: 45px;
				padding: 0 10px;
			}
			.role {
				font-family: $accent_font;
				font-size: 16px;
				text-align: center;
				color: #fff;
				margin-top: 10px;
				padding: 0 10px;
			}
		}
	}
}

.roadmap {
	padding-top: 120px;
	padding-bottom: 90px;
	.h3 {
		text-align: center;
		text-transform: uppercase;
		max-width: 840px;
		margin: auto;
	}
	.date {
		font-size: 18px;
		font-family: $accent_font;
		min-height: 60px;
		margin-bottom: 15px;
	}
	.text {
		margin-top: 90px;
		font-size: 18px;
		line-height: 26px;
		font-family: $accent_font;
	}
	.stg {
		font-size: 18px;
		line-height: 26px;
		font-weight: 700;
		font-family: $accent_font;
		text-transform: uppercase;
	}
	.dot {
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background-color: #56CCF2;
	}
	.wrapper {
		position: relative;
		.line {
			position: absolute;
			left: 0; right: 0;
			top: 80px;
			height: 1px;
			background-color: #56CCF2;
		}
	}
	.slider {
		margin-top: 70px;
		.item {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: 0; right: 0;
				top: 81px;
				height: 1px;
				background-color: #56CCF2;
			}
			&:first-child {
				&:before {
					left: 0;
					right: 0;
				}
			}
			&:last-child {
				&:before {
					right: 0;
					left: 0;
				}
				.wrapper {
					.line {
						background: none;
						&:before {
							content: '';
							position: absolute;
							top: 0;
							left: 0; right: 0;
							transform: translateX(-74%);
							height: 1px;
							background-color: #56CCF2;
						}
					}
				}
			}
		}
		.slick-arrow {
			position: absolute;
			top: 81px;
			transform: translateY(-50%);
			font-size: 0;
			border: none;
			padding: 0;
			width: 20.5px;
			height: 40px;
			background: none;
			background-repeat: no-repeat;
			background-size: 20.5px 40px;
			z-index: 1;
			cursor: pointer;
			transition: 100ms;
		}
		.slick-prev {
			left: 20px;
			background-image: url('../img/chevron_left.svg');
		}
		.slick-next {
			right: 20px;
			background-image: url('../img/chevron_right.svg');
		}
		.slick-disabled {
			opacity: 0;
		}
		.slick-track {
			// &:after {
			// 	content: '';
			// 	position: absolute;
			// 	left: 0; right: 0;
			// 	top: 81px;
			// 	height: 1px;
			// 	background-color: #56CCF2;
			// }
		}
	}
}

.modal {
	display: none;
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 99;
	background: rgba(30, 33, 79, 0.8);
	.exit {
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
		user-select: none;
	}
	.form {
		position: absolute;
		top: 50%;
		left: 0; right: 0;
		margin: auto;
		transform: translateY(-50%);
		max-width: 600px;
		background-color: #fff;
		box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
		padding: 75px 0 50px;
		text-align: center;
		.field {
			display: block;
			max-width: 420px;
			padding: 0 10px;
			margin: auto;
			.input {
				height: 60px;
				width: 100%;
				border: 1px solid #BB6BD9;
				padding: 0 20px;
				color: #000;
				font-family: $accent_font;
				font-size: 18px;
				font-weight: 400;
				&::-webkit-input-placeholder {
					color: $gray_color;
				}
				&::-moz-placeholder {
					color:#c0392b;
				}
				&:-ms-input-placeholder {
					color:#c0392b;
				}
			}
			.checkbox-label {
				display: inline-block;
				cursor: pointer;
				user-select: none;
				font-family: $accent_font;
				font-size: 12px;
				color: $gray_color;
				margin-top: 10px;
				&.error {
					.checkbox-icon {
						border-color: red;
					}
				}
			}
			.checkbox-icon {
				position: relative;
				top: 2px;
				display: inline-block;
				width: 12px;
				height: 12px;
				border: 1px solid #BB6BD9;
			}
			.checkbox {
				display: none;
				&:checked + .checkbox-icon {
					background-image: url('../img/check.svg');
					background-repeat: no-repeat;
					background-position: center center;
				}
			}
			&.error {
				.input {
					border-color: red;
				}
			}
		}
		.btn {
			background-color: #BB6BD9;
			box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
			width: 270px;
			margin-top: 30px;
			transition: 100ms;
			&:hover {
				background-color: #D483F2;
			}
			&:active {
				background-color: #A254BF;
				box-shadow: inset 0px 4px 10px #8C3DB8;
			}
		}
	}
	.video {
		position: absolute;
		left: 0; right: 0;
		margin: auto;
		max-width: 960px;
		top: 50%;
		padding-top: 85px;
		padding-bottom: 50px;
		transform: translate(0, -50%);
		background-color: #2C305F;
		.iframe-wrapper {
			position: relative;
			overflow: hidden;
			&:after{
				content: '';
				float: left;
				padding-top: 60%;
			}
		}
	}
}

.burger {
	display: none;
}
iframe {
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
}

.typed-vars {
	display: none;
}
.typed-cursor {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
}

@media (max-width: 1399px) {
	.modal .video {
		max-width: 720px;
	}
}

@media (max-width: 1259px) {
	.gallery-eco {
		.slider-wrapper {
			.slider {
				.slick-arrow {
					&.slick-prev {
						left: 10px;
					}
					&.slick-next {
						right: 10px;
					}
				}
			}
		}
	}
}

@media (max-width: 1199px) {
	h2, .h2 {
		font-size: 30px;
	}
	.main-section {
		.wrapper-why {
			.links {
				.links-item {
					margin-right: 40px;
				}
			}
			&:before {
				top: -150px;
			}
		}
		.main-info {
			.info-cnt {
				padding-bottom: 50px;
				.price {
					font-size: 30px;
				}
			}
		}
	}
	.gallery-eco {
		.slider-wrapper {
			.slider {
				.item {
					.desc {
						font-size: 20px;
						line-height: 30px;
					}
					p {
						font-size: 16px;
						line-height: 24px;
					}
					.desc-another {
						font-size: 20px;
						line-height: 30px;
					}
				}
			}
		}
	}
	.nav-wrapper {
		.logo {
			.img-logo2 {
				display: none;
			}
		}
	}
}

@media (max-width: 991px) {
	.container {
		max-width: 620px;
	}

	.col {
		float: none;
		&.w60 {
			width: 100%;
		}
		&.w50 {
			width: 100%;
		}
		&.w40 {
			width: 100%;
		}
		&.w33 {
			width: 100%;
		}
	}

	h1, .h1 {
		margin-top: 130px;
	}
	h2, .h2 {
		font-size: 35px;
	}
	
	header {
		.nav-wrapper {
			.header-nav {
				display: none;
				position: fixed;
				top: 80px; bottom: 0;
				left: 0; right: 0;
				transform: none;
				background: rgba(46, 50, 97, 0.8);
				padding: 20px 0;
				.nav-item {
					display: block;
					margin: 0;
				}
				&.active {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-around;
				}
			}
		}
	}

	.burger {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 40px;
		height: 25px;
		span {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 40px;
			height: 4px;
			background-color: #fff;
			transition: 100ms;
			&:nth-child(2) {
				transform: translate(0, 11px);
			}
			&:last-child {
				transform: translate(0, 21px);
			}
		}
		&.active {
			span {
				&:first-child {
					transform: translate(0, 11px) rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					transform: translate(0, 11px) rotate(-45deg);
				}
			}
		}
	}

	.nav-wrapper {
		.logo {
			right: 0;
		}
	}
	.main-section {
		&:before {
			height: 1406px;
		}
		.countdown {
			text-align: center;
		}
		.btn {
			display: block;
			margin: 40px auto 0;
		}
		.main-info {
			border: none;
			padding: 0;
			margin-top: 100px;
			background-color: rgba(187, 107, 217, 0.15);
			padding-top: 80px;
			padding-bottom: 80px;
			.info-cnt {
				background: none;
				padding: 0;
				max-width: 380px;
				margin: auto;
				.col {
					float: left;
					&.w50 {
						width: 50%;
					}
				}
				p {
					margin-top: 30px;
				}
				.price {
					font-size: 35px;
				}
			}
			.range {
				margin-top: 80px;
			}
			.btn {
				margin-left: 0;
				margin-top: 90px;
			}
		}
		.wrapper-why {
			margin: 0;
			padding-top: 60px;
			&:before {
				display: none;
			}
			.col.w40 {
				max-width: 380px;
				margin: auto;
			}
			.btn {
				margin-top: 40px;
				margin-left: 0;
			}
			.links {
				margin-top: 70px;
				text-align: center;
				.links-item {
					margin-right: 60px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	.infrastructure {
		.teaser {
			.teaser-text {
				margin-right: 0;
			}
			.teaser-img {
				transform: translateY(0);
				top: 10px;
			}
		}
		.text-wrapper {
			padding: 0;
			p {
				margin-bottom: 0;
			}
		}
	}
	.features {
		margin-top: -35px;
		.features-item {
			max-width: 420px;
			margin: 40px auto 0;
		}
	}
	.owners {
		padding-bottom: 30px;
		.desc {
			margin: 45px 0 0 0;
		}
		.text {
			position: relative;
		}
		.text2 {
			padding: 0;
			margin-top: 60px;
		}
		.phone {
			position: relative;
			top: 0;
			right: auto;
			left: auto;
			pointer-events: auto;
			max-width: 620px;
			margin: 40px auto 0;
			img {
				margin-right: 0;
				margin-left: auto;
			}
		}
	}
	.what-is {
		padding-bottom: 100px;
		.desc {
			padding: 0;
			margin: 45px auto 0;
			&:before {
				display: none;
			}
		}
		p {
			margin: 100px 0 0;
		}
		img {
			margin: 60px 0;
		}
	}

	.gallery-eco {
		.slider-wrapper {
			.slider-controlls {
				li {
					&:nth-child(1) {
						width: 20%;
					}
					&:nth-child(2) {
						width: 20%;
					}
					&:nth-child(3) {
						width: 20%;
					}
					&:nth-child(4) {
						width: 20%;
					}
					&:nth-child(5) {
						width: 20%;
					}
					&:nth-child(6) {
						width: 25%;
					}
					&:nth-child(7) {
						width: 25%;
					}
					&:nth-child(8) {
						width: 25%;
					}
					&:nth-child(9) {
						width: 25%;
					}
				}
			}
			.slider {
				.slick-arrow {
					&.slick-prev {
						left: -20px;
					}
					&.slick-next {
						right: -20px;
					}
				}
				.item {
					position: relative;
					height: 980px;
					.desc {
						padding: 0;
						margin: 80px 50px 0;
						&:before {
							display: none;
							padding: 0;
						}
					}
					.desc-another {
						padding: 0;
						margin: 70px 50px 0;
					}
					p {
						margin: 70px 50px 0;
					}
					.w920 {
						margin: 70px 50px 0;
					}
					.w975 {
						margin: 70px 50px 0;
					}
					img {
						margin: 50px auto 0;
					}
					.book-img {
						margin: 50px auto 0;
					}
					.lock {
						margin: 50px auto 0;
					}
					.key-img {
						margin: 70px auto 0;
					}
					.img-stage7 {
						margin-top: 50px;
					}
					.img-stage9 {
						margin-top: 50px;
					}
					.arrow-next {
						img {
							margin: auto;
						}
					}
					.arrow-prev {
						img {
							margin: auto;
						}
					}
				}
			}
		}
	}
	.crowdsale {
		.info {
			margin-top: 80px;
		}
	}
	.token-detail {
		padding-top: 80px;
		padding-bottom: 80px;
		.wrapper {
			.img-desctop {
				display: none;
			}
			.img-tablet {
				display: block;
			}
			.title {
				margin-top: 20px;
			}
			.items {
				margin-top: 0;
				max-width: 560px;
				.item {
					margin-top: 40px;
					width: 33.33333%;
				}
			}
			.img-wrapper .img .column {
				display: none;
			}
		}
		.col {
			float: left;
		}
		.line {
			width: 100%;
			margin-left: 0;
			margin-top: 60px;
		}
		.text {
			margin-top: 50px;
			margin-right: 0;
		}
	}
	.token-gex {
		.wrapper {
			max-width: 620px;
		}
		.desc {
			padding: 0;
			.icon {
				position: relative;
				top: auto; left: auto;
				transform: translate(0, 0);
				margin-top: 60px;
				img {
					margin: auto;
				}
				&.fix {
					left: 0;
				}
			}
			&:before {
				display: none;
			}
			&.desc-first {
				margin: auto;
			}
			&.desc-second {
				margin: auto;
			}
			.num {
				position: relative;
				top: auto;
				left: auto;
				margin-bottom: 20px;
			}
		}
	}
	.roadmap {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.team {
		.wrapper {
			.cnt {
				max-width: 620px;
				margin: auto;
				#team-slider {
					.slick-arrow {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						z-index: 1;
						cursor: pointer;
						background-color: $purple_color;
						border: none;
						box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
						font-size: 0;
						padding: 0;
						width: 60px;
						height: 60px;
						transition: 100ms;
						&:hover {
							background-color: #D483F2;
						}
						&:active {
							background-color: #A254BF;
							box-shadow: inset 0px 4px 10px #8C3DB8;
						}
						&.slick-prev {
							left: 0px;
							background-image: url('../img/arrow_left.svg');
							background-repeat: no-repeat;
							background-position: center center;
						}
						&.slick-next {
							right: 0px;
							background-image: url('../img/arrow_right.svg');
							background-repeat: no-repeat;
							background-position: center center;
						}
						&.slick-disabled {
							opacity: 0;
							visibility: hidden;
						}
					}
				}
			}
		}
	}

	footer {
		.nav-wrapper {
			.nav {
				.nav-item {
					margin-top: 20px;
				}
			}
		}
		.social {
			margin-top: 30px;
		}
	}

	.modal {
		.video {
			top: 0;
			bottom: 0;
			transform: none;
			padding: 0;
			.exit {
				z-index: 99;
				top: 60px;
				right: 20px;
			}
			.iframe-wrapper {
				position: absolute;
				top: 0; bottom: 0;
				left: 0; right: 0;
				iframe {
					max-width: 100%;
				}
				&:after {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 660px) {
	.gallery-eco .slider-wrapper .slider .slick-arrow {
		&.slick-next {
			right: 0;
		}
		&.slick-prev {
			left: 0;
		}
	}
}

@media (max-width: 619px) {
	.container {
		padding: 1px 20px;
	}
	h1, .h1 {
		font-size: 80px;
		& + p {
			min-height: 125px;
		}
	}
	.main-section {
		&::before {
			height: 1630px;
		}
		p {
			margin-top: 30px;
		}
		.countdown {
			font-size: 0;
			margin-top: 40px;
			.countdown-item {
				.countdown-timer {
					font-size: 48px;
				}
			}
		}
		.main-info {
			margin: 60px -20px 0;
			padding: 50px 20px 100px;
			.info-cnt {
				p {
					margin-top: 45px;
				}
				.col.w50 {
					width: 100%;
				}
				h2, .h2 {
					min-height: 70px;
				}
			}
			.btn {
				margin: 80px auto 0;
			}
		}
		.wrapper-why {
			.desc {
				line-height: 30px;
			}
			.links {
				margin-top: 35px;
				font-size: 0;
				text-align: left;
				a .icon {
					left: 0;
				}
				.links-item {
					font-size: 16px;
					margin: 0;
					padding-left: 20px;
					width: 50%;
					margin-top: 35px;
				}
			}
		}
	}
	.infrastructure {
		padding: 60px 0 100px;
		.h2 {
			font-size: 20px;
		}
		.narrowly {
			margin-top: 40px;
		}
		.desc-narrowly {
			text-align: left;
			font-size: 18px;
			line-height: 25px;
			margin-top: 40px;
		}
		.teaser {
			.teaser-img {
				position: static;
				transform: none;
				img {
					margin: auto;
				}
			}
			.teaser-text {
				margin: 15px auto 0;
			}
		}
		.text-wrapper {
			margin-top: 40px;
			.desc {

			}
		}
	}

	.map {
		padding: 20px 10px;
	}

	.features {
		padding-top: 60px;
		padding-bottom: 100px;
		margin-top: 0;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
		.features-icon {
			position: static;
			img {
				margin: auto;
			}
		}
		.features-text {
			margin: 20px auto 0;
		}
		.features-item {
			margin-top: 45px;
		}
	}

	.owners {
		padding-top: 60px;
		&::before {
			width: 334px;
			height: 664px;
		}
		.narrowly {
			padding-top: 70px;
		}
		.desc {
			padding: 10px 0 10px 10px;
		}
	}

	.what-is {
		padding-top: 60px;
		padding-bottom: 80px;
		p {
			margin-top: 60px;
		}
		.img-desktop {
			display: none;
		}
		.img-mobile {
			display: block;
		}
	}

	.gallery-eco {
		padding: 60px 0 0;
		.h3 {
			font-size: 20px;
			line-height: 28px;
		}
		.slider-wrapper {
			margin-left: -10px;
			margin-right: -10px;
			.slider-controlls {
				.slick-dots {
					li {
						width: 33.33333%;
					}
				}
				button {
					height: 70px;
					line-height: 70px;
				}
			}
			.slider {
				border-left: none;
				border-right: none;
				.item {
					.desc {
						margin: 60px auto 0;
					}
					.desc-another {
						margin: 50px auto 0;
					}
					p {
						margin: 60px auto 0;
					}
					.w920 {
						margin: 50px auto 0;
					}
					.w975 {
						margin: 10px auto 0;
						font-size: 14px;
					}
					.mainland {
						margin: 60px auto 0;
					}
					.phone-slider {
						margin-top: 60px;
					}
					.book-img {
						margin: 40px auto 0;
					}
					.key-img {
						margin-top: 50px;
					}
					.img-stage8 {
						margin-top: 40px;
					}
				}
				.arrow-next {
					bottom: 30px;
					left: 0; right: 0;
					margin: auto;
					font-size: 22px;
					text-align: center;
				}
				.arrow-prev {
					bottom: 30px;
					left: 0; right: 0;
					margin: auto;
					font-size: 22px;
					text-align: center;
				}
			}
		}
	}

	.crowdsale {
		padding-top: 90px;
		&:before {
			display: none;
		}
		.narrow {
			margin-top: 30px;
		}
		.info {
			margin-top: 30px;
			.item {
				margin-top: 30px;
			}
		}
		p {
			margin-right: 0;
			margin-top: 40px;
		}
		.img-wrapper {
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
		.img-desktop {
			display: none;
		}
		.img-mobile {
			display: block;
		}
	}

	.token-detail {
		padding: 0;
		padding-bottom: 100px;
		.wrapper {
			padding-top: 1px;
			margin: 0 -20px;
			.title {
				margin-top: 50px;
			}
			.items {
				max-width: 200px;
				margin: auto;
				.item {
					width: 100%;
					margin-top: 50px;
					.cnt {
						margin-top: 20px;
					}
				}
			}
		}
		.col {
			float: none;
			&.w75 {
				width: 100%;
			}
		}
		.line {
			display: none;
		}
	}

	.token-gex {
		padding: 80px 20px 80px;
		.desc {
			.icon {
				margin: 60px -20px 0;
			}
			.num {
				text-align: center;
				margin-top: 40px;
			}
		}
	}

	.team {
		padding-top: 90px;
		.wrapper {
			background: none;
			.vector-bg {
				display: none;
			}
			.cnt {
				padding-top: 60px;
				.arrow1, .arrow2 {
					display: none;
				}
				.name {
					margin-top: 35px;
				}
				#team-slider .slick-arrow {
					top: auto;
					bottom: -80px;
					transform: none;
					&.slick-prev {
						left: 50px;
					}
					&.slick-next {
						right: 50px;
					}
				}
			}
		}
	}

	footer {
		.nav-wrapper {
			height: auto;
			.nav {
				position: static;
				transform: none;
				.nav-item {

				}
			}
			.logo {
				transform: translateX(50%);
				bottom: -150px;
				top: auto;
				right: 50%;
				margin: auto;
				width: auto;
				height: auto;
			}
		}
		.social {
			text-align: center;
			margin-top: 50px;
			.soc-item {
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	.what-is img {
		display: none;
	}

}


@media (min-width: 1200px) {
	.animate {
		transform: translateY(50px);
		opacity: 0;
		transition: 0.8s;
		&.scale {
			transform: scale(0);
		}
		.column {
			transform: scaleY(0);
			transition: 1s;
			transform-origin: bottom;
		}
		&.visible {
			opacity: 1;
			transform: none;
			.column {
				transform: scaleY(1);
				transition: 1s;
				&.n2 {
					transition-delay: 0.1s;
				}
				&.n2 {
					transition-delay: 0.2s;
				}
				&.n3 {
					transition-delay: 0.3s;
				}
				&.n4 {
					transition-delay: 0.4s;
				}
				&.n5 {
					transition-delay: 0.5s;
				}
				&.n6 {
					transition-delay: 0.6s;
				}
				&.n7 {
					transition-delay: 0.7s;
				}
				&.n8 {
					transition-delay: 0.8s;
				}
			}
		}
		&.delay-01 {
			transition-delay: 0.1s;
		}
		&.delay-02 {
			transition-delay: 0.2s;
		}
		&.delay-03 {
			transition-delay: 0.3s;
		}
		&.delay-04 {
			transition-delay: 0.4s;
		}
		&.delay-05 {
			transition-delay: 0.5s;
		}
		&.delay-06 {
			transition-delay: 0.6s;
		}
		&.delay-07 {
			transition-delay: 0.7s;
		}
	}
	
	.nav-wrapper {
		.logo {
			&:hover {
				.wrapper-anim {
					transform: translateY(-50%) rotateY(90deg);
				}
			}
		}
	}

	@keyframes moveDocBg {
		0% {
			transform: translateY(0); 
		}
		100% {
			transform: translateY(50px); 
		} 
	}

	@keyframes circle {
		0% {
			transform: scale(1); 
			opacity: 0.5;
		}
		100% {
			transform: scale(1.1); 
			opacity: 0;
		} 
	}
}