// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,400,700&subset=cyrillic');

// vars
$default_font: 'Roboto', sans-serif;
$accent_font: 'Open Sans', sans-serif;
$blue_color: #2C305F;
$purple_color: #BB6BD9;
$lightBlue_color: #56CCF2;
$black_color: #4F4F4F;
$gray_color: #ADADAD;

// default-sets
html {
	font-size: 10px;
	height: 100%;
	* {
		box-sizing: border-box;
		outline: none;
	}
}

body {
	overflow-x: hidden;
	min-width: 320px;
	font-family: $default_font;
	color: $black_color;
	font-size: 1.6rem;
	line-height: 1;
	padding: 0;
	margin: 0;
	height: 100%;
	&.hidden {
		overflow: hidden;
	}
}

main {
	min-height: 100%;
	height: auto !important;
	.header-indent {
		padding-top: 80px;
	}
	.footer-indent {
		padding-bottom: 10rem;
	}
}

// typographic
h1, .h1 {
	margin: 170px 0 0;
	font-weight: 700;
	font-size: 200px;
	color: #fff;
}

h2, .h2 {
	margin: 0;
	font-size: 35px;
	font-weight: 700;
}

h3, .h3 {
	margin: 0;
	font-size: 30px;
	font-weight: 700;
	line-height: 35px;
}

p {
	font-family: $accent_font;
	font-size: 18px;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
	}
}

a {

}

img {
	display: block;
}

.btn {
	padding: 0;
	border: none;
	color: #fff;
	font-size: 18px;
	font-family: $accent_font;
	height: 60px;
	text-align: center;
	cursor: pointer;
	transition: 100ms;
	user-select: none;
}

.mt170 {
	margin-top: 170px;
}
.mt150 {
	margin-top: 150px;
}
.mt120 {
	margin-top: 120px;
}
.mt100 {
	margin-top: 100px;
}
.mt90 {
	margin-top: 90px;
}
.mt85 {
	margin-top: 85px;
}
.mt60 {
	margin-top: 60px;
}
.mt50 {
	margin-top: 50px;
}
.mt30 {
	margin-top: 30px;
}
.ml70 {
	margin-left: 70px;
}
.ml50 {
	margin-left: 50px;
}
.mr130 {
	margin-right: 130px;
}
.mr120 {
	margin-right: 120px;
}
.mr170 {
	margin-right: 170px;
}
.mr200 {
	margin-right: 130px;
}
.mr90 {
	margin-right: 90px;
}
.mr20 {
	margin-right: 20px;
}

// grid
.container {
	padding: 1px 10px;
	max-width: 1200px;
	margin: auto;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.row {
	margin: 0 -10px;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.col {
	float: left;
	padding: 0 10px;
	&.w75 {
		width: 75%;
	}
	&.w60 {
		width: 60%;
	}
	&.w50 {
		width: 50%;
	}
	&.w40 {
		width: 40%;
	}
	&.w33 {
		width: 33.33333%;
	}
	&.w25 {
		width: 25%;
	}
}

// header
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(46, 50, 97, 0.8);
	z-index: 5;
}

.nav-wrapper {
	position: relative;
	height: 78px;
	nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 100px;
		user-select: none;
		.nav-item {
			display: inline-block;
			color: #fff;
			font-size: 17px;
			margin-right: 35px;
			user-select: none;
			cursor: pointer;
			transition: 100ms;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				color: $lightBlue_color;
			}
			&:active {
				color: #3CB1D6;
			}
		}
	}
	.logo {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		user-select: none;
	}
}

footer {
	margin-top: -10rem;
	background-color: #2A2E54;
	padding-bottom: 120px;
	.social {
		margin-top: 5px;
		font-size: 0;
		.soc-item {
			display: inline-block;
			width: 34px;
			height: 34px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 34px 34px;
			transition: 100ms;
			margin-right: 20px;
			&:hover {
				opacity: 0.5;
			}
			&:active {
				opacity: 0.3;
			}
		}
	}
}


.main-section {
	position: relative;
	background-color: $blue_color;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 916px;
		background-image: url('../img/main-bg.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom center;
		opacity: 0.5;
	}
	.wrapper {
		position: relative;
	}
	p {
		margin: -15px 0 0;
		color: #fff;
		font-weight: 400;
		line-height: 1.4;
		span {
			color: $purple_color;
			font-weight: 700;
		}
	}
	.countdown {
		margin-top: 50px;
		.countdown-item {
			display: inline-block;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			.countdown-timer {
				font-size: 55px;
				font-weight: 100;
				color: $purple_color;
			}
			.countdown-label {
				font-weight: 300;
				font-size: 16px;
				color: #fff;
				text-align: center;
				margin-top: 5px;
			}
		}
		.countdown-seconds {
			display: none;
		}
	}
	.btn {
		background-color: $purple_color;
		box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
		width: 270px;
		margin-top: 70px;
		&:hover {
			background-color: #D483F2;
		}
		&:active {
			background-color: #A254BF;
			box-shadow: inset 0px 4px 10px #8C3DB8;
		}
	}
	.main-info {
		border-left: 1px solid $purple_color;
		border-right: 1px solid $purple_color;
		padding-top: 80px;
		padding-bottom: 350px;
		.info-cnt {
			background-color: rgba(187, 107, 217, 0.15);
			padding: 160px 40px 30px;
			.h2 {
				color: #fff;
			}
			p {
				margin: 35px 0 0;
			}
			.price {
				font-size: 35px;
				font-weight: 700;
				color: $lightBlue_color;
				margin-top: 5px;
			}
		}
		.range {
			margin-top: 131px;
			padding: 0 10px;
			.line {
				position: relative;
				height: 4px;
				background-color: #fff;
				border-radius: 5px;
				.line-after {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					background-color: $lightBlue_color;
					border-radius: 5px 0 0 5px;
				}
				.circle {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 13px;
					height: 13px;
					border-radius: 50%;
					background-color: $lightBlue_color;
					z-index: 1;
					&:before {
						content: '';
						position: absolute;
						bottom: 13px;
						left: 50%;
						transform: translateX(-50%);
						height: 30px;
						width: 1px;
						background-color: #fff;
					}
					.persent {
						position: absolute;
						top: -40px;
						left: 15px;
						font-size: 18px;
						color: #fff;
						font-family: $accent_font;
						font-weight: 700;
					}
				}
			}
		}
		.btn {
			display: block;
			border: 4px solid $lightBlue_color;
			background: none;
			border-radius: 3px;
			box-shadow: none;
			width: 235px;
			margin: 115px auto 0;
			img {
				display: inline-block;
			}
			&:hover {
				background: $lightBlue_color;
			}
			&:active {
				border: none;
				background: #3CB1D6;
				box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
		}
	}
	.wrapper-why {
		position: relative;
		margin-top: -350px;
		padding-top: 70px;
		padding-bottom: 88px;
		&:before {
			content: '';
			position: absolute;
			top: -120px;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $purple_color;
		}
		.h2 {
			color: #fff;
		}
		.desc {
			display: inline-block;
			position: relative;
			color: #fff;
			font-size: 25px;
			font-family: $accent_font;
			margin-top: 20px;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: -20px;
				width: 2px;
				height: 42px;
				background-color: #fff;
			}
		}
		.btn {
			width: 190px;
			margin-top: 50px;
		}
		.links {
			margin-top: 35px;
			text-align: right;
			.links-item {
				font-family: $accent_font;
				display: inline-block;
				color: #fff;
				margin-right: 65px;
				text-decoration: underline;
				cursor: pointer;
				transition: 100ms;
				&:last-child {
					margin-right: 20px;
				}
				&:hover {
					color: $lightBlue_color;
					.icon {
						use {
							fill: $lightBlue_color;
						}
					}
				}
				&:active {
					color: #3CB1D6;
					.icon {
						use {
							fill: #3CB1D6;
						}
					}
				}
			}
			a {
				position: relative;
				.icon {
					position: absolute;
					bottom: -2px;
					left: -23px;
				}
			}
		}
	}
}

.infrastructure {
	background-color: #F2F2F2;
	padding: 115px 0;
	.h2 {
		text-align: center;
		color: $blue_color;
		max-width: 840px;
		margin: auto;
	}
	.narrowly {
		max-width: 665px;
		margin: auto;
		text-align: center;
		line-height: 25px;
		margin-top: 20px;
	}
	.desc-narrowly {
		font-size: 25px;
		text-align: center;
		width: 635px;
		margin: auto;
		line-height: 37px;
		margin-top: 70px;
	}
	.teaser {
		position: relative;
		margin-top: 70px;
		.teaser-img {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}
		.teaser-text {
			margin-left: 144px;
			margin-right: 120px;
			p {
				line-height: 28px;
				margin: 0;
			}
		}
	}
	.text-wrapper {
		padding: 0 10px;
		margin-top: 100px;
		.desc {
			font-size: 25px;
			line-height: 28px;
		}
		p {
			margin-top: 40px;
			line-height: 28px;
		}
	}
}

.map {
	position: relative;
	background-color: #F4EBFC;
	padding-top: 100px;
	img {
		position: relative;
		margin: auto;
		z-index: 1;
	}
}

.features {
	position: relative;
	background-color: $blue_color;
	padding-top: 115px;
	padding-bottom: 115px;
	margin-top: -68px;
	z-index: 0;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 145px 145px 0 0;
		border-color: rgba(187, 107, 217, 0.07) transparent transparent transparent;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 336px 336px 0 0;
		border-color: rgba(187, 107, 217, 0.07) transparent transparent transparent;
	}
	.h3 {
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		max-width: 840px;
		margin: auto;
	}
	.features-item {
		position: relative;
		margin-top: 60px;
	}
	.features-icon {
		position: absolute;
		top: 5px;
		left: 0;
	}
	.features-text {
		margin-left: 65px;
		font-size: 17px;
		color: #fff;
		font-family: $accent_font;
		line-height: 30px;
		font-weight: 400;
		.bold {
			font-weight: 700;
		}
	}
}

.owners {
	position: relative;
	padding-top: 115px;
	padding-bottom: 300px;
	overflow: hidden;
	background-color: #fff;
	&:before {
		content: '';
		position: absolute;
		bottom: -350px;
		right: -40px;
		width: 494px;
		height: 991px;
		background-color: #F4EBFC;
		transform: rotate(48.4deg);
		user-select: none;
		pointer-events: none;
	}
	.phone {
		position: absolute;
		bottom: 38px;
		right: 137px;
		user-select: none;
		pointer-events: none;
	}
	.h3 {
		text-align: center;
		text-transform: uppercase;
		max-width: 840px;
		margin: auto;
	}
	.narrowly {
		max-width: 625px;
		margin: auto;
		text-align: center;
		line-height: 25px;
		margin-top: 20px;
	}
	.desc {
		position: relative;
		margin: 45px 40px 0 10px;
		padding: 25px 0 25px 30px;
		font-size: 25px;
		font-family: $accent_font;
		line-height: 37px;
		&:before {
			content: '';
			position: absolute;
			top: 0; bottom: 0;
			left: 0;
			width: 2px;
			background-color: $purple_color;
		}
	}
	.text {
		margin-top: 70px;
		font-family: $accent_font;
		font-size: 17px;
		line-height: 31px;
	}
	.text2 {
		margin-top: 110px;
		padding-left: 15px;
	}
}

.what-is {
	background-color: #2A2E54;
	padding-top: 115px;
	padding-bottom: 115px;
	.h3 {
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		max-width: 840px;
		margin: auto;
	}
	.desc {
		position: relative;
		margin: 45px 40px 0 10px;
		padding: 25px 0 25px 30px;
		font-size: 25px;
		font-family: $accent_font;
		line-height: 37px;
		color: #fff;
		&:before {
			content: '';
			position: absolute;
			top: 0; bottom: 0;
			left: 0;
			width: 2px;
			background-color: $lightBlue_color;
		}
	}
	p {
		margin: 50px 100px 0 40px;
		color: #fff;
		line-height: 33px;
		&.small {
			margin-top: 40px;
			font-size: 16px;
		}
		&.right {
			margin: 50px 0 0;
		}
	}
	img {
		margin-left: auto;
		margin-top: 90px;
		margin-bottom: 100px;
	}
}

.gallery-eco {
	padding: 120px 0;
	background-color: #F4EBFC;
	.h3 {
		text-align: center;
		width: 840px;
		margin: auto;
		text-transform: uppercase;
	}
	.narrowly {
		max-width: 625px;
		margin: auto;
		text-align: center;
		line-height: 25px;
		margin-top: 50px;
	}
	.slider-wrapper {
		margin-top: 70px;
		.slider-controlls {
			li {
				display: inline-block;
				width: 11.11111%;
			}
			button {
				height: 86px;
				background-color: #2A2D58;
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				line-height: 86px;
				cursor: pointer;
				font-family: $accent_font;
				border: none;
				padding: 0;
				font-size: 18px;
				width: 100%;
				transition: 100ms;
				&:hover {
					background-color: #78DEFF;
				}
				&:active {
					background-color: #3CB1D6;
					box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
			}
			.slick-active {
				button {
					background-color: $lightBlue_color;
				}
			}
		}
		.slider {
			position: relative;
			border: 3px solid $lightBlue_color;
			background-color: #2A2D58;
			box-shadow: 0px 19px 25px rgba(47, 128, 237, 0.25);
			.item {
				height: 660px;
				.desc {
					position: relative;
					padding: 20px 0 20px 20px;
					font-size: 25px;
					font-family: $accent_font;
					line-height: 40px;
					color: #fff;
					.bold {
						font-weight: 700;
					}
					&:before {
						content: '';
						position: absolute;
						top: 0; bottom: 0;
						left: 0;
						width: 2px;
						background-color: $lightBlue_color;
					}
				}
				.desc-another {
					font-size: 25px;
					font-family: $accent_font;
					line-height: 46px;
					color: #fff;
					margin-right: 80px;
					.bold {
						font-weight: 700;
					}
				}
				p {
					font-size: 18px;
					color: #fff;
					line-height: 33px;
					margin-bottom: 0;
					.bold {
						font-weight: 700;
					}
				}
				.w920 {
					max-width: 920px;
					margin: auto;
					margin-left: 80px;
					margin-top: 65px;
				}
				.w975 {
					max-width: 975px;
					margin: auto;
					margin-left: 50px;
					margin-top: 70px;
				}
				.mainland {
					margin-left: 5px;
					margin-top: 105px;
				}
				.phone-slider {
					margin: auto;
					margin-top: 120px;
				}
				.book-img {
					margin: 167px auto 0;
				}
				.lock {
					margin: 90px auto 0;
				}
				.key-img {
					margin: 70px auto 0;
					margin-left: 150px;
				}
				.img-stage6 {
					margin: 100px auto 0;
				}
				.img-stage7 {
					margin: 10px auto 0;
				}
				.img-stage8 {
					margin: 65px auto 0;
				}
				.img-stage9 {
					margin: 150px auto 0;
				}
			}
			.slick-arrow {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: 1;
				cursor: pointer;
				background-color: $purple_color;
				border: none;
				box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
				font-size: 0;
				padding: 0;
				width: 60px;
				height: 60px;
				transition: 100ms;
				&:hover {
					background-color: #D483F2;
				}
				&:active {
					background-color: #A254BF;
					box-shadow: inset 0px 4px 10px #8C3DB8;
				}
				&.slick-prev {
					left: -30px;
					background-image: url('../img/arrow_left.svg');
					background-repeat: no-repeat;
					background-position: center center;
				}
				&.slick-next {
					right: -30px;
					background-image: url('../img/arrow_right.svg');
					background-repeat: no-repeat;
					background-position: center center;
				}
				&.slick-disabled {
					opacity: 0;
					visibility: hidden;
				}
			}
			.arrow-next {
				font-size: 25px;
				color: #fff;
				margin-top: 115px;
				max-width: 290px;
				margin-left: auto;
				margin-right: 50px;
				user-select: none;
				cursor: pointer;
				.img {
					margin-top: 7px;
				}
				&:hover {
					color: #56CCF2;
				}
				&:active {
					color: #3CB1D6;
				}
			}
			.arrow-prev {
				font-size: 25px;
				color: #fff;
				margin-top: 80px;
				margin-left: 50px;
				user-select: none;
				width: 290px;
				cursor: pointer;
				.text {
					margin-left: 20px;
				}
				.img {
					margin-top: 7px;
				}
				&:hover {
					color: #56CCF2;
				}
				&:active {
					color: #3CB1D6;
				}
			}
		}
	}
}

.crowdsale {
	position: relative;
	background-color: #fff;
	padding-top: 115px;
	padding-bottom: 100px;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 530px 592px 0 0;
		border-color: #faf5fe transparent transparent transparent;
	}
	.container {
		position: relative;
	}
	.h3 {
		text-align: center;
		text-transform: uppercase;
		margin: auto;
		max-width: 840px;
	}
	.narrow {
		text-align: center;
		max-width: 665px;
		margin: 40px auto 0;
		font-size: 17px;
	}
	.img {
		margin: 70px auto 0;
	}
	.info {
		margin-top: 144px;
		.item {
			display: inline-block;
			font-family: $accent_font;
			font-size: 25px;
			font-weight: 700;
			margin-right: 20px;
			.icon {
				position: relative;
				top: 1px;
				display: inline-block;
				width: 20px;
				height: 20px;
				margin-right: 15px;
				&.icon-1 {
					background-color: #BB6BD9;
				}
				&.icon-2 {
					border: 5px solid #BB6BD9;
				}
				&.icon-3 {
					border: 5px solid #8C5FA3;
				}
				&.icon-4 {
					border: 5px solid #2F80ED;
				}
			}
		}
	}
	p {
		line-height: 33px;
		margin-right: 50px;
		margin-top: 50px;
		margin-bottom: 0;
	}
}

.token-detail {
	background-color: #F4EBFC;
	padding-top: 120px;
	padding-bottom: 150px;
	.wrapper {
		background-color: #2A2D58;
		padding-top: 50px;
		padding-bottom: 70px;
		.title {
			text-align: center;
			font-size: 18px;
			color: #fff;
			font-weight: 700;
			font-family: $accent_font;
			max-width: 840px;
			margin-left: auto;
			margin-right: auto;
		}
		img {
			margin: 35px auto 0;
		}
		.items {
			max-width: 1000px;
			margin: 40px auto 0;
			font-size: 0;
			.item {
				display: inline-block;
				width: 20%;
				vertical-align: top;
				padding: 0 10px;
				.label {
					font-size: 16px;
					font-family: $accent_font;
					color: #fff;
				}
				.cnt {
					margin-top: 40px;
					font-size: 14px;
					line-height: 21px;
					font-family: $accent_font;
					font-weight: 700;
					color: #fff;
				}
			}
		}
	}
	.line {
		width: 200px;
		height: 4px;
		background: #56CCF2;
		margin-left: 30px;
		margin-top: 130px;
	}
	.text {
		font-size: 17px;
		line-height: 31px;
		margin-top: 120px;
		margin-right: 60px;
	}
}

.token-gex {
	padding-top: 120px;
	padding-bottom: 100px;
	background-color: #2A2E54;
	.h3 {
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		margin: auto;
		max-width: 840px;
	}
	.narrow {
		text-align: center;
		max-width: 665px;
		margin: 40px auto 0;
		color: #fff;
	}
	.wrapper {
		max-width: 1440px;
		margin: auto;
	}
	.desc {
		position: relative;
		font-size: 18px;
		line-height: 33px;
		color: #fff;
		font-family: $accent_font;
		margin-top: 50px;
		padding: 25px 0;
		padding-left: 30px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0; bottom: 0;
			width: 2px;
			background-color: #56CCF2;
		}
		&.desc-first {
			margin-left: 508px;
			width: 800px;
		}
		&.desc-second {
			margin-left: 272px;
			width: 870px;
		}
		.num {
			position: absolute;
			bottom: 0;
			left: -70px;
			font-family: $accent_font;
			font-size: 50px;
			font-weight: 700;
			text-transform: uppercase;
		}
		.icon {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-100%,-50%);
			&.fix {
				left: 8px;
			}
		}
	}
}

.team {
	background-color: #2A2E54;
	padding: 120px 0 35px;
	overflow: hidden;
	.h3 {
		text-align: center;
		text-transform: uppercase;
		color: #fff;
	}
	.wrapper {
		position: relative;
		max-width: 1278px;
		height: 459px;
		margin: 5px auto 0;
		background: url('../img/team-lines.svg') repeat-x bottom left;
		.vector-bg {
			position: absolute;
			bottom: 7px;
			left: 3px;
			pointer-events: none;
		}
		.cnt {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			font-size: 0;
			padding: 100px 10px 0;
			.arrow1 {
				position: absolute;
				bottom: 5px;
				right: 0; left: 3px;
				height: 8px;
				background-image: url('../img/team_arrow1.svg');
				background-repeat: no-repeat;
				background-position: right center;
				pointer-events: none;
			}
			.arrow2 {
				position: absolute;
				left: 0;
				top: 0; bottom: 8px;
				width: 8px;
				background-image: url('../img/team-arrow2.svg');
				background-repeat: no-repeat;
				background-position: top center;
				pointer-events: none;
			}
			.circle {
				position: relative;
				width: 174px;
				height: 174px;
				border-radius: 50%;
				border: 1px solid #2F80ED;
				margin: auto;
			}
			.avatar {
				position: absolute;
				top: 50%; left: 50%;
				transform: translate(-50%, -50%);
				width: 138px;
				height: 138px;
				border-radius: 50%;
			}
			.item {
				display: inline-block;
				width: 20%;
				vertical-align: top;
			}
			.name {
				font-family: $accent_font;
				font-size: 18px;
				text-align: center;
				font-weight: 700;
				color: #fff;
				margin-top: 45px;
				padding: 0 10px;
			}
			.role {
				font-family: $accent_font;
				font-size: 16px;
				text-align: center;
				color: #fff;
				margin-top: 10px;
				padding: 0 10px;
			}
		}
	}
}

.roadmap {
	padding-top: 120px;
	padding-bottom: 90px;
	.h3 {
		text-align: center;
		text-transform: uppercase;
		max-width: 840px;
		margin: auto;
	}
	.date {
		font-size: 18px;
		font-family: $accent_font;
		min-height: 60px;
	}
	.text {
		margin-top: 90px;
		font-size: 18px;
		line-height: 26px;
		font-family: $accent_font;
	}
	.stg {
		font-size: 18px;
		line-height: 26px;
		font-weight: 700;
		font-family: $accent_font;
		text-transform: uppercase;
	}
	.wrapper {
		position: relative;
		.line {
			position: absolute;
			left: 0; right: 0;
			top: 80px;
			height: 1px;
			background-color: #56CCF2;
			.dot {
				position: absolute;
				top: 0;
				transform: translateY(-50%);
				width: 13px;
				height: 13px;
				border-radius: 50%;
				background-color: #56CCF2;
				&.dot1 {
					left: 0;
				}
				&.dot2 {
					left: 300px;
				}
				&.dot3 {
					left: 600px;
				}
				&.dot4 {
					left: 900px;
				}
			}
		}
	}
	.slider {
		margin-top: 70px;
		.item {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: 0; right: 0;
				top: 81px;
				height: 1px;
				background-color: #56CCF2;
			}
			&:first-child {
				&:before {
					left: 50%;
					right: 0;
				}
			}
			&:last-child {
				&:before {
					right: 75%;
					left: 0;
				}
				.wrapper {
					.line {
						background: none;
						&:before {
							content: '';
							position: absolute;
							top: 0;
							left: 0; right: 0;
							transform: translateX(-74%);
							height: 1px;
							background-color: #56CCF2;
						}
					}
				}
			}
		}
		.slick-arrow {
			position: absolute;
			top: 81px;
			transform: translateY(-50%);
			font-size: 0;
			border: none;
			padding: 0;
			width: 20.5px;
			height: 40px;
			background: none;
			background-repeat: no-repeat;
			background-size: 20.5px 40px;
			z-index: 1;
			cursor: pointer;
			transition: 100ms;
		}
		.slick-prev {
			left: 20px;
			background-image: url('../img/chevron_left.svg');
		}
		.slick-next {
			right: 20px;
			background-image: url('../img/chevron_right.svg');
		}
		.slick-disabled {
			opacity: 0;
		}
	}
}

.modal {
	display: none;
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 99;
	background: rgba(30, 33, 79, 0.8);
	.form {
		position: absolute;
		top: 50%;
		left: 0; right: 0;
		margin: auto;
		transform: translateY(-50%);
		max-width: 600px;
		background-color: #fff;
		box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
		padding: 75px 0 50px;
		text-align: center;
		.exit {
			position: absolute;
			top: 15px;
			right: 15px;
			cursor: pointer;
			user-select: none;
		}
		.field {
			display: block;
			margin: 0 100px;
			.input {
				height: 60px;
				width: 100%;
				border: 1px solid #BB6BD9;
				padding: 0 20px;
				color: #000;
				font-family: $accent_font;
				font-size: 18px;
				font-weight: 400;
				&::-webkit-input-placeholder {
					color: $gray_color;
				}
				&::-moz-placeholder {
					color:#c0392b;
				}
				&:-ms-input-placeholder {
					color:#c0392b;
				}
			}
			.checkbox-label {
				display: inline-block;
				cursor: pointer;
				user-select: none;
				font-family: $accent_font;
				font-size: 12px;
				color: $gray_color;
				margin-top: 10px;
				&.error {
					.checkbox-icon {
						border-color: red;
					}
				}
			}
			.checkbox-icon {
				position: relative;
				top: 2px;
				display: inline-block;
				width: 12px;
				height: 12px;
				border: 1px solid #BB6BD9;
			}
			.checkbox {
				display: none;
				&:checked + .checkbox-icon {
					background-image: url('../img/check.svg');
					background-repeat: no-repeat;
					background-position: center center;
				}
			}
			&.error {
				.input {
					border-color: red;
				}
			}
		}
		.btn {
			background-color: #BB6BD9;
			box-shadow: 0px 4px 10px rgba(187, 107, 217, 0.5);
			width: 270px;
			margin-top: 30px;
			transition: 100ms;
			&:hover {
				background-color: #D483F2;
			}
			&:active {
				background-color: #A254BF;
				box-shadow: inset 0px 4px 10px #8C3DB8;
			}
		}
	}
}