/*==========  Desktop First  ==========*/

@media (max-width: 1199px) {
	.main-section--text {
		padding-right: 30px;
		padding-left: 30px;
		width: 100%;
	}

	.schedule {
		width: 100%;
		padding-left: 30px;
	}
	.founder-text {
		width: 100%;
		padding-left: 30px;
	}
	.founder-text .founder-desc {
		margin-top: 20px;
	}
	.founder-text .founder-title {
		font-size: 3.2rem;
	}
	.founder-img--wrapper img {
		margin-right: 10px;
		margin-top: 5px;
	}
	.founder-img--wrapper {
		width: 100%;
	}
	.session {
		width: 100%;
	}
	.help-lists {
		width: 100%;
		padding-left: 30px;
	}
	.help-lists ul li {
		width: 100%;
	}
	.help-lists ul {
		width: 46%;
	}
	.help-text {
		width: 100%;
		padding-left: 30px;
	}
}

@media (max-width: 991px) {
	.header .nav {
		padding: 0;
	}

	.header .nav .nav-btn:not(:last-child) {
		margin-right: 0;
	}

	.header .slick-track {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		width: 100% !important;
	}

	.header .slick-list {
		width: 100%;
	}

	.main-section--img {
		background-position-x: -130px;
	}

	.main-section--text .btn-price {
		font-size: 1.5rem;
	}
	.schedule .calendar-table .calendar-row .calendar-col {
		width: 14.28571428571429%;
		line-height: 1.5;
	}
	.schedule .schedule-title {
		margin-bottom: 20px;
	}
	.founder-text .founder-desc {
		font-size: 1.4rem;
	}
	.founder-text .founder-title {
		font-size: 2.6rem;
	}

	.founder-img--wrapper img:nth-child(1) {
		width: calc(135px / 1.5);
		height: calc(202px / 1.5);
	}

	.founder-img--wrapper img:nth-child(2) {
		width: calc(137px / 1.5);
		height: calc(194px / 1.5);
	}

	.founder-img--wrapper img:nth-child(3) {
		width: calc(137px / 1.5);
		height: calc(194px / 1.5);
	}

	.founder-img--wrapper img:nth-child(4) {
		width: calc(214px / 1.5);
		height: calc(167px / 1.5);
	}
	.founder-img--wrapper img:nth-child(5) {
		width: calc(231px / 1.5);
		height: calc(167px / 1.5);
	}
	.founder-img--wrapper img:nth-child(6) {
		width: calc(219px / 1.5);
		height: calc(156px / 1.5);
	}
	.founder-img--wrapper img:nth-child(7) {
		width: calc(210px / 1.5);
		height: calc(158px / 1.5);
	}
	.help-text .btn {
		font-size: 1.5rem;
	}
	.help-lists ul {
		width: 45%;
	}
	.help-lists ul {
		margin: 0 0 10px;
	}
	.help-lists ul li {
		font-size: 1.3rem;
	}
	.help-text .help-title {
		line-height: 0.95;
	}
	.help-text .help-desc {
		margin-top: 15px;
	}
	.help-text .help-desc--green {
		margin-top: 15px;
	}
	.btn-wrapper {
		margin-top: 15px;
	}
	.modal-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 5555;
	}
	.modal {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 0;
		transform: translate(-100vw);
		justify-content: flex-end;
	}
}

@media (max-width: 767px) {
	.main .container {
		flex-direction: column;
	}

	.main .container .column {
		width: 100vw;
		height: 50vh;
	}
	.main-section--img {
		height: 100%;
		background-position: 0 0;
	}
	.main-section--text .main-section--desc {
		margin-top: 20px;
		font-size: 1.4rem;
	}
	.btn {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.main .container .column.left {
		align-items: flex-end;
	}
	.btn-wrapper {
		margin-bottom: 20px;
	}
	.schedule .calendar-table .calendar-row .calendar-col.number {
		font-size: 2rem;
		line-height: 1.2;
	}
	.schedule .calendar-table .calendar-row .calendar-col.day {
		font-size: 2rem;
		line-height: 1.2;
	}
	.schedule .schedule-title {
		display: none;
	}
	.session .session-title {
		margin-bottom: 10px;
		font-size: 3rem;
	}
	.session .session-date {
		font-size: 2rem;
	}
	.session .session-place {
		font-size: 2rem;
	}
	.session .session-vacancy {
		font-size: 2rem;
	}
	.schedule .calendar-table .calendar-row .calendar-col.number.green.active:before {
		top: 0px;
		left: 5px;
		width: 25px;
		height: 25px;
	}
	.header .header-chevron {
		width: 42px;
		height: 35px;
		background-size: cover;
	}
	.help-lists ul li {
		line-height: 1.44;
	}
	.help-lists ul li:before {
		top: 5px;
	}
	.help-text .help-desc--green {
		font-size: 1.8rem;
	}
	.help-text .help-desc {
		line-height: 1.33;
	}
}

@media (max-width: 575px) {
	.header .slick-track {
		flex-direction: column;
		text-align: center;
	}

	.header {
		transform: translateY(-252px);
	}

	.header .header-chevron {
		top: 252px;
	}

	.main .container {
		flex-direction: column;
	}

	.main .container .column {
		width: 100vw;
		height: 50vh;
	}

	.main-section--img {
		background-position: 0 0;
		width: 100%;
		height: 100%;
	}

	.main-section--text .main-section--desc {
		margin-top: 20px;
		font-size: 1.3rem;
	}

	.btn-wrapper {
		margin-top: 15px;
		padding-bottom: 15px;
	}

	.main-section--text .btn-price {
		margin-left: 10px;
		font-size: 1.3rem;
	}

	.main-section--text .main-section--name {
		font-size: 2.4rem;
	}

	.main-section--text {
		padding-left: 10px;
		padding-right: 10px;
	}

	.main-section--text .main-section--title {
		font-size: 1.1rem;
	}

	.main .container .column.left {
		align-items: flex-end;
	}

	.btn {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.session .session-date {
		font-size: 1.8rem;
	}
	.session .session-place {
		font-size: 1.8rem;
	}
	.session .session-vacancy {
		font-size: 1.8rem;
	} 
	.main .container .column.right.founder-column {
		display: none;
	}
	.main .container .column.left.founder-column {
		height: 100vh;
	}
	.help-lists {
		padding-left: 10px;
		padding-right: 10px;
	}
	.help-lists ul li {
		line-height: 1.34;
		font-size: 1.1rem;
	}
	.help-text .btn {
		font-size: 0.9rem;
	}
	.help-text .btn-price {
		font-size: 1.2rem;
	}
	.help-text .help-desc--green {
		font-size: 1.4rem;
	}
	.help-text .help-desc {
		font-size: 1.4rem;
	}
	.btn-wrapper {
		margin-bottom: 10px;
		padding-bottom: 0;
	}
	.help-text .help-title {
		font-size: 2.1rem;
	}

}