@import "fonts.scss";
@import "vars.scss";

*::-webkit-input-placeholder {
	color: #11cfa7;
	font-family: "ProximaNova", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.88;
}

*:-moz-placeholder {
	color: #11cfa7;
	font-family: "ProximaNova", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.88;
}

*::-moz-placeholder {
	color: #11cfa7;
	font-family: "ProximaNova", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.88;
}

*:-ms-input-placeholder {
	color: #11cfa7;
	font-family: "ProximaNova", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.88;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}

body input:required:valid,
body textarea:required:valid {
	color: #666;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	min-width: 320px;
	position: relative;
	overflow: hidden;
	margin: 0;
}

.btn {
	color: #fff;
	font-family: "ProximaNova", sans-serif;
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: uppercase;
	background-image: linear-gradient(to left, #0ed8be 0%, #16b769 100%);
	border-radius: 25px;
	border: none;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 39px;
	padding-right: 39px;
	cursor: pointer;
	user-select: none;
	outline: none;
}

.btn-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-top: 45px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: #ffd202;
	background-image: linear-gradient(-39deg, #0ed8be 0%, #16b769 100%);
	transform: translateY(-63px);
	transition: 200ms;
	z-index: 999;
	&.active {
		transform: translateY(0);
	}
	.header-chevron {
		position: absolute;
		top: 62px;
		left: 0;
		right: 0;
		margin: auto;
		width: 83px;
		height: 70px;
		background-image: url('../img/header-chevron.png');
		cursor: pointer;
	}
	.nav {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 30px;
		.nav-btn {
			color: #ffffff;
			font-family: "ProximaNova", sans-serif;
			font-size: 1.8rem;
			font-weight: 900;
			line-height: 2.5;
			text-transform: uppercase;
			cursor: pointer;
			padding: 9px 0;
			user-select: none;
			width: auto !important;
			outline: none;
			&:not(:last-child) {
				margin-right: 125px;
			}
		}
	}
}

.main	{
	.container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		outline: none;
		.column {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			width: 50%;
			align-items: center;
			height: 100vh;
			&.left {
				justify-content: flex-end;
			}
			&.right {
				justify-content: flex-start;
				background-color: #f8f8f8;
			}
		}
	}
}

.main-section--text {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	padding-right: 145px;
	padding-left: 60px;
	width: 647px;
	box-sizing: border-box;
	align-items: flex-start;
	.main-section--name {
		color: #202020;
		font-family: "ProximaNova", sans-serif;
		font-size: 3.6rem;
		font-weight: 900;
		line-height: 1.25;
		text-transform: uppercase;
	}
	.main-section--title {
		background-image: linear-gradient(to top, #0ed8be 0%, #16b769 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #03c795;
		font-family: "Myriad Pro", sans-serif;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1.5;
		text-transform: uppercase;
		span {
			padding-left: 12px;
			padding-right: 12px;
		}
	}
	.main-section--desc {
		color: #b1b1b1;
		font-family: "ProximaNova", sans-serif;
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 1.22;
		margin-top: 50px;
	}
	.btn {
		margin-top: 60px;
	}
}
.main-section--img {
	width: 100%;
	height: 100vh;
	background-image: url('../img/voronin.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.help-text {
	width: 647px;
	padding-left: 60px;
	box-sizing: border-box;
	.help-title {
		color: #202020;
		font-family: "ProximaNova", sans-serif;
		font-size: 3.6rem;
		font-weight: 700;
		line-height: 1.25;
	}
	.help-desc {
		color: #000;
		font-family: "ProximaNova", sans-serif;
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 1.83;
		margin-top: 25px;
	}
	.help-desc--green {
		background-image: linear-gradient(to top, #0ed8be 0%, #16b769 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #03c795;
		font-family: "Myriad Pro", sans-serif;
		font-size: 2.4rem;
		font-weight: 400;
		line-height: 1.33;
		margin-top: 35px;
	}
	.btn {
		margin-right: 30px;
		padding-left: 26px;
		padding-right: 26px;
	}
	.btn-price {
		color: #acacac;
		font-family: "ProximaNova", sans-serif;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1.14;
	}
}

.help-lists {
	width: 647px;
	padding-left: 60px;
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	ul {
		padding-left: 15px;
		list-style: none;
		margin: 0 0 30px;
		li {
			position: relative;
			color: #000;
			font-family: "ProximaNova", sans-serif;
			font-size: 1.4rem;
			font-weight: 400;
			line-height: 2.14;
			width: 265px;
			&:before {
				content: '';
				position: absolute;
				top: 11px;
				left: -14px;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: #f50d34;
			}
		}
	}
}

.session {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	width: 647px;
	padding-left: 30px;
	.session-title {
		background-image: linear-gradient(to left, #0ed8be 0%, #16b769 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #03c795;
		font-family: "ProximaNova", sans-serif;
		font-size: 3.6rem;
		font-weight: 700;
		line-height: 1.25;
		margin-bottom: 40px;
	}
	.session-date {
		color: #202020;
		font-family: "ProximaNova", sans-serif;
		font-size: 2.4rem;
		line-height: 1.88;
		font-weight: 700;
		span {
			font-weight: 400;
		}
	}
	.session-place {
		color: #202020;
		font-family: "ProximaNova", sans-serif;
		font-size: 2.4rem;
		line-height: 1.88;
		font-weight: 700;
		span {
			font-weight: 400;
		}
	}
	.session-vacancy {
		color: #202020;
		font-family: "ProximaNova", sans-serif;
		font-size: 2.4rem;
		line-height: 1.88;
		font-weight: 700;
		span {
			font-weight: 400;
		}
	}
	.btn {
		margin-right: 50px;
	}
	.btn-price {
		color: #aaa;
		font-family: "ProximaNova", sans-serif;
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 2.5;
		text-decoration: underline;
		cursor: pointer;
	}
}

.schedule {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	width: 647px;
	padding-left: 60px;
	box-sizing: border-box;
	.schedule-title {
		color: #202020;
		font-family: "ProximaNova", sans-serif;
		font-size: 3.6rem;
		font-weight: 700;
		line-height: 1.25;
		margin-bottom: 40px;
	}
	.schedule-months {
		padding-left: 35px;
		margin-bottom: 20px;
		.item {
			color: #03c795;
			font-family: "ProximaNova", sans-serif;
			font-size: 3.6rem;
			font-weight: 700;
			line-height: 1.25;
			outline: none;
		}
		.slick-prev {
			position: absolute;
			top: 5px;
			left: 0;
			font-size: 0;
			width: 18px;
			height: 34px;
			background: none;
			border: none;
			outline: none;
			background-image: url('../img/arrow-prev.svg');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100% 100%;
			cursor: pointer;
		}
		.slick-next {
			position: absolute;
			top: 5px;
			left: 160px;
			font-size: 0;
			width: 18px;
			height: 34px;
			background: none;
			border: none;
			outline: none;
			background-image: url('../img/arrow-next.svg');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100% 100%;
			cursor: pointer;
		}
	}
	.month {
		outline: none;
	}
	.calendar-table {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.calendar-row {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: row;
			width: 400px;
			.calendar-col {
				width: 57.14285714285714px;
				&.day {
					color: #8b8b8b;
					font-family: "ProximaNova", sans-serif;
					font-size: 2.7rem;
					font-weight: 400;
					line-height: 1.7;
				}
				&.number {
					color: #202020;
					font-family: "ProximaNova", sans-serif;
					font-size: 2.7rem;
					font-weight: 700;
					line-height: 1.7;
					span {
						display: inline-block;
						width: 33px;
						text-align: center;
					}
					&.green {
						color: #03c795;
						span {
							cursor: pointer;
						}
						&.active {
							position: relative;
							span {
								position: relative;
								color: #fff;
								z-index: 2;
							}
							&:before {
								content: '';
								position: absolute;
								top: 2px;
								left: -2px;
								width: 40px;
								height: 40px;
								border-radius: 50%;
								background-image: linear-gradient(to left, #0ed8be 0%, #16b769 100%);
								z-index: 1;
							}
						}
					}
				}
			}
		}
	}
}

.founder-text {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	width: 647px;
	padding-left: 60px;
	padding-right: 30px;
	.founder-title {
		background-image: linear-gradient(to top, #0ed8be 0%, #16b769 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #03c795;
		font-family: "Myriad Pro", sans-serif;
		font-size: 2.4rem;
		font-weight: 400;
		line-height: 1;
	}
	.founder-desc {
		color: #b1b1b1;
		font-family: "Myriad Pro", sans-serif;
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 1.33;
		margin-top: 100px;
	}
}

.founder-img--wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	width: 647px;
	padding-left: 30px;
	img {
		margin-right: 30px;
		margin-top: 20px;
	}
}


.modal-wrapper {
	position: absolute;
	top: 116px;
	left: 50vw;
	width: 370px;
	overflow: hidden;
	visibility: hidden;
	&.active {
		visibility: visible;
		.modal {
			transform: translate(0);
		}
	}
}
.modal {
	display: inline-block;
	width: 370px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 55px;
	padding-bottom: 40px;
	background-image: linear-gradient(to left, #0ed8be 0%, #16b769 100%);
	border-radius: 0 10px 10px 0;
	box-sizing: border-box;
	transition: 500ms;
	transform: translate(-370px);
	.exit {
		position: absolute;
		top: 11px;
		right: 11px;
		width: 26px;
		height: 26px;
		border-radius: 50%;
		background-color: #fff;
		cursor: pointer;
		&:after {
			content: '';
			position: absolute;
			top: 12px;
			left: 0;
			right: 0;
			margin: auto;
			width: 14px;
			height: 2px;
			background-image: linear-gradient(to left, #0ed8be 0%, #16b769 100%);
			transform: rotate(45deg);
		}
		&:before {
			content: '';
			position: absolute;
			top: 12px;
			left: 0;
			right: 0;
			margin: auto;
			width: 14px;
			height: 2px;
			background-image: linear-gradient(to left, #0ed8be 0%, #16b769 100%);
			transform: rotate(-45deg);
		}
	}
	.modal-title {
		color: #fff;
		font-family: "ProximaNova", sans-serif;
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 1.88;
		text-transform: uppercase;
		text-align: center;
	}
	.form {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		margin-top: 40px;
		input {
			padding: 0 15px 0;
			height: 40px;
			border-radius: 4px;
			background-color: #fff;
			border: none;
			&:not(:first-child) {
				margin-top: 30px;
			}
		}
		.form-btn {
			background: none;
			background-color: #fff;
			color: #03c795;
			margin: auto;
			margin-top: 50px;
			width: 240px;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

@import "media"; // Всегда в конце
