@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}

body input:required:valid,
body textarea:required:valid {
	color: #666;
}

html, body {
	height: 100%;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: 'PT Sans', sans-serif;
	min-width: 320px;
	position: relative;
	line-height: 1;
	overflow-x: hidden;
	opacity: 1;
	margin: 0;
}

h1 {
	color: #6d6d6d;
	font-family: 'PT Sans', sans-serif;
	font-size: 4.8rem;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	color: #71c706;
	font-family: 'PT Sans', sans-serif;
	font-size: 3.6rem;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}

h3 {
	color: #71c706;
	font-family: 'PT Sans', sans-serif;
	font-size: 3rem;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}

h4 {
	color: #71c706;
	font-family: 'PT Sans', sans-serif;
	font-size: 2.6rem;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}

p {
	font-family: 'PT Sans', sans-serif;
	color: #6d6d6d;
	margin-bottom: 35px;
	font-size: 2.4rem;
	font-weight: 400;
	line-height: 30px;
}

ol {
	counter-reset: li;
	list-style: none; 
	li {
		position: relative;
		&:before {
			content: counter(li);
			counter-increment: li;
			position: absolute;
			left: -30px;
			top: 0;
			color: #71c706;
		}
	}
}

ul {
	list-style: none;
	li {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 10px;
			left: -30px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #71c706;
		}
	}
}

button {
	color: #ffffff;
	font-family: 'PT Sans', sans-serif;
	font-size: 3.6rem;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 25px;
	background-color: #71c706;
	border: none;
	outline: none;
	padding: 20px 0;
}

.header-line {
	padding-bottom: 15px;
	padding-top: 3px;
}

.logo {
	display: inline-block;
	margin-top: 6px;
}

.adress {
	color: #6d6d6d;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	text-align: right;
	margin-top: 25px;
}

.phone {
	font-family: 'PT Sans', sans-serif;
	font-size: 2rem;
	color: #6d6d6d;
	font-weight: 400;
	text-align: right;
	margin-top: 10px;
	a {
		color: #71c706;
		font-weight: 700;
	}
}

.blind-wrapper {
	text-align: right;
	.blind-btn {
		text-decoration: none;
		display: inline-block;
		margin-top: 20px;
		color: #6d6d6d;
		text-decoration: none;
		.text {
			font-family: 'PT Sans', sans-serif;
			font-size: 1.8rem;
			font-weight: 700;
			text-decoration: underline;
		}
		&:hover {
			.text {
				text-decoration: none;
			}
		}
	}
}

nav {
	background-color: #71c706;
	padding-top: 16px;
	padding-bottom: 10px;
}

.navigation {
	list-style: none;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin: 0;
	align-items: flex-start;
	li {
		&:before {
			display: none;
		}
		a {
			display: block;
			color: #ffffff;
			font-family: 'PT Sans', sans-serif;
			font-size: 1.8rem;
			font-weight: 400;
		}
	}
}

.main-section {
	height: 631px;
	background-image: url('../img/main-section-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	h1 {
		margin-top: 495px;
	}
}

.we-work {
	padding-top: 50px;
	padding-bottom: 85px;
	h2 {
		text-align: center;
	}
	.text {
		margin-top: 40px;
		text-align: center;
		.text-italic {
			font-size: 3rem;
			font-style: italic;
			line-height: 36px;
			margin-bottom: 0;
		}
	}
	.peoples-item {
		margin-top: 60px;
		.img-wrapper {
			display: inline-block;
		}
		.peoples-text {
			display: inline-block;
			.rank {
				color: #6d6d6d;
				font-family: 'PT Sans', sans-serif;
				font-weight: 400;
				font-size: 1.8rem;
				font-style: italic;
			}
			.name {
				color: #6d6d6d;
				font-family: 'PT Sans', sans-serif;
				font-weight: 400;
				font-size: 2.4rem;
				margin-top: 10px;
			}
		}
	}
}

.adopt {
	background-color: #fffde7;
	padding-top: 55px;
	padding-bottom: 177px;
	overflow: hidden;
	h2 {
		text-align: center;
	}
	.adopt-text {
		position: relative;
		margin-top: 80px;
		color: #6d6d6d;
		font-family: 'PT Sans', sans-serif;
		font-size: 2.4rem;
		font-weight: 400;
		line-height: 30px;
		&:before {
			content: '';
			position: absolute;
			top: 0px;
			left: 500px;
			width: 760px;
			height: 548px;
			background-image: url('../img/adopt-img.jpg');
		}
		a {
			color: #6d6d6d;
			font-family: 'PT Sans', sans-serif;
			font-weight: 700;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		.more {
			margin-top: 35px;
		}
	}
	.adopt-btn {
		width: 400px;
		margin-top: 50px;
		transition: 200ms;
		&:hover {
			transform: scale(1.03);
		}
		&:active {
			transform: scale(1.05);
		}
	}
}

footer {
	border-top: 12px solid #71c706;
	padding-top: 25px;
	padding-bottom: 20px;
	.footer-info {
		color: #6d6d6d;
		font-family: 'PT Sans', sans-serif;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 18px;
	}
	.social {
		display: inline-block;
		width: 24px;
		height: 24px;
		background-image: url('../img/social-sprite.png');
		margin-right: 5px;
		transition: 200ms;
		&:hover {
			transform: scale(0.90);
		}
		&:active {
			transform: scale(0.80);
		}
		&.vk {
			background-position: 0 0;
		}
		&.fb {
			background-position: -28px 0;
		}
		&.ok {
			background-position: -56px 0;
		}
		&.hz {
			background-position: -84px 0;
		}
		&.tw {
			background-position: -112px 0;
		}
	}
	.bematerial-wrapper {
		text-align: right;
	}
	.bematerial {
		display: inline-block;
		width: 155px;
		height: 26px;
		background-image: url('../img/bematerial-logo.png');
		margin-right: 45px;
	}
}

ol, ul {
	margin-top: 30px;
	margin-bottom: 30px;
	li {
		font-family: 'PT Sans', sans-serif;
		color: #6d6d6d;
		margin-bottom: 10px;
		font-size: 2.4rem;
		font-weight: 400;
		line-height: 30px;
	}
}