
@media screen and ( max-width: 1800px ) {
	.about-company .carousel-wrapper .carousel {
		width: 50%;
	}
	.about-company .carousel-wrapper {
		left: 0;
	}
}

@media screen and ( max-width: 1550px ) {
	.about-company .carousel-wrapper .carousel {
		width: 60%;
		left: 12%;
	}
}

@media screen and ( max-width: 1199px ) {
	body .container {
		padding: 0 15px;
	}
	.main-section .title {
		font-size: 7rem;
	}
	.main-section {
		padding-top: 150px;
	}
	.main-section .main-btn {
		margin-top: 45px;
	}
	.about-company .title {
		font-size: 6.4rem;
	}
	.about-company .text {
		font-size: 1.6rem;
		margin-top: 30px;
	}
	.about-company .desc:not(:first-child) {
		margin-top: 20px;
	}
	.about-company .team {
		margin-top: 70px;
	}
	.about-company .team .team-title .title {
		font-size: 6.4rem;
	}
	.about-company .team .team-title .title-hitch {
		font-size: 2rem;
	}
	.about-company .carousel-wrapper {
		margin-top: 110px;
	}
	.about-company .cloud_up {
		display: none;
	}
	.links {
		overflow: hidden;
	}
	.gallery .cloud_bottom {
		display: none;
	}
	.gallery .gallery-wrapper:before {
		display: none;
	}
	.links .link:nth-child(1) img {
		width: calc(470px / 1.5);
		height: calc(470px / 1.5);
	}
	.links .link:nth-child(2) img {
		width: calc(470px / 1.5);
		height: calc(470px / 1.5);
	}
	.links .link:nth-child(3) img {
		width: calc(970px / 1.5);
		height: calc(200px / 1.5);
	}
	.links .link:nth-child(1) .link-text {
		margin-top: 210px;
	}
	.links .link:nth-child(2) .link-text {
		margin-top: 50px;
	}
	.links .link:nth-child(3) .link-text {
		margin-top: 35px;
	}

	.gallery .gallery-wrapper .title {
		font-size: 6.4rem;
	}
	.gallery .gallery-wrapper .img-wrapper {
		margin-top: 10px;
		margin-right: 10px;
	}
	.gallery .gallery-wrapper .img-wrapper:nth-child(7) {
		margin-right: 0;
	}
	.gallery .gallery-wrapper {
		justify-content: flex-start;
	}
	.gallery .gallery-wrapper .inst {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		justify-content: flex-end;
	}
	footer {
		padding-top: 50px;
		padding-bottom: 5px;
		background-position: center 100%;
	}
	footer .logo {
		margin-top: 10px;
	}
	footer .footer-btn {
		margin-top: 0px;
	}
	footer .copyright {
		margin-top: 10px;
	}
	footer .social-links {
		margin-top: 5px;
	}
	footer .title {
		font-size: 6.4rem;
	}
	footer .title-hitch {
		margin-top: 70px;
	}
	.main-section:before {
		display: none;
	}
	.main-section {
		background-image: url(../img/main-section--bg.jpg);
	}
	.tour-gallery {
		margin: 0;
	}
	.days {
		margin-top: 100px;
	}
	.gallery-slider {
		margin-top: 50px;
	}

	.reviews .review-slider {
		width: 450px;
	}
	.reviews .review-right {
		padding-top: 0;
	}
	.reviews .review-slider--wrapper .review-buttons {
		bottom: 5px;
	}
	.logo-wrapper img{
		width: 150px;
	}
	footer .logo img {
		width: 150px;
	}
	.gallery {
		padding-bottom: 30px;
	}
	footer .footer-btn {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	footer.tour-footer {
		margin-top: 0;
	}
}

@media screen and ( max-width: 991px ) { 
	.about-company .carousel-wrapper .carousel {
		width: 30%;
		left: -100px;
	}
	.about-company .carousel-wrapper {
		position: static;
		margin: 0;
		margin-top: 20px;
		justify-content: flex-start;
		padding: 0 30px;
	}
	.about-company .carousel-wrapper .carousel {
		width: 370px;
		left: 0;
	}
	footer .footer-btn {
		margin-top: 10px
	}
	footer .logo {
		margin-top: 10px;
	}
	footer .copyright {
		margin-top: 5px;
	}
	footer .title-hitch {
		margin-top: 60px;
	}
	.tour-gallery {
		margin: 0;
	}
	.reviews .review-right {
		padding: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.reviews .review-slider--wrapper .review-buttons {
		display: none;
	}
	.tour-gallery .gallery-left .gallery-buttons {
		display: none;
	}
	.reviews .reviews-hitch--title {
		bottom: -30px;
		left: 230px;
	}
	.about-tour .peoples-left {
		margin-top: 40px;
	}
	.about-tour .title-wrapper .title-before {
		left: 10.3%;
	}
	.about-tour .about-text {
		margin-top: 100px;
	}
	.reviews .review-right {
		display: none;
	}
	.reviews .review-slider {
		width: 100%;
	}
	.reviews {
		margin-top: 50px;
	}
	.about-tour .title-wrapper .title {
		font-size: 7rem;
	}
	.about-tour .about-date--wrapper {
		margin-top: 200px;
	}
	.about-tour .slider-container {
		margin-top: 20px;
	}
	.people-slider--title {
		display: block;
	}
}

@media screen and ( max-width: 767px ) {
	.logo-wrapper {
		img {
			width: calc(186px / 1.5);
			height: calc(85px / 1.5);
		}
	}
	.navigation ul button {
		font-size: 1.3rem;
	}
	.gallery .gallery-wrapper .img-wrapper img {
		max-width: 510px;
	}
	.links .link:nth-child(1) img {
		width: calc(470px / 2);
		height: calc(470px / 2);
	}
	.links .link:nth-child(2) img {
		width: calc(470px / 2);
		height: calc(470px / 2);
	}
	.links .link:nth-child(3) img {
		width: calc(970px / 2);
		height: calc(200px / 2);
	}
	.links .link:nth-child(1) .link-text {
		margin-top: 150px;
	}
	.links .link:nth-child(3) .link-text {
		margin-top: 25px;
	}
	.links {
		padding-top: 210px;
		padding-bottom: 120px;
	}
	.gallery .gallery-wrapper .img-wrapper {
		margin: 0;
	}
	.gallery .gallery-wrapper .img-wrapper img {
		width: 510px;
	}
	.about-tour .title-wrapper .title {
		font-size: 5rem;
	}
	.about-tour .title-wrapper .title-before {
		font-size: 2rem;
		left: 10.5%;
	}
	.about-tour .slider-container .slider-buttons {
		display: none;
	}
	.about-tour .slider-container {
		padding-left: 0;
		padding-top: 30px;
	}
	.review-slider--wrapper {
		width: 100%;
	}
	.reviews .review-slider {
		width: 100%;
	}
}

@media screen and ( max-width: 575px ) {
	.logo-wrapper {
		img {
			width: calc(186px / 2);
			height: calc(85px / 2);
		}
	}
	.navigation ul button {
		font-size: 0.8rem;
	}
	.navigation ul li {
		margin-right: 10px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.language .language-btn {
		width: 15px;
		height: 15px;
		background-size: cover;
	}
	.language .language-text {
		font-size: 0.8rem;
	}
	.gallery .gallery-wrapper .img-wrapper {
		width: 100%;
	}
	.gallery .gallery-wrapper .img-wrapper img {
		width: 100%;
	}
	.main-section .title {
		font-size: 4rem;
	}
	.main-section .title-hitch {
		font-size: 2.4rem;
	}
	.about-company .title {
		font-size: 4rem;
	}
	.about-company .text {
		padding: 0;
	}
	.about-company .team .team-title .title {
		font-size: 3rem;
	}
	.about-company .team .carousel-buttons {
		margin-top: 5px;
	}
	.about-company .carousel-wrapper .carousel {
		width: 100%;
	}
	.about-company .carousel-wrapper .carousel .img-wrapper {
		width: 100%;
	}
	.links .link:nth-child(1) {
		margin-right: 0;
	}
	.links {
		padding-top: 100px;
	}
	.links .link:nth-child(3) img {
		width: 100%;
		height: auto;
	}
	.links .link:nth-child(1) img {
		width: 100%;
		height: auto;
	}
	.links .link:nth-child(2) img {
		width: 100%;
		height: auto;
	}
	.links .link:nth-child(3) .link-text {
		margin-top: 10px;
		margin-left: 10px;
	}
	.links .link .link-text .link-title {
		font-size: 2rem;
	}
	.links .link .link-text .link-desc {
		font-size: 1.2rem;
	}
	.links .link:nth-child(3) {
		margin-top: 0;
	}
	.gallery .gallery-wrapper .title {
		font-size: 4rem;
	}
	.gallery .gallery-wrapper .inst .inst-title {
		font-size: 4rem;
	}
	.gallery .gallery-wrapper .inst .inst-link {
		font-size: 2rem;
		top: 10px;
		right: 30px;
	}
	footer .title {
		font-size: 4rem;
	}
	.about-company .carousel-wrapper .carousel img {
		width: 100%;
	}
	.about-tour .peoples-left {
		width: 100%;
	}
	.about-tour .title-wrapper .title {
		font-size: 3rem;
	}
	.about-tour .title-wrapper .title-before {
		display: none;
	}
	.about-tour .about-teaser {
		font-size: 2rem;
	}
	.modal-place--wrapper .modal-place .modal-form {
		width: 100%;
	}
	.about-tour .about-date--wrapper {
		margin-top: 100px;
	}
	.about-tour .peoples-left .about-btn {
		width: 150px;
	}
	.about-tour .peoples-left {
		font-size: 1.1rem;
	}
	.about-tour .turtle {
		display: none;
	}
	.about-tour .slider-container {
		padding-top: 70px;
	}
	.tour-gallery .gallery-left .gallery-title .title {
		font-size: 4.2rem;
	}
	.tour-gallery .gallery-left .gallery-title .title-hitch {
		font-size: 3rem;
	}
	.about-tour .about-text .desc {
		font-size: 1.5rem;
	}
	.tour-gallery .gallery-slider .gallery-item img {
		width: 100%;
	}
	.about-slider img {
		margin: auto;
	}
	.days .days-title {
		font-size: 3.5rem;
	}
	.days .days-title {
		left: -5px;
		position: static;
		transform: none;
		display: inline-block;
	}
	.days .days-title .days-hitch--title {
		position: relative;
		top: 0;
		left: -20px;
		transform: none;
		display: inline-block;
	}
	.days .days-desc {
		padding-left: 0px;
	}
	.days .days-desc {
		font-size: 1.4rem;
	}
	.reviews .review-slider .review-item .review-text .desc {
		font-size: 1rem;
	}
	.reviews .review-slider .review-item .review-text {
		padding-left: 5px;
		padding-right: 5px;
	}
	.reviews .review-slider .review-item .review-text .name {
		font-size: 2rem;
	}
	.modal-place--wrapper .modal-place .modal-form .title {
		font-size: 1.8rem;
	}
	.modal-place--wrapper .modal-place .modal-form .modal-place--submit {
		margin-top: 50px;
	}
	.days {
		margin-top: 50px;
	}
	.days .days-title {
		margin-top: 20px;
	}
}

