@media screen and ( max-width: 1550px ) {
	.about-company .carousel-wrapper .carousel {
		width: 50%;
	}
}

@media screen and ( max-width: 1399px ) {
	.about-company .carousel-wrapper .carousel {
		width: 50%;
	}
}

@media screen and ( max-width: 1199px ) {
	body .container {
		padding: 0 15px;
	}
	.main-section .title {
		font-size: 7rem;
	}
	.main-section {
		padding-top: 150px;
	}
	.main-section .main-btn {
		margin-top: 45px;
	}
	.about-company .title {
		font-size: 4.6rem;
	}
	.about-company .text {
		font-size: 1.6rem;
		margin-top: 30px;
	}
	.about-company .desc:not(:first-child) {
		margin-top: 20px;
	}
	.about-company .team {
		margin-top: 70px;
	}
	.about-company .team .team-title .title {
		font-size: 6.4rem;
	}
	.about-company .team .team-title .title-hitch {
		font-size: 2rem;
	}
	.about-company .carousel-wrapper {
		margin-top: 110px;
	}
	.about-company .cloud_up {
		display: none;
	}
	.links {
		overflow: hidden;
		padding-bottom: 50px;
	}
	.gallery .cloud_bottom {
		display: none;
	}
	.gallery .gallery-wrapper:before {
		display: none;
	}
	.links .link:nth-child(1) img {
		width: calc(470px / 1.5);
		height: calc(470px / 1.5);
	}
	.links .link:nth-child(2) img {
		width: calc(470px / 1.5);
		height: calc(470px / 1.5);
	}
	.links .link:nth-child(3) img {
		width: 100%;
	}
	.links .link:nth-child(1) .link-text {
		margin-top: 210px;
	}
	.links .link:nth-child(2) .link-text {
		margin-top: 50px;
	}
	.links .link:nth-child(3) .link-text {
		margin-top: 100px;
	}
	.gallery .gallery-wrapper .img-wrapper {
		margin-top: 10px;
		margin-right: 10px;
	}
	.gallery .gallery-wrapper .img-wrapper:nth-child(7) {
		margin-right: 0;
	}
	.gallery .gallery-wrapper {
		justify-content: flex-start;
	}
	.gallery .gallery-wrapper .inst {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		justify-content: flex-end;
	}
	footer {
		padding-top: 50px;
		padding-bottom: 5px;
		background-position: center 100%;
	}
	footer .logo {
		margin-top: 10px;
	}
	footer .footer-btn {
		margin-top: 0px;
	}
	footer .copyright {
		margin-top: 10px;
	}
	footer .social-links {
		margin-top: 5px;
	}
	footer .title {
		font-size: 6.4rem;
	}
	footer .title-hitch {
		margin-top: 70px;
	}
	.main-section:before {
		display: none;
	}
	.main-section {
		background-image: url(../img/main-section--bg.jpg);
	}
	.tour-gallery {
		margin: 0;
	}
	.days {
		margin-top: 100px;
	}
	.gallery-slider {
		margin-top: 50px;
	}

	.reviews .review-slider {
		width: 450px;
	}
	.reviews .review-right {
		padding-top: 0;
	}
	.reviews .review-slider--wrapper .review-buttons {
		bottom: 5px;
	}
	.logo-wrapper img {
		width: 70px;
	}
	.navigation ul li {
		margin-right: 20px;
	}
	.header-contacts .phone {
		margin-right: 10px;
		display: none;
	}
	.header-contacts .header-btn {
		margin-right: 10px;
	}
	.gallery {
		padding-bottom: 30px;
	}
	footer .footer-btn {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	footer.tour-footer {
		margin-top: 0;
	}
	.modal-place--wrapper .modal-place .modal-form .modal-place--submit.write, .modal-place--wrapper .modal-write .modal-form .modal-place--submit.write, .modal-write--wrapper .modal-place .modal-form .modal-place--submit.write, .modal-write--wrapper .modal-write .modal-form .modal-place--submit.write, .modal-consult--wrapper .modal-place .modal-form .modal-place--submit.write, .modal-consult--wrapper .modal-write .modal-form .modal-place--submit.write {
		margin-top: 10px;
	}
	.modal-place--wrapper .modal-place .modal-form .modal-place--input, .modal-place--wrapper .modal-write .modal-form .modal-place--input, .modal-write--wrapper .modal-place .modal-form .modal-place--input, .modal-write--wrapper .modal-write .modal-form .modal-place--input, .modal-consult--wrapper .modal-place .modal-form .modal-place--input, .modal-consult--wrapper .modal-write .modal-form .modal-place--input {
		margin-top: 10px;
	}
	.days .days-title {
		left: 10px;
	}
	.days .days-desc {
		padding-left: 120px;
	}
	.days .days-slider {
		width: 400px;
	}
	.days .days-slider .slick-dots {
		width: 400px;
	}
	.exist .exist-slider .slide img {
		width: 760px;
	}
	.exist .exist-slider .carousel-btn.left {
		top: 190px;
	}
	.exist .exist-slider .carousel-btn.right {
		top: 190px;
	}
	.tour-detail .detail {
		width: 750px;
	}
	.days .days-slider .slide .img {
		width: 400px;
		height: 403px;
	}
	.days .days-slider .slick-dots {
		bottom: -7px;
	}
}

@media screen and ( max-width: 991px ) {
	.about-company .carousel-wrapper .carousel {
		width: 30%;
		left: -100px;
	}
	.about-company .carousel-wrapper {
		position: static;
		margin: 0;
		margin-top: 20px;
		justify-content: flex-start;
		padding: 0 30px;
	}
	.about-company .carousel-wrapper .carousel {
		width: 370px;
		left: 0;
	}
	footer .footer-btn {
		margin-top: 10px
	}
	footer .logo {
		margin-top: 10px;
	}
	footer .copyright {
		margin-top: 5px;
	}
	footer .title-hitch {
		margin-top: 60px;
	}
	.tour-gallery {
		margin: 0;
	}
	.reviews .review-right {
		padding: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.reviews .review-slider--wrapper .review-buttons {
		display: none;
	}
	.tour-gallery .gallery-left .gallery-buttons {
		display: none;
	}
	.reviews .reviews-hitch--title {
		bottom: -30px;
		left: 230px;
	}
	.about-tour .peoples-left {
		margin-top: 40px;
	}
	.about-tour .title-wrapper .title-before {
		left: 10.3%;
	}
	.about-tour .about-text {
		margin-top: 100px;
	}
	.reviews .review-right {
		display: none;
	}
	.reviews .review-slider {
		width: 100%;
	}
	.reviews {
		margin-top: 50px;
	}
	.about-tour .title-wrapper .title {
		font-size: 7rem;
	}
	.about-tour .slider-container {
		margin-top: 20px;
	}
	.people-slider--title {
		display: block;
	}
	.header-contacts {
		display: none;
	}
	.main-section .title {
		font-size: 5rem;
	}
	.about-company {
		margin-top: 80px;
		padding-top: 0;
	}
	.about-company .text {
		padding-right: 0;
	}
	.links .link:nth-child(3) .link-text {
		margin-top: 80px;
		margin-left: 60px;
	}
	.about-tour .peoples-left .about-btn {
		height: 42px;
	}
	.about-tour .video-title {
		font-size: 2.3rem;
	}
	.about-tour iframe {
		width: 690px;
		height: 387px;
	}
	.about-tour {
		padding-bottom: 0;
	}
	.days .days-global_carousel .item .text {
		padding-top: 10px;
	}
	.days .days-title {
		left: -30px;
	}
	.days .days-desc {
		padding-left: 70px;
	}
	.days .days-slider {
		width: 300px;
		height: 303px;
	}
	.days .days-slider .slide .img {
		width: 300px;
		height: 303px;
	}
	.days .days-slider .slick-dots {
		width: 300px;
	}
	.days .days-slider .slick-dots {
		bottom: -11px;
	}
	.exist .exist-slider .slide img {
		width: 580px;
	}
	.exist .exist-slider .carousel-btn.left {
		top: 140px;
	}
	.exist .exist-slider .carousel-btn.right {
		top: 140px;
	}
	.tour-detail .title {
		font-size: 4.6rem;
	}
	.tour-detail .detail {
		width: 100%;
	}
}

@media screen and ( max-width: 767px ) {
	.navigation ul button {
		font-size: 1.3rem;
	}
	.gallery .gallery-wrapper .img-wrapper img {
		max-width: 510px;
	}
	.links .link:nth-child(1) img {
		width: calc(470px / 2);
		height: calc(470px / 2);
	}
	.links .link:nth-child(2) img {
		width: calc(470px / 2);
		height: calc(470px / 2);
	}
	.links .link:nth-child(1) .link-text {
		margin-top: 150px;
	}
	.links .link:nth-child(3) .link-text {
		margin-top: 50px;
		margin-left: 20px;
	}
	.gallery .gallery-wrapper .img-wrapper {
		margin: 0;
	}
	.gallery .gallery-wrapper .img-wrapper img {
		width: 510px;
	}
	.about-tour .title-wrapper .title {
		font-size: 5rem;
	}
	.about-tour .title-wrapper .title-before {
		font-size: 2rem;
		left: 10.5%;
	}
	.about-tour .slider-container .slider-buttons {
		display: none;
	}
	.about-tour .slider-container {
		padding-left: 0;
		padding-top: 30px;
	}
	.review-slider--wrapper {
		width: 100%;
	}
	.reviews .review-slider {
		width: 100%;
	}
	.main-section .title {
		font-size: 3.6rem;
	}
	.main-section .title-hitch {
		font-size: 3rem;
		margin-top: 20px;
	}
	.about-tour iframe {
		width: 510px;
		height: 286px;
	}
	.about-tour .title-wrapper {
		margin-top: 200px;
	}
	.about-tour .turtle {
		display: none;
	}
	.about-tour .cloud_middle {
		bottom: -140px;
	}
	.days .title {
		font-size: 4rem;
	}
	.days .days-global_carousel .item .slider {
		display: none;
	}
	.days .days-global_carousel .item .text {
		width: 100%;
	}
	.days .days-title {
		transform: rotate(0);
		position: static;
		margin-top: 20px;
	}
	.days .days-desc {
		padding-left: 50px;
		padding-right: 50px;
		display: block !important;
	}
	.days .days-global_carousel .days-global_prev {
		top: 150px;
	}
	.days .days-global_carousel .days-global_next {
		top: 150px;
	}
	.exist .title {
		font-size: 4rem;
	}
	.exist .exist-slider .slide img {
		width: 510px;
	}
	.exist .exist-slider .carousel-btn.left {
		top: 130px;
	}
	.exist .exist-slider .carousel-btn.right {
		top: 130px;
	}
	.tour-detail .title {
		font-size: 3.4rem;
	}
	.tour-detail .detail .text {
		font-size: 2rem;
	}
}

@media screen and ( max-width: 575px ) {
	.logo-wrapper img {
		width: 40px;
	}
	.navigation ul button {
		font-size: 0.8rem;
	}
	.navigation ul li {
		margin-right: 10px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.language .language-btn {
		width: 15px;
		height: 15px;
		background-size: cover;
	}
	.language .language-text {
		font-size: 0.8rem;
	}
	.gallery .gallery-wrapper .img-wrapper {
		width: 100%;
	}
	.gallery .gallery-wrapper .img-wrapper img {
		width: 100%;
	}
	.main-section .title {
		font-size: 2rem;
	}
	.main-section .title-hitch {
		font-size: 1.8rem;
		margin-top: 10px;
	}
	.about-company .title {
		font-size: 4rem;
	}
	.about-company .text {
		padding: 0;
	}
	.about-company .team .team-title .title {
		font-size: 3rem;
	}
	.about-company .team .carousel-buttons {
		margin-top: 5px;
	}
	.about-company .carousel-wrapper .carousel {
		width: 100%;
	}
	.about-company .carousel-wrapper .carousel .img-wrapper {
		width: 100%;
	}
	.links .link:nth-child(1) {
		margin-right: 0;
	}
	.links {
		padding-top: 100px;
	}
	.links .link:nth-child(3) img {
		width: 100%;
		height: auto;
	}
	.links .link:nth-child(1) img {
		width: 100%;
		height: auto;
	}
	.links .link:nth-child(2) img {
		width: 100%;
		height: auto;
	}
	.links .link:nth-child(3) .link-text {
		margin-top: 20px;
		margin-left: 20px;
	}
	.links .link .link-text .link-title {
		font-size: 2rem;
	}
	.links .link .link-text .link-desc {
		font-size: 1.2rem;
	}
	.links .link:nth-child(3) {
		margin-top: 0;
	}
	.gallery .gallery-wrapper .title {
		font-size: 3rem;
		margin-bottom: 10px;
	}
	.gallery .gallery-wrapper .inst .inst-title {
		font-size: 4rem;
	}
	.gallery .gallery-wrapper .inst .inst-link {
		font-size: 2rem;
		top: 10px;
		right: 30px;
	}
	footer .title {
		font-size: 4rem;
	}
	.about-company .carousel-wrapper .carousel img {
		width: 100%;
	}
	.about-tour .peoples-left {
		width: 100%;
	}
	.about-tour .title-wrapper .title {
		font-size: 2.8rem;
	}
	.about-tour .title-wrapper .title-before {
		display: none;
	}
	.about-tour .about-teaser {
		font-size: 2rem;
	}
	.modal-place--wrapper .modal-place .modal-form {
		width: 100%;
	}
	.about-tour .about-date--wrapper {
		margin-top: 10px;
	}
	.about-tour .peoples-left .about-btn {
		width: 150px;
	}
	.about-tour .peoples-left {
		font-size: 1.1rem;
	}
	.about-tour .turtle {
		display: none;
	}
	.about-tour .slider-container {
		padding-top: 70px;
	}
	.tour-gallery .gallery-left .gallery-title .title {
		font-size: 4.2rem;
	}
	.tour-gallery .gallery-left .gallery-title .title-hitch {
		font-size: 3rem;
	}
	.about-tour .about-text .desc {
		font-size: 1.5rem;
	}
	.tour-gallery .gallery-slider .gallery-item img {
		width: 100%;
	}
	.about-slider img {
		margin: auto;
	}
	.days .days-title {
		font-size: 3.5rem;
	}
	.days .days-title {
		left: -5px;
		position: static;
		transform: none;
		display: inline-block;
	}
	.days .days-title .days-hitch--title {
		position: relative;
		top: 0;
		left: -20px;
		transform: none;
		display: inline-block;
	}
	.days .days-desc {
		font-size: 1.4rem;
		padding-left: 0;
		padding-right: 0;
		margin-top: 20px;
	}
	.reviews .review-slider .review-item .review-text .desc {
		font-size: 1rem;
	}
	.reviews .review-slider .review-item .review-text {
		padding-left: 5px;
		padding-right: 5px;
	}
	.reviews .review-slider .review-item .review-text .name {
		font-size: 2rem;
	}
	.modal-place--wrapper .modal-place .modal-form .title {
		font-size: 1.8rem;
	}
	.modal-place--wrapper .modal-place .modal-form .modal-place--submit {
		margin-top: 50px;
	}
	.days {
		margin-top: 50px;
	}
	.days .days-title {
		margin-top: 20px;
	}
	.main-section .main-btn {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 1.4rem;
	}
	.about-company .title {
		font-size: 3rem;
	}
	.modal-place--wrapper .modal-place .modal-form, .modal-place--wrapper .modal-write .modal-form, .modal-write--wrapper .modal-place .modal-form, .modal-write--wrapper .modal-write .modal-form, .modal-consult--wrapper .modal-place .modal-form, .modal-consult--wrapper .modal-write .modal-form {
		width: 100%;
		height: 100%;
	}
	.about-tour .title-wrapper {
		margin-top: 100px;
	}
	.about-tour .about-date--wrapper .about-date {
		font-size: 2.4rem;
	}
	.about-tour .video-title {
		margin-top: 70px;
		font-size: 1.8rem;
	}
	.about-tour iframe {
		width: 290px;
		height: 162px;
	}
	.about-tour .cloud_middle {
		bottom: -250px;
	}
	.days .title {
		font-size: 2.3rem;
	}
	.days .title-hitch {
		font-size: 2rem;
	}
	.days .days-global_carousel .days-global_prev {
		top: 25px;
		left: auto;
		right: 100px;
	}
	.days .days-global_carousel .days-global_next {
		top: 25px;
		left: auto;
		right: 50px;
	}
	.exist {
		padding-top: 50px;
	}
	.exist .title {
		font-size: 2.6rem;
	}
	.exist .title-hitch {
		font-size: 2rem;
		margin-top: 0;
	}
	.exist .exist-slider .slide img {
		width: 290px;
	}
	.exist .exist-slider .carousel-btn.left {
		top: 60px;
	}
	.exist .exist-slider .carousel-btn.right {
		top: 60px;
	}
	.tour-detail {
		padding-top: 50px;
	}
	.tour-detail .title {
		font-size: 1.9rem;
	}
	.tour-detail .title-hitch {
		font-size: 1.8rem;
		margin-bottom: 10px;
	}
	.tour-detail .detail {
		flex-wrap: wrap;
	}
	.tour-detail .detail li {
		margin-top: 20px;
		width: 50%;
	}
	.tour-detail .detail .desc {
		margin-top: 10px;
	}
	.tour-detail .detail-price--title {
		margin-top: 50px;
		font-size: 2.8rem;
	}
	.tour-detail .detail-price--list {
		padding-left: 40px;
	}
	.tour-detail .detail-price--list li {
		font-size: 1.6rem;
	}
	.tour-detail .detail-btn--wrapp {
		margin-top: 20px;
		padding: 0;
	}
	.curators {
		padding-top: 50px;
	}
	.curators .title {
		font-size: 3.2rem;
	}
	.curators .img-wrapper {
		width: 290px;
	}
	.curators .img-wrapper img {
		width: 100%;
	}
}

