@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNova-Black.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Black.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Black.svg#ProximaNova-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/MyriadPro/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }

*::-webkit-input-placeholder {
  color: #11cfa7;
  font-family: "ProximaNova", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.18; }

*:-moz-placeholder {
  color: #11cfa7;
  font-family: "ProximaNova", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.18; }

*::-moz-placeholder {
  color: #11cfa7;
  font-family: "ProximaNova", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.18; }

*:-ms-input-placeholder {
  color: #11cfa7;
  font-family: "ProximaNova", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  margin: 0; }

.btn {
  color: #fff;
  font-family: "ProximaNova", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, right top, left top, from(#0ed8be), to(#16b769));
  background-image: -webkit-linear-gradient(right, #0ed8be 0%, #16b769 100%);
  background-image: -o-linear-gradient(right, #0ed8be 0%, #16b769 100%);
  background-image: linear-gradient(to left, #0ed8be 0%, #16b769 100%);
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 39px;
  padding-right: 39px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none; }

.btn-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #ffd202;
  background-image: -webkit-linear-gradient(129deg, #0ed8be 0%, #16b769 100%);
  background-image: -o-linear-gradient(129deg, #0ed8be 0%, #16b769 100%);
  background-image: linear-gradient(-39deg, #0ed8be 0%, #16b769 100%);
  -webkit-transform: translateY(-63px);
      -ms-transform: translateY(-63px);
          transform: translateY(-63px);
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  z-index: 999; }
  .header.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .header .header-chevron {
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
    margin: auto;
    width: 83px;
    height: 70px;
    background-image: url("../img/header-chevron.png");
    cursor: pointer; }
  .header .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 30px; }
    .header .nav .nav-btn {
      color: #ffffff;
      font-family: "ProximaNova", sans-serif;
      font-size: 1.8rem;
      font-weight: 900;
      line-height: 2.5;
      text-transform: uppercase;
      cursor: pointer;
      padding: 9px 0;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      width: auto !important;
      outline: none; }
      .header .nav .nav-btn:not(:last-child) {
        margin-right: 125px; }

.main .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none; }
  .main .container .column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh; }
    .main .container .column.left {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .main .container .column.right {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      background-color: #f8f8f8; }

.main-section--text {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 145px;
  padding-left: 60px;
  width: 647px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .main-section--text .main-section--name {
    color: #202020;
    font-family: "ProximaNova", sans-serif;
    font-size: 3.6rem;
    font-weight: 900;
    line-height: 1.25;
    text-transform: uppercase; }
  .main-section--text .main-section--title {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#0ed8be), to(#16b769));
    background-image: -webkit-linear-gradient(bottom, #0ed8be 0%, #16b769 100%);
    background-image: -o-linear-gradient(bottom, #0ed8be 0%, #16b769 100%);
    background-image: linear-gradient(to top, #0ed8be 0%, #16b769 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #03c795;
    font-family: "Myriad Pro", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase; }
    .main-section--text .main-section--title span {
      padding-left: 12px;
      padding-right: 12px; }
  .main-section--text .main-section--desc {
    color: #b1b1b1;
    font-family: "ProximaNova", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.22;
    margin-top: 50px; }
  .main-section--text .btn-price {
    color: #aaa;
    font-family: "ProximaNova", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 50px; }

.main-section--img {
  width: 100%;
  height: 100vh;
  background-image: url("../img/voronin.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.help-text {
  width: 647px;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .help-text .help-title {
    color: #202020;
    font-family: "ProximaNova", sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.25; }
  .help-text .help-desc {
    color: #000;
    font-family: "ProximaNova", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.83;
    margin-top: 25px; }
  .help-text .help-desc--green {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#0ed8be), to(#16b769));
    background-image: -webkit-linear-gradient(bottom, #0ed8be 0%, #16b769 100%);
    background-image: -o-linear-gradient(bottom, #0ed8be 0%, #16b769 100%);
    background-image: linear-gradient(to top, #0ed8be 0%, #16b769 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #03c795;
    font-family: "Myriad Pro", sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.33;
    margin-top: 35px; }
  .help-text .btn {
    margin-right: 30px;
    padding-left: 26px;
    padding-right: 26px; }
  .help-text .btn-price {
    color: #acacac;
    font-family: "ProximaNova", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.14; }

.help-lists {
  width: 647px;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .help-lists ul {
    padding-left: 15px;
    list-style: none;
    margin: 0 0 30px; }
    .help-lists ul li {
      position: relative;
      color: #000;
      font-family: "ProximaNova", sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.14;
      width: 265px; }
      .help-lists ul li:before {
        content: '';
        position: absolute;
        top: 11px;
        left: -14px;
        width: 7px;
        height: 7px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #f50d34; }

.session {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 647px;
  padding-left: 30px; }
  .session .session-title {
    background-image: -webkit-gradient(linear, right top, left top, from(#0ed8be), to(#16b769));
    background-image: -webkit-linear-gradient(right, #0ed8be 0%, #16b769 100%);
    background-image: -o-linear-gradient(right, #0ed8be 0%, #16b769 100%);
    background-image: linear-gradient(to left, #0ed8be 0%, #16b769 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #03c795;
    font-family: "ProximaNova", sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 40px; }
  .session .session-date {
    color: #202020;
    font-family: "ProximaNova", sans-serif;
    font-size: 2.4rem;
    line-height: 1.88;
    font-weight: 700; }
    .session .session-date span {
      font-weight: 400; }
  .session .session-place {
    color: #202020;
    font-family: "ProximaNova", sans-serif;
    font-size: 2.4rem;
    line-height: 1.88;
    font-weight: 700; }
    .session .session-place span {
      font-weight: 400; }
  .session .session-vacancy {
    color: #202020;
    font-family: "ProximaNova", sans-serif;
    font-size: 2.4rem;
    line-height: 1.88;
    font-weight: 700; }
    .session .session-vacancy span {
      font-weight: 400; }
  .session .btn {
    margin-right: 50px; }
  .session .btn-price {
    color: #aaa;
    font-family: "ProximaNova", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5;
    text-decoration: underline;
    cursor: pointer; }

.schedule {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 647px;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .schedule .schedule-title {
    color: #202020;
    font-family: "ProximaNova", sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 40px; }
  .schedule .schedule-months {
    padding-left: 35px;
    margin-bottom: 20px; }
    .schedule .schedule-months .item {
      color: #03c795;
      font-family: "ProximaNova", sans-serif;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 1.25;
      outline: none; }
    .schedule .schedule-months .slick-prev {
      position: absolute;
      top: 5px;
      left: 0;
      font-size: 0;
      width: 18px;
      height: 34px;
      background: none;
      border: none;
      outline: none;
      background-image: url("../img/arrow-prev.svg");
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      cursor: pointer; }
    .schedule .schedule-months .slick-next {
      position: absolute;
      top: 5px;
      left: 160px;
      font-size: 0;
      width: 18px;
      height: 34px;
      background: none;
      border: none;
      outline: none;
      background-image: url("../img/arrow-next.svg");
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      cursor: pointer; }
  .schedule .month {
    outline: none; }
  .schedule .calendar-table {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .schedule .calendar-table .calendar-row {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 400px; }
      .schedule .calendar-table .calendar-row .calendar-col {
        width: 57.14285714285714px; }
        .schedule .calendar-table .calendar-row .calendar-col.day {
          color: #8b8b8b;
          font-family: "ProximaNova", sans-serif;
          font-size: 2.7rem;
          font-weight: 400;
          line-height: 1.7; }
        .schedule .calendar-table .calendar-row .calendar-col.number {
          color: #202020;
          font-family: "ProximaNova", sans-serif;
          font-size: 2.7rem;
          font-weight: 700;
          line-height: 1.7; }
          .schedule .calendar-table .calendar-row .calendar-col.number span {
            display: inline-block;
            width: 33px;
            text-align: center; }
          .schedule .calendar-table .calendar-row .calendar-col.number.green {
            color: #03c795; }
            .schedule .calendar-table .calendar-row .calendar-col.number.green span {
              cursor: pointer; }
            .schedule .calendar-table .calendar-row .calendar-col.number.green.active {
              position: relative; }
              .schedule .calendar-table .calendar-row .calendar-col.number.green.active span {
                position: relative;
                color: #fff;
                z-index: 2; }
              .schedule .calendar-table .calendar-row .calendar-col.number.green.active:before {
                content: '';
                position: absolute;
                top: 2px;
                left: -2px;
                width: 40px;
                height: 40px;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                background-image: -webkit-gradient(linear, right top, left top, from(#0ed8be), to(#16b769));
                background-image: -webkit-linear-gradient(right, #0ed8be 0%, #16b769 100%);
                background-image: -o-linear-gradient(right, #0ed8be 0%, #16b769 100%);
                background-image: linear-gradient(to left, #0ed8be 0%, #16b769 100%);
                z-index: 1; }

.founder-text {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 647px;
  padding-left: 60px;
  padding-right: 30px; }
  .founder-text .founder-title {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#0ed8be), to(#16b769));
    background-image: -webkit-linear-gradient(bottom, #0ed8be 0%, #16b769 100%);
    background-image: -o-linear-gradient(bottom, #0ed8be 0%, #16b769 100%);
    background-image: linear-gradient(to top, #0ed8be 0%, #16b769 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #03c795;
    font-family: "Myriad Pro", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1; }
  .founder-text .founder-desc {
    color: #b1b1b1;
    font-family: "Myriad Pro", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.33;
    margin-top: 100px; }

.founder-img--wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 647px;
  padding-left: 30px; }
  .founder-img--wrapper img {
    margin-right: 30px;
    margin-top: 20px; }

.modal-wrapper {
  position: absolute;
  top: 116px;
  left: 50vw;
  width: 370px;
  overflow: hidden;
  visibility: hidden; }
  .modal-wrapper.active {
    visibility: visible; }
    .modal-wrapper.active .modal {
      -webkit-transform: translate(0);
          -ms-transform: translate(0);
              transform: translate(0); }

.modal {
  display: inline-block;
  width: 370px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 55px;
  padding-bottom: 40px;
  background-image: -webkit-gradient(linear, right top, left top, from(#0ed8be), to(#16b769));
  background-image: -webkit-linear-gradient(right, #0ed8be 0%, #16b769 100%);
  background-image: -o-linear-gradient(right, #0ed8be 0%, #16b769 100%);
  background-image: linear-gradient(to left, #0ed8be 0%, #16b769 100%);
  -webkit-border-radius: 0 10px 10px 0;
          border-radius: 0 10px 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  -webkit-transform: translate(-370px);
      -ms-transform: translate(-370px);
          transform: translate(-370px); }
  .modal .exit {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 26px;
    height: 26px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    cursor: pointer; }
    .modal .exit:after {
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
      right: 0;
      margin: auto;
      width: 14px;
      height: 2px;
      background-image: -webkit-gradient(linear, right top, left top, from(#0ed8be), to(#16b769));
      background-image: -webkit-linear-gradient(right, #0ed8be 0%, #16b769 100%);
      background-image: -o-linear-gradient(right, #0ed8be 0%, #16b769 100%);
      background-image: linear-gradient(to left, #0ed8be 0%, #16b769 100%);
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .modal .exit:before {
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
      right: 0;
      margin: auto;
      width: 14px;
      height: 2px;
      background-image: -webkit-gradient(linear, right top, left top, from(#0ed8be), to(#16b769));
      background-image: -webkit-linear-gradient(right, #0ed8be 0%, #16b769 100%);
      background-image: -o-linear-gradient(right, #0ed8be 0%, #16b769 100%);
      background-image: linear-gradient(to left, #0ed8be 0%, #16b769 100%);
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .modal .modal-title {
    color: #fff;
    font-family: "ProximaNova", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.38;
    text-transform: uppercase;
    text-align: center; }
  .modal .modal-title--small {
    color: #fff;
    font-family: "ProximaNova", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.88;
    text-transform: uppercase;
    text-align: center; }
  .modal .form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px; }
    .modal .form input {
      padding: 0 15px 0;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      background-color: #fff;
      border: none;
      color: #000;
      font-family: "ProximaNova", sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 3.18; }
      .modal .form input:not(:first-child) {
        margin-top: 30px; }
    .modal .form .form-btn {
      background: none;
      background-color: #fff;
      color: #03c795;
      margin: auto;
      margin-top: 50px;
      width: 240px;
      padding-left: 0;
      padding-right: 0; }
  .modal .confid {
    color: #fff;
    font-family: "ProximaNova", sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 3.75;
    text-align: center; }

/*==========  Desktop First  ==========*/
@media (max-width: 1199px) {
  .main-section--text {
    padding-right: 30px;
    padding-left: 30px;
    width: 100%; }
  .schedule {
    width: 100%;
    padding-left: 30px; } }

@media (max-width: 991px) {
  .header .nav {
    padding: 0; }
  .header .nav .nav-btn:not(:last-child) {
    margin-right: 0; }
  .header .slick-track {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100% !important; }
  .header .slick-list {
    width: 100%; }
  .main-section--img {
    background-position-x: -130px; } }

@media (max-width: 575px) {
  .header .slick-track {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .header {
    -webkit-transform: translateY(-252px);
        -ms-transform: translateY(-252px);
            transform: translateY(-252px); }
  .header .header-chevron {
    top: 252px; } }
