@import url("https://fonts.googleapis.com/css?family=Exo+2:400,600,700&subset=cyrillic");
@font-face {
  font-family: 'amond';
  src: url("../fonts/amond.eot?54079633");
  src: url("../fonts/amond.eot?54079633#iefix") format("embedded-opentype"), url("../fonts/amond.woff2?54079633") format("woff2"), url("../fonts/amond.woff?54079633") format("woff"), url("../fonts/amond.ttf?54079633") format("truetype"), url("../fonts/amond.svg?54079633#amond") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'amond';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center; }

.icon-phone:before {
  content: '\e800'; }

.icon-ok:before {
  content: '\e801'; }

.icon-cancel:before {
  content: '\e802'; }

.icon-area:before {
  content: '\e815'; }

.icon-date_kv:before {
  content: '\ea55'; }

.icon-otd_kv:before {
  content: '\ea56'; }

.icon-logo_laba:before {
  content: '\ea57'; }

.icon-down-open:before {
  content: '\f004'; }

.icon-up-open:before {
  content: '\f005'; }

.icon-right-open:before {
  content: '\f006'; }

.icon-left-open:before {
  content: '\f007'; }

.icon-menu:before {
  content: '\f008'; }

.icon-facebook:before {
  content: '\f09a'; }

.icon-angle-left:before {
  content: '\f111'; }

.icon-building-o:before {
  content: '\f155'; }

.icon-calendar:before {
  content: '\f15c'; }

.icon-calendar-check-o:before {
  content: '\f15d'; }

.icon-camera:before {
  content: '\f162'; }

.icon-youtube-squared:before {
  content: '\f166'; }

.icon-instagram:before {
  content: '\f16d'; }

.icon-vkontakte:before {
  content: '\f189'; }

.icon-clock-o:before {
  content: '\f18f'; }

.icon-long-arrow-down:before {
  content: '\f272'; }

.icon-long-arrow-left:before {
  content: '\f273'; }

.icon-long-arrow-right:before {
  content: '\f274'; }

.icon-long-arrow-up:before {
  content: '\f275'; }

.icon-map-marker:before {
  content: '\f27d'; }

.icon-minus:before {
  content: '\f28e'; }

.icon-phone_contact:before {
  content: '\f2b3'; }

.icon-play-circle-o:before {
  content: '\f2c0'; }

.icon-plug:before {
  content: '\f2c1'; }

.icon-plus:before {
  content: '\f2c2'; }

.icon-ruble:before {
  content: '\f2e6'; }

.icon-search:before {
  content: '\f2eb'; }

html {
  font-size: 10px; }

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  visibility: visible;
  min-width: 320px;
  overflow-x: hidden;
  margin: 0; }
  body.noscroll {
    overflow: hidden; }

.container {
  padding: 1px 2rem; }
  .container:after {
    display: table;
    content: " ";
    clear: both; }

.btn {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 37px;
  width: 166px; }
  .btn.green {
    background-color: #4db848; }
  .btn.blue {
    background-color: #1e4aa7; }
  .btn.white {
    background-color: #fff; }

.title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700; }
  .title.blue {
    color: #1e4aa7; }

.desc {
  color: #000;
  font-size: 1.4rem;
  font-weight: 400; }

input {
  color: #4a4c50;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px; }

textarea {
  color: #4a4c50;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px; }

*::-webkit-input-placeholder {
  color: #4a4c50;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-weight: 400; }

*:-moz-placeholder {
  color: #4a4c50;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-weight: 400; }

*::-moz-placeholder {
  color: #4a4c50;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-weight: 400; }

*:-ms-input-placeholder {
  color: #4a4c50;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  font-weight: 400; }

p {
  color: #000;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 20px;
  margin: 3rem 0; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  z-index: 8; }

.logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  display: block;
  width: 130px;
  height: 50px; }
  .logo img {
    display: block;
    width: 100%;
    height: 100%; }

.burger {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  width: 20px;
  height: 15px; }
  .burger span {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #1e4aa7; }
    .burger span:nth-child(1) {
      top: 0;
      left: 0; }
    .burger span:nth-child(2) {
      top: 50%;
      left: 0;
      margin-top: -1.5px; }
    .burger span:nth-child(3) {
      bottom: 0;
      left: 0; }
  .burger.active span:nth-child(1) {
    top: 50%;
    margin-top: -1.5px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .burger.active span:nth-child(2) {
    display: none; }
  .burger.active span:nth-child(3) {
    top: 50%;
    margin-top: -1.5px;
    bottom: auto;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.phone {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 70px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #7197e6;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .phone i {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px;
    font-size: 16px;
    color: #7197e6; }

.header-menu {
  display: none;
  position: fixed;
  top: 64px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15); }
  .header-menu.active {
    display: block; }
  .header-menu nav {
    border-top: 1px solid #e6e6e6; }
  .header-menu .nav-link {
    margin: 2rem 0; }
    .header-menu .nav-link a {
      color: #1e4aa7;
      font-size: 1.6rem;
      font-weight: 400;
      text-decoration: none; }
  .header-menu .nav-btn {
    margin-top: 3rem;
    margin-bottom: 2rem; }

.header-indent {
  height: 65px; }

footer {
  background-color: #f5f5f5; }

.privacy-policy {
  text-align: center;
  margin: 3rem 0 2.5rem; }
  .privacy-policy a {
    position: relative;
    color: #4a4c50;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none; }
    .privacy-policy a:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #4a4c50; }

.footer-search .field {
  position: relative;
  height: 38px;
  background-color: #fff; }
  .footer-search .field .search {
    height: 100%;
    width: 100%;
    border: none;
    padding-left: 15px;
    padding-right: 30px; }
  .footer-search .field .submit {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 15px;
    font-size: 1rem;
    padding: 0;
    border: none;
    background: none;
    color: #3b3b3b; }

.footer-links {
  margin-top: 2.5rem; }
  .footer-links .social {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px; }
    .footer-links .social:not(:last-child) {
      margin-right: 2rem; }
    .footer-links .social.vk {
      background-color: #4a4c50;
      color: #f5f5f5;
      font-size: 16px; }
      .footer-links .social.vk i {
        position: absolute;
        top: 4px;
        left: 4px; }
    .footer-links .social.fb {
      background-color: #4a4c50;
      color: #f5f5f5;
      font-size: 22px; }
      .footer-links .social.fb i {
        position: absolute;
        top: 4px;
        left: 4px; }
    .footer-links .social.inst {
      background-color: transparent;
      color: #4a4c50;
      font-size: 27px; }
      .footer-links .social.inst i {
        position: absolute;
        top: -1px; }
    .footer-links .social.yt {
      background-color: transparent;
      color: #4a4c50;
      font-size: 27px; }
      .footer-links .social.yt i {
        position: absolute;
        top: -1px; }
  .footer-links .internetlab {
    display: block;
    float: right;
    font-size: 27px;
    color: #9b9fa7; }

.gotodesktop {
  margin: 3rem 0;
  text-align: center; }
  .gotodesktop a {
    position: relative;
    color: #4a4c50;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none; }
    .gotodesktop a:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #4a4c50; }

.callback {
  background-color: #4a4c50;
  height: 65px;
  padding-top: 14px;
  text-align: center; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9; }
  .modal.active {
    display: block; }

.close {
  position: absolute;
  top: 25px;
  right: 20px;
  height: 15px;
  width: 20px;
  z-index: 1; }
  .close span {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #1e4aa7; }
    .close span:nth-child(1) {
      top: 50%;
      margin-top: -1.5px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .close span:nth-child(2) {
      top: 50%;
      margin-top: -1.5px;
      bottom: auto;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.modal-photos .modal-header {
  padding-top: 1rem; }

.modal-photos .slider-counter_wrapper {
  bottom: 20px;
  right: 20px;
  width: auto;
  height: auto;
  border: none; }
  .modal-photos .slider-counter_wrapper .slider-counter {
    position: static; }

.modal-photos .photo-reports_img {
  display: none; }

.modal-header {
  height: 65px;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 2rem; }
  .modal-header .desc {
    margin-top: 1rem; }

.callback-form {
  margin-top: 3.5rem; }
  .callback-form input {
    border: 1px solid #1e4aa7;
    height: 38px;
    width: 100%;
    margin-top: 1.5rem; }
  .callback-form textarea {
    border: 1px solid #1e4aa7;
    resize: none;
    width: 100%;
    height: 90px;
    margin-top: 1.5rem; }
  .callback-form .checkbox-label {
    display: block;
    margin-top: 1.5rem; }
    .callback-form .checkbox-label span {
      color: #4a4c50;
      font-size: 1.3rem;
      font-weight: 400; }
  .callback-form input[type="checkbox"] {
    display: none;
    padding: 0;
    width: auto; }
    .callback-form input[type="checkbox"]:checked + .checkbox i {
      display: block; }
  .callback-form .checkbox {
    position: relative;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid #1e4aa7;
    margin-right: 15px; }
    .callback-form .checkbox i {
      display: none;
      position: absolute;
      top: 1px;
      left: 2px;
      font-size: 14px;
      color: #1e4aa7; }
  .callback-form .captcha-label {
    color: #4a4c50;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2.5rem; }
  .callback-form .captcha-field {
    position: relative;
    padding-right: 195px; }
  .callback-form .captcha {
    width: 100%;
    min-width: 125px; }
  .callback-form .captcha-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 38px;
    width: 125px;
    margin-top: 1.5rem;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }

.btn.submit {
  border: none;
  width: 100%;
  margin-top: 3rem; }

.modal-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 100px;
  color: #000;
  font-size: 1.2rem;
  font-weight: 400; }

.modal-slider_wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0; }
  .modal-slider_wrapper .modal-slider .slide .slide-img {
    width: 100%;
    overflow: hidden;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    .modal-slider_wrapper .modal-slider .slide .slide-img:before {
      content: "";
      float: left;
      padding-top: 67%; }

.main-picture img {
  display: block;
  width: 100%; }

.main-link {
  position: relative;
  min-height: 100px; }
  .main-link.blue {
    background-color: #1e4aa7; }
  .main-link.green {
    background-color: #4db848; }
  .main-link.black {
    background-color: #000; }
  .main-link.white {
    background-color: #fff; }
    .main-link.white .title {
      color: #000; }
    .main-link.white .chevron {
      color: #000; }
  .main-link .main-link_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    .main-link .main-link_bg.opacity-2 {
      opacity: 0.25; }
    .main-link .main-link_bg.opacity-4 {
      opacity: 0.4; }
  .main-link .main-link_ico {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 20px;
    width: 60px;
    height: 60px;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .main-link .title {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 20px;
    color: #fff; }
    .main-link .title.with-ico {
      left: 95px; }
  .main-link .chevron {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms; }
  .main-link.active .chevron {
    -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg); }
  .main-link a {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; }

.picking {
  display: none;
  background-color: #4db848; }
  .picking .label {
    display: block;
    color: #c6e7c5;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px; }
    .picking .label:not(:first-child) {
      margin-top: 3rem; }
  .picking .field {
    margin-top: 2rem; }
  .picking input[type="checkbox"] {
    display: none; }
    .picking input[type="checkbox"]:checked + .checkbox {
      color: #4db848;
      background-color: #fff; }
  .picking .checkbox {
    position: relative;
    display: inline-block;
    width: 86px;
    height: 35px;
    -webkit-border-radius: 18px;
            border-radius: 18px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center; }
    .picking .checkbox:not(:last-child) {
      margin-right: 5px; }
    .picking .checkbox span {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 0;
      right: 0; }
  .picking .range {
    position: relative;
    border: none;
    background: none;
    margin-top: 2rem; }
    .picking .range:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: #c6e7c5; }
    .picking .range:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 100%;
      background-color: #c6e7c5; }
    .picking .range .ui-widget-header {
      height: 4px;
      top: 50%;
      margin-top: -2px; }
    .picking .range .range-line {
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #c6e7c5; }
    .picking .range span {
      width: 23px;
      height: 30px;
      margin-left: -11.5px;
      top: -9px;
      -webkit-border-radius: 12px;
              border-radius: 12px;
      border: 2px solid #fff;
      background-color: #4db848; }
  .picking .range-sides:after {
    display: table;
    content: " ";
    clear: both; }
  .picking .range-sides .range-side {
    position: relative;
    float: left;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2rem; }
    .picking .range-sides .range-side:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #fff; }
    .picking .range-sides .range-side.max {
      float: right; }
  .picking .submit {
    color: #4db848;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.72px;
    margin-bottom: 3rem;
    margin-top: 4.5rem; }
    .picking .submit i {
      margin-left: 10px; }

.caption {
  position: relative;
  background-color: #1e4aa7;
  padding: 1.6rem 0; }

.controls-wrapper {
  position: relative;
  overflow: auto; }

.controls {
  white-space: nowrap;
  font-size: 0; }
  .controls .control {
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
    color: #9d9fa1;
    padding-left: 2rem;
    padding-right: 2rem; }
    .controls .control:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #e6e6e6; }
    .controls .control span {
      display: inline-block;
      position: relative;
      padding-top: 17px;
      padding-bottom: 17px; }
    .controls .control.active {
      color: #000; }
      .controls .control.active span:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #4db848;
        z-index: 1; }

.about-sections .section {
  display: none; }
  .about-sections .section.active {
    display: block; }

.history-slider_title {
  color: #000;
  font-size: 1.6rem;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 2rem; }

.history-slider {
  position: relative; }
  .history-slider .slide .slide-img {
    width: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
    .history-slider .slide .slide-img:before {
      content: "";
      float: left;
      padding-top: 50%; }
  .history-slider .slide-name {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 200px;
    padding: 10px 20px;
    background-color: #1e4aa7;
    z-index: 1;
    color: #fff;
    font-size: 1.2rem;
    line-height: 20px;
    pointer-events: none; }
    .history-slider .slide-name i {
      margin-right: 5px; }
    .history-slider .slide-name .bold {
      font-weight: 700;
      text-transform: uppercase; }
    .history-slider .slide-name .light {
      font-weight: 400; }

.slider-counter_wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 80px 80px;
  border-color: transparent transparent #ffffff transparent;
  z-index: 1;
  pointer-events: none; }
  .slider-counter_wrapper .slider-counter {
    position: absolute;
    top: 45px;
    right: 5px;
    color: #a4c7ff;
    font-size: 1.8rem;
    font-weight: 700; }
    .slider-counter_wrapper .slider-counter .count {
      font-weight: 700;
      color: #1e4aa7;
      font-size: 2.8rem; }

.media {
  background-color: #f8f8f8;
  padding-top: 1rem;
  padding-bottom: 3rem; }
  .media .media-item {
    margin-top: 2rem; }
  .media .media-img {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
    .media .media-img:before {
      content: "";
      float: left;
      padding-top: 50%; }
    .media .media-img .overlay {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 0;
      right: 0;
      font-size: 5rem;
      color: #fff;
      text-align: center; }
  .media .media-text {
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .media .media-title {
    color: #1e4aa7;
    font-size: 1.4rem;
    font-weight: 700;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.2; }
  .media .media-date {
    padding-left: 2rem;
    padding-right: 2rem;
    color: #9d9fa1;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem; }
  .media .media-social {
    margin-top: 2rem;
    padding-left: 2rem; }
    .media .media-social .social-link {
      display: inline-block;
      width: 24px;
      height: 24px;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      background-position: center center;
      background-repeat: no-repeat; }
      .media .media-social .social-link:not(:last-child) {
        margin-right: 1.5rem; }
      .media .media-social .social-link.vk {
        background-color: #48729e;
        background-image: url("../img/vk.png"); }
      .media .media-social .social-link.fb {
        background-color: #3b5998;
        background-image: url("../img/fb.png"); }
      .media .media-social .social-link.ok {
        background-color: #eb722e;
        background-image: url("../img/ok.png"); }

.records .teaser {
  background-color: #0188d1;
  padding-top: 3rem; }
  .records .teaser img {
    display: block;
    width: 100%; }

.records .records-ico {
  width: 60px;
  height: 60px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto; }

.records .teaser-title {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem; }

.records-slider {
  position: relative; }
  .records-slider .slide img {
    display: block;
    width: 100%; }
  .records-slider .slider-counter_wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 80px 80px;
    border-color: transparent transparent #ffffff transparent;
    z-index: 1;
    pointer-events: none; }
    .records-slider .slider-counter_wrapper .slider-counter {
      position: absolute;
      top: 45px;
      right: 5px;
      color: #a4c7ff;
      font-size: 1.8rem;
      font-weight: 700; }
      .records-slider .slider-counter_wrapper .slider-counter .count {
        font-weight: 700;
        color: #1e4aa7;
        font-size: 2.8rem; }

.winners {
  padding-top: 1rem;
  padding-bottom: 3rem; }
  .winners .title {
    text-transform: uppercase;
    margin-top: 3rem; }
  .winners .winners-category {
    border-top: 2px solid #1e4aa7;
    margin-top: 1.5rem; }
  .winners .winner {
    border-bottom: 1px solid #e6e6e6;
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .winners .winner .winner-photo {
      float: left;
      height: 65px;
      width: 80px;
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }
  .winners .winner-info {
    margin-left: 9.5rem; }
    .winners .winner-info .info-name {
      color: #1e4aa7;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.2; }
    .winners .winner-info .info-label {
      color: #4a4c50;
      font-weight: 400;
      font-size: 1rem;
      margin-top: 2rem; }
    .winners .winner-info .info-value {
      color: #000;
      font-size: 1.4rem;
      font-weight: 400;
      margin-top: 1rem; }

.section-header {
  padding-left: 70px;
  margin-top: 2rem; }
  .section-header .section-header_container {
    position: relative;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .section-header.objects-header .section-header_container {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem; }
  .section-header .section-header_ico {
    position: absolute;
    left: -50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-image: url("../img/volgar-logo-round-png.png");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover; }
  .section-header .section-header_title {
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase; }
  .section-header .section-header_desc {
    color: #9d9fa1;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 5px; }

.objects {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #f8f8f8; }
  .objects .objects-item {
    margin-top: 2rem; }
  .objects .objects-img {
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden; }
    .objects .objects-img:before {
      content: "";
      float: left;
      padding-top: 50%; }
  .objects .objects-controller {
    position: relative;
    color: #1e4aa7;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem; }
    .objects .objects-controller i {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 20px;
      font-size: 18px;
      -webkit-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms; }
    .objects .objects-controller.active i {
      -webkit-transform: translateY(-50%) rotate(180deg);
          -ms-transform: translateY(-50%) rotate(180deg);
              transform: translateY(-50%) rotate(180deg); }
  .objects .objects-info {
    display: none;
    background-color: #fff; }
    .objects .objects-info .objects-info_container {
      border-top: 1px solid #e6e6e6; }
    .objects .objects-info .checker {
      position: relative;
      padding-left: 45px;
      color: #1e4aa7;
      font-size: 1.2rem;
      margin-top: 2rem; }
      .objects .objects-info .checker .checker-light {
        display: block;
        font-weight: 400; }
      .objects .objects-info .checker .checker-bold {
        display: block;
        font-weight: 700; }
      .objects .objects-info .checker i {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 10px;
        font-size: 2.4rem; }
    .objects .objects-info p {
      margin: 2rem 0; }
